<eda-dialog [inject]="dialog">
  <!-- class="flex-1 px-6 overflow-y-auto" -->
  <div body>
    <div class="grid gap-4"
      [ngClass]="{
        'grid-cols-[1fr_1fr_1fr_3fr]': showFormatDateSection,
        'grid-cols-[1fr_1fr_3fr]': !showFormatDateSection}
      ">
      <!-- Agregaciones -->
      <div class="">
        <h4 i18n="@@agregacionesH4">Agregaciones</h4>
        <div class="aggregation-list mt-10">
          @for (aggregation of aggregationsTypes; track aggregation) {
            <div class="aggregation-box"
                (click)="addAggregation(aggregation)"
                [ngClass]="aggregation.selected === true ? 'aggregation-active' : ''">
                <span>{{getAggName(aggregation.value)}}</span>
            </div>
          }
        </div>
      </div>

      <!-- Ordernacion -->
      <div class="">
        <h4 i18n="@@ordenacionH4">Ordenación</h4>
        <div class="aggregation-list mt-10">
          @for (ordenation of ordenationTypes; track ordenation) {
            <div class="aggregation-box"
              (click)="addOrdenation(ordenation)"
              [ngClass]="ordenation.selected === true ? 'aggregation-active' : ''">
              <span>{{ordenation.display_name | uppercase}}</span>
            </div>
          }
        </div>
      </div>

      <!-- FormatDate -->
      @if (showFormatDateSection) {
        <div class="">
          <h4 i18n="@@dateFormatH4">Format</h4>
          <div class="aggregation-list mt-10">
            <p-dropdown
              [(ngModel)]="formatDate"
              [options]="formatDates"
              [optionLabel]="'display_name'"
              [autoDisplayFirst]="false"
              [showClear]="true"
              [style]="{'min-width': '100%'}"
              (onChange)="addFormatDate()"
              class="w-100"
              appendTo="body">
            </p-dropdown>
          </div>

          <div class="mt-5 ml-4" [pTooltip]="cumulativeSumTooltip" tooltipPosition="left">
            <h6 i18n="@@cumulativeSum">Suma acumulativa</h6>
            <p-inputSwitch
              id="cumulativeSum"
              [(ngModel)]="cumulativeSum"
              (onChange)="handleCumulativeSum()"
              [disabled]="!cumulativeSumAllowed()">
            </p-inputSwitch>
          </div>
        </div>
      }
      <div>
        <h4 i18n="@@filtrarH4">Filtrar</h4>
        <div class="grid grid-cols-2 gap-4 items-start  mt-10">
          <div class="flex flex-col gap-4">
            <!-- Tipo de filtro  -->
            <div>
              <span class="p-float-label">
                <p-dropdown id="types" [options]="filter.types" [(ngModel)]="filterSelected" optionLabel="label"
                  [autoDisplayFirst]="false" [style]="{'width': '95%'}" [showClear]="true"
                  (onChange)="handleFilterChange(filterSelected)">
                </p-dropdown>
                <label i18n="@@tiposFiltrosLabel" for="types">Tipos de filtro</label>
              </span>
            </div>
            <!-- Switch y botón -->
            <div class="flex justify-between items-center w-full mt-4 w-[95%]">
              <div class="flex items-center gap-2">
                <label i18n="@@optionsLabel" for="filter_options">Opciones</label>
                <br>
                <p-inputSwitch id="filter_options" [(ngModel)]="filter.switch" [disabled]="display.switchButton"
                  (onChange)="loadDropDrownData()">
                </p-inputSwitch>
              </div>
  
              <button class="flex items-center px-4 py-2 border rounded-md" (click)="addFilter()"
                [disabled]="display.filterButton">
                <span i18n-label="@@addFilterBtn">Añadir filtro</span>
              </button>
            </div>
          </div>
  
          <!-- Valores de los filtros -->
          <div class="flex flex-col gap-2">
            @if (!!display.calendar && !filter.switch) {
            <eda-date-picker #myCalendar class="h-[3.2rem]" (onDatesChanges)="processPickerEvent($event)"></eda-date-picker>
            }
            @if (!display.calendar && !filter.switch) {
            <span class="p-float-label">
              <input id="float-input1" class="h-[3.2rem] w-full rounded-md border px-2 py-4" [type]="inputType"
                [(ngModel)]="filterValue.value1" (input)="handleValidForm({value1: filterValue.value1})" pInputText>
              <label i18n="@@valor1Label">Valor 1</label>
            </span>
            }
            @if (filter.switch) {
            <span class="p-float-label">
              <p-multiSelect [options]="dropDownFields" [(ngModel)]="filterValue.value1" [virtualScroll]="true"
                class="h-[3.2rem]" [itemSize]="34" [filter]="false" [style]="{width:'100%'}" [panelStyle]="{minWidth:'100%'}"
                (onChange)="handleValidForm({value1: filterValue.value1})" defaultLabel="Selecciona..." [loading]="loading"
                [selectionLimit]="limitSelectionFields" id="float-input1">
              </p-multiSelect>
              <label i18n="@@valor1Label">Valor 1</label>
            </span>
            }
            <!-- Segundo valor por si el filtro es between  -->
            @if (!!display.between) {
            @if (!display.calendar && !filter.switch) {
            <span class="p-float-label mt-4">
              <input id="float-input2" class="h-[3.2rem] w-full rounded-md border px-2 py-4" [type]="inputType"
                [(ngModel)]="filterValue.value2" (input)="handleValidForm({value2: filterValue.value2})" pInputText>
              <label i18n="@@valor2Label">Valor 2</label>
            </span>
            }
            @if (filter.switch) {
            <span class="p-float-label mt-4">
              <p-multiSelect [options]="dropDownFields" [(ngModel)]="filterValue.value2" [virtualScroll]="true" [itemSize]="34"
                [filter]="false" [style]="{width:'100%'}" [panelStyle]="{minWidth:'100%'}"
                (onChange)="handleValidForm({value2: filterValue.value2})" defaultLabel="Selecciona..."
                [selectionLimit]="limitSelectionFields" id="float-input2">
              </p-multiSelect>
              <label i18n="@@valor2Label">Valor 2</label>
            </span>
            }
            }
          </div>
        </div>
        <!-- Filter List -->
        @if (filter.forDisplay.length > 0) {
          <div class="mt-6">
            <h5 i18n="@@FiltersH4">Filtros</h5>
            <div class="w-full h-[23vh] mt-2 foot-card bg-gray-100 border-solid border-2 rounded-md">
              <p-scrollPanel styleClass="custombar1">
                @for (filtre of filter.forDisplay; track filtre) {
                  @if (filtre.filter_elements.length === 0) {
                  <p class="flex items-center">
                    <b class="m-1">
                      * {{ selectedColumn.display_name.default }} is
                      {{ filtre.filter_type }}
                    </b>
                    <i class="pi pi-times pointer" (click)="removeFilter(filtre)"></i>
                  </p>
                  }
    
                  @if (filtre.filter_elements.length === 1) {
                  <p class="flex items-center">
                    <b class="m-1">
                      * {{ selectedColumn.display_name.default }}
                      {{ filtre.filter_type }}
                      "{{ filtre.filter_elements[0].value1 }}"
                    </b>
                    <i class="pi pi-times pointer" (click)="removeFilter(filtre)"></i>
                  </p>
                  }
    
                  @if (filtre.filter_elements.length === 2) {
                  <p class="flex items-center">
                    <b class="m-1">
                      * {{ selectedColumn.display_name.default }}
                      {{ filtre.filter_type }}
                      "{{ filtre.filter_elements[0].value1}}" Y "{{ filtre.filter_elements[1].value2 }}"
                    </b>
                    <i class="pi pi-times pointer" (click)="removeFilter(filtre)"></i>
                  </p>
                  }
                }
              </p-scrollPanel>
            </div>
          </div>
        }
      </div>
    </div>
  </div>

  <div footer>
    <div class="flex justify-end p-2 border-t gap-1.5">
      <button class="flex items-center px-4 py-2 border rounded-md" (click)="duplicateColumn()">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 16H6a2 2 0 01-2-2V6a2 2 0 012-2h8a2 2 0 012 2v2m-6 12h8a2 2 0 002-2v-8a2 2 0 00-2-2h-8a2 2 0 00-2 2v8a2 2 0 002 2z" />
        </svg>
        <span i18n-label="@@duplicateColumnButton">Duplicar columna</span>
      </button>

      <button class="flex items-center gap-2 px-4 py-2 bg-gradient-to-r from-[#00B0BA] to-teal-400 text-white rounded-md" [disabled]="!display.filterButton" (click)="closeDialog()">
        <i class="fa fa-check"></i> <span i18n-label="@@guardarButton">Confirmar</span>
      </button>
    </div>
  </div>
</eda-dialog>

<eda-dialog2 *ngIf="display.duplicateColumn" [display]="display.duplicateColumn" header="Duplicar columna" width="60vw" height= "auto" (close)="onCancelDuplicateColumn()" (apply)="saveDuplicatedColumn()">
  <div content>
    <!-- Duplicar columna -->
    <div class="col-12">
      <span>
        <label i18n="@@duplicatedColumnNameLabel" for="duplicatedColumnName" class="text-lg mr-6">
          Nombre columna duplicada
        </label>
        <input pInputText id="duplicatedColumnName" [(ngModel)]="duplicatedColumnName" type="text"  />
      </span>
    </div>
  </div>
</eda-dialog2>