/* You can add global styles to this file, and also import other style files */
@import "~leaflet/dist/leaflet.css";


@import "/assets/sass/css/custom.css";

/* .custom  .leaflet-popup-content-wrapper, .leaflet-popup-tip {
  background: rgba(47, 79, 79, 0.911);
  color: rgb(253, 251, 251);
  box-shadow: 0 3px 14px rgba(0,0,0,0.4);
} */

