/*******************/
/*single column*/
/*******************/
.single-column .left-sidebar {
  display: none;
}

.single-column .page-wrapper {
  margin-left: 0px;
}

.fix-width {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

/*******************
   Main sidebar
   ******************/
.left-sidebar {
  position: absolute;
  width: 240px;
  height: 100%;
  top: 0px;
  z-index: 20;
  /* padding-top: 70px; */
  background: #fff;
  -webkit-box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
  box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
}

.out-sidebar {
    position: absolute;
    width: 100%;
    height: 100%;
    margin-left: 240px;
    top: 0;
    z-index: 999;
    background:transparent;
}

.fix-sidebar .left-sidebar {
  position: fixed;
}

/*******************
   use profile section
   ******************/
.sidebar-nav .user-profile > a img {
  width: 30px;
  border-radius: 100%;
  margin-right: 10px;
}

.sidebar-nav .user-profile > ul {
  padding-left: 40px;
}

/*******************
   sidebar navigation
   ******************/
.scroll-sidebar {
  height: calc(100% - 70px);
}

.scroll-sidebar.ps .ps__scrollbar-y-rail {
  left: 2px;
  right: auto;
  background: none;
  width: 10px;
  /* If using `left`, there shouldn't be a `right`. */
}

.collapse.in {
  display: block;
}

.sidebar-nav {
  background: #fff;
  /* padding: 15px 0 0 0px; */
}

.sidebar-nav ul {
  margin: 0px;
  padding: 0px;
}

.sidebar-nav ul li {
  list-style: none;
}

.sidebar-nav ul li a {
  color: #95a2b4 !important;
  padding: 8px 35px 8px 15px;
  display: block;
  font-size: 14px;
  font-weight: 400;
}


.sidebar-nav ul li a.active i,
.sidebar-nav ul li a:hover i {
  color: #93cee2 !important;
}

.sidebar-nav ul li a.active,
.sidebar-nav ul li a:hover {
  color: #93cee2 !important;
}

.sidebar-nav ul li,
.sidebar-nav ul li {
  color: #95a2b4 !important;
}

.sidebar-nav ul li.active,
.sidebar-nav ul li:hover {
  color: #93cee2 !important;
}



.sidebar-nav ul li a.active {
  font-weight: 500;
  color: white;
}

.sidebar-nav ul li ul {
  padding-left: 28px;
}

.sidebar-nav ul li ul li a {
  padding: 7px 35px 7px 15px;

}

.sidebar-nav ul li ul ul {
  padding-left: 15px;
}

.sidebar-nav ul li.nav-small-cap {
  font-size: 12px;
  margin-bottom: 0px;
  padding: 14px 14px 14px 20px;
  color: #263238;
  font-weight: 500;
}

.sidebar-nav ul li.nav-devider {
  height: 1px;
  background: rgba(120, 130, 140, 0.13);
  display: block;
  margin: 15px 0;
}

.sidebar-nav > ul > li > a i {
  width: 31px;
  font-size: 24px;
  display: inline-block;
  vertical-align: middle;
  color: #555f6d;
}

.sidebar-nav > ul > li > a .label {
  float: right;
  margin-top: 6px;
}

.sidebar-nav > ul > li > a.active {
  font-weight: 400;
  /* background: #ffffff; */
  color: #26c6da;
}

.sidebar-nav > ul > li {
  margin-bottom: 5px;
}

.sidebar-nav > ul > li.active > a {
  color: white;
  font-weight: 500;
}

.sidebar-nav > ul > li.active > a i {
  color: white;
}

.sidebar-nav .waves-effect {
  transition: none;
  -webkit-transition: none;
  -o-transition: none;
}

.sidebar-nav .has-arrow {
  position: relative;
}

.sidebar-nav .has-arrow::after {
  position: absolute;
  content: "";
  width: 7px;
  height: 7px;
  border-width: 1px 0 0 1px;
  border-style: solid;
  border-color: #687384;
  right: 1em;
  -webkit-transform: rotate(135deg) translate(0, -50%);
  -ms-transform: rotate(135deg) translate(0, -50%);
  -o-transform: rotate(135deg) translate(0, -50%);
  transform: rotate(135deg) translate(0, -50%);
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  -o-transform-origin: top;
  transform-origin: top;
  top: 47%;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.sidebar-nav .active > .has-arrow::after,
.sidebar-nav li > .has-arrow.active::after,
.sidebar-nav .has-arrow[aria-expanded="true"]::after {
  -webkit-transform: rotate(-135deg) translate(0, -50%);
  -ms-transform: rotate(-135deg) translate(0, -50%);
  -o-transform: rotate(-135deg) translate(0, -50%);
  top: 45%;
  width: 7px;
  transform: rotate(-135deg) translate(0, -50%);
}

/****************
   When click on sidebar toggler and also for tablet
   *****************/
@media (min-width: 768px) {
  .mini-sidebar-2 .sidebar-nav #sidebarnav li {
    position: relative;
  }

  .mini-sidebar-2 .sidebar-nav #sidebarnav > li > ul {
    position: absolute;
    left: 70px;
    top: 46px;
    width: 260px;
    padding-bottom: 10px;
    z-index: 1001;
    background: #242a33;
    /* box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 2px 1px -1px rgba(0, 0, 0, 0.1); */
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.1);
    border-bottom-right-radius: 5px;
    display: none;
    padding-left: 1px;
  }

  .mini-sidebar-2 .user-profile .profile-img {
    width: 45px;
  }

  .mini-sidebar-2 .user-profile .profile-img .setpos {
    top: -35px;
  }

  .mini-sidebar-2.fix-sidebar .left-sidebar {
    position: fixed;
  }

  .mini-sidebar-2 .sidebar-nav #sidebarnav > li:hover > ul {
    height: auto !important;
    max-height: 500px;
    overflow: auto;
  }

  .mini-sidebar-2 .sidebar-nav #sidebarnav > li:hover > ul,
  .mini-sidebar-2 .sidebar-nav #sidebarnav > li:hover > ul.collapse {
    display: block;
  }

  .mini-sidebar-2 .sidebar-nav #sidebarnav > li > a.has-arrow:after {
    display: none;
  }

  .mini-sidebar-2 .left-sidebar {
    width: 70px;
  }

  .mini-sidebar-2 .sidebar-nav #sidebarnav .user-profile > a {
    padding: 12px 20px;
  }

  .mini-sidebar-2 .scroll-sidebar {
    padding-bottom: 0px;
    position: absolute;
  }

  .mini-sidebar-2 .hide-menu,
  .mini-sidebar-2 .nav-small-cap,
  .mini-sidebar-2 .sidebar-footer,
  .mini-sidebar-2 .user-profile .profile-text,
  .mini-sidebar-2 > .label {
    display: none;
  }

  .mini-sidebar-2 .nav-devider {
    width: 70px;
  }

  .mini-sidebar-2 .sidebar-nav {
    background: transparent;
  }

  .mini-sidebar-2 .sidebar-nav #sidebarnav > li > a {
    padding: 12px 24px;
    width: 70px;
  }

  .mini-sidebar-2 .sidebar-nav #sidebarnav > li:hover > a {
    width: 330px;
    background: #242a33;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.178), 0 2px 1px -1px rgba(0, 0, 0, 0.1);
  }

  .mini-sidebar-2 .sidebar-nav #sidebarnav > li:hover > a .hide-menu {
    display: inline;
  }

  .mini-sidebar-2 .sidebar-nav #sidebarnav > li:hover > a .label {
    display: none;
  }
}

@media (max-width: 767px) {
  .mini-sidebar-2 .page-wrapper {
    padding-top: 0% !important;
  }

  .mini-sidebar-2 .left-sidebar {
    position: fixed;
  }

  .mini-sidebar-2 .left-sidebar,
  .mini-sidebar-2 .sidebar-footer {
    left: 0px;
  }

  .mini-sidebar-2.show-sidebar .left-sidebar,
  .mini-sidebar-2.show-sidebar .sidebar-footer {
    left: 0px;
  }
}

#sidebar.hidden {
  margin-left: -240px;
}

#sidebar-btn-toggle {
  position: fixed;
  top: 0;
  z-index: 10;
  /* padding: 25px; */
  left: 0;
  margin-top: 5px;
  margin-left: 15px;
  width: 50px;
}



/* SDA CUSTOM */ .mini-sidebar-2 .sidebar-nav #sidebarnav > li > a {
/* SDA CUSTOM */    padding: 12px 20px;
/* SDA CUSTOM */ }
