<eda-dialog [inject]="dialog">
  <div body>

    <div class="grid">

      <div class="col-12">

        <div style="margin: 1em;">
          <p-radioButton name="groupname" value="users" [label]="usersLabel" [(ngModel)]="type"
            (onClick)="resetValues()">
          </p-radioButton>
        </div>
        <div style="margin: 1em;">
          <p-radioButton name="groupname" value="groups" [label]="groupsLabel" [(ngModel)]="type"
            (onClick)="resetValues()"></p-radioButton>
        </div>
      </div>

      <!-- USERS -->

      <div *ngIf="type==='users'" class="col-12">
        <p-multiSelect [options]="users" [(ngModel)]="selectedUsers" [virtualScroll]="true" itemSize="30"
          [style]="{'vertical-align' : 'bottom', 'margin-left' : '15px', width: '60%' }"
          [panelStyle]="{minWidth:'15em'}" maxSelectedLabels="1" [defaultLabel]="usersDefaultLabel">
        </p-multiSelect>
      </div>

      <!-- GROUPS -->
      <div *ngIf="type==='groups'" class="col-12">
        <p-multiSelect [options]="roles" [(ngModel)]="selectedRoles" [virtualScroll]="true" itemSize="30"
          [style]="{'vertical-align' : 'bottom', 'margin-left' : '15px', width: '60%' }"
          [panelStyle]="{minWidth:'15em'}" maxSelectedLabels="1" [defaultLabel]="groupsDefaultLabel">
        </p-multiSelect>
      </div>

      <div *ngIf="type" class="col-12">
        <p-multiSelect [options]="values" [(ngModel)]="selectedValues" [virtualScroll]="true" itemSize="30"
          [style]="{'vertical-align' : 'bottom', 'margin-left' : '15px', width: '60%' }"
          [panelStyle]="{minWidth:'15em'}" maxSelectedLabels="1" defaultLabel="ID" [disabled]="all">
        </p-multiSelect>
      </div>

      <!-- COMMON -->

      <div style="margin-left: 1em;" *ngIf="type" class="col-12">
        <h6 i18n="@@AllTags">Todos</h6>
        <p-inputSwitch [(ngModel)]="all" (onChange)="syncronizeAllNoneValuesAll()"></p-inputSwitch>
      </div>
      <!--- NINGUNO: comentat degut a dubtes sobre com implementar-ho. Cap vol dir que no veu cap o que s'ha d'ocultar, pero no filtrar per un usuari..... ¿?¿?   -->
      <div style="margin-left: 1em;" *ngIf="type" class="col-12">
        <h6 i18n="@@NoneTags">Ninguno</h6>
        <p-inputSwitch [(ngModel)]="none"  (onChange)="syncronizeAllNoneValuesNone()"></p-inputSwitch>
      </div>

      <!--- DINAMICO:    -->
      <div style="margin-left: 1em;" *ngIf="type" class="col-12">
        <h6 i18n="@@DynamicTags">Dinámico</h6>
        <p-inputSwitch [(ngModel)]="dynamic"  (onChange)="syncronizeAllNoneValuesDynamic()"></p-inputSwitch>
      </div>

      <div  *ngIf="dynamic">
        <h5 class="title-datamodel" i18n="@@inputConsultaDinamica">Consulta dinámica</h5>
        <p><input pInputText type="text" size="40" [(ngModel)]="dynamicQuery" ></p>
      </div>
    </div>

  </div>

  <div footer>

    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix text-right">
      <button type="button" pButton (click)="savePermission()"
        [disabled]="( (selectedUsers.length < 1 && selectedRoles.length < 1) || (selectedValues.length < 1 && !all && !none   ) )  && !dynamic "
        class="ui-button" icon="fa fa-check" i18n-label="@@guardarBtn" label="Confirmar"
        id="eda_column_permission_confirmar"></button>
      <button type="button" pButton (click)="closeDialog()" class="p-button-raised p-button-danger" i18n-label="@@cerrarBtn"
        label="Cerrar"></button>
    </div>


  </div>
</eda-dialog>