
.logs-container {
    margin: 2rem;
}

.logs-title {
    font-weight: bold;
}

.logs-button {
    margin-left: 1rem;
}

.logs-panel{
    margin-top: 2rem;
}

.logs-text {
    font-weight: bold;
}

.btn-corporate-gradient       { background:  var(--corporate-primary); color: white; }
.btn-corporate-gradient:hover { background: linear-gradient(to right, var(--corporate-primary), var(--corporate-primary-gradient));;
 }