.download-container{
  width: 49%;
  display: flex;
  border-radius: 5px;
  border: 1px solid #808080;
  min-height: 2rem;
  padding: 0.5rem;
  margin-left: 0.4rem;
  margin-top: -15px;
}

* {
  box-sizing: border-box;
}
#dashboardWrapper{
  margin:0.5em;
  margin-left:-0.5em;

}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul li {
  border: 1px solid rgb(170, 170, 170);
  border-radius: 5px;
  margin-top: 1px; /* Prevent double borders */
  background-color: #ffffff;
  padding: 5px;
  text-decoration: none;
  font-size: 12;
  color: rgb(48, 48, 48);
  display: block;
  position: relative;
}

ul li:hover {
  background-color: #eee;
}

.functions-button{
  color: #fff;
  background-color: #048096;
  border: 0;
  transition: .4s;
  cursor: pointer;
}

.functions-button:hover{
  color: #fff;
  background-color: #046677;
  border: 0;
}