<div class="container mx-auto my-10 py-10 px-4 bg-background rounded-lg">
  <div class="flex justify-between items-center mb-6">
    <h1 class="text-3xl font-bold tracking-tight">Gestión de DataSources</h1>
    <button (click)="handleCreateDataSource()" class="bg-[#00BFB3] hover:bg-[#00BFB3]/90 px-4 py-2 rounded font-semibold text-white flex items-center">
      <eda-icon name="plus" class="mr-2"></eda-icon>
      Crear DataSource
    </button>
  </div>

  <div class="flex items-center mb-6">
    <input [(ngModel)]="searchTerm" placeholder="Buscar datasources..." class="border p-2 rounded w-full" />
  </div>

  <div class="border rounded-lg overflow-hidden">
    <table class="w-full">
      <thead class="bg-gray-100">
        <tr>
          <th (click)="handleSort('name')" class="cursor-pointer p-3">Nombre</th>
          <th class="p-3 text-right">Acciones</th>
        </tr>
      </thead>
      <tbody class="font-semibold">
        @for (dataSource of paginatedDataSources; track dataSource._id) {
        <tr>
          <td class="p-3 cursor-pointer" (click)="handleEditDataSource(dataSource)">{{ dataSource.model_name }}</td>
          <td class="p-3 text-right">
            <button class="rounded-md p-2 cursor-pointer hover:bg-muted" (click)="handleEditDataSource(dataSource)">
              <eda-icon name="pencil"></eda-icon>
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>

  <p class="mt-1 font-semibold text-right text-gray-500">{{ filteredDataSources.length }} datasources encontrados</p>
  
  <div class="flex justify-center items-center gap-2 mt-4">
    <button (click)="setPage(currentPage - 1)" [disabled]="currentPage === 1" class="px-4 py-2 font-semibold rounded">
      <eda-icon name="chevron-left"></eda-icon>
    </button>
    <span class="font-semibold">Página {{ currentPage }} de {{ totalPages() }}</span>
    <button (click)="setPage(currentPage + 1)" [disabled]="currentPage === totalPages()" class="px-4 py-2 font-semibold rounded">
      <eda-icon name="chevron-right"></eda-icon>
    </button>
  </div>
</div>
