
.gridster {
    background-color: transparent; 
    border: 1px solid #13d60c00;  /* Líneas de borde alrededor de cada ítem */
    /* position: static; */
    width: 96%;
    /* Es el valor por el cual dara espacio para escribir la query  */
    /* width: 65%;  */
    height: 55%;
}

.gridster .gridster-column {
    border-left: 1px solid rgb(204, 197, 197);
    border-right: 1px solid rgb(204, 197, 197);;
    outline: 1px solid rgb(204, 197, 197);;
}
.gridster .gridster-row {
    border-top: 1px solid rgb(204, 197, 197);;
    border-bottom: 1px solid rgb(204, 197, 197);;
    outline: 1px solid rgb(204, 197, 197);
}

.gridster-item {
    background-color: #b4b0b0; /* Cambia este valor por el color que desees */
    border: 1px solid #b87070;  /* Líneas de borde alrededor de cada ítem */
    cursor: pointer;
    padding: 0 10px;
}

/* Cambiar el color de la previsualización del item */
.gridster-preview {
    background-color: transparent; /* Cambia este valor por el color que desees */
}

/* Ajustar el tamaño del botón */
.small-button .p-button {
    padding: 3px 6px !important;  /* Reduce el padding (espaciado interno) */
    height: 15px !important;      /* Reduce la altura del botón */
    min-width: 20px !important;   /* Ajusta el ancho mínimo del botón */
    font-size: 7px !important;   /* Cambia el tamaño de la fuente (si lo deseas) */
}

/* Asegurarse de que el contenedor también sea pequeño */
.small-button .p-selectbutton {
    height: 25px !important;      /* Reduce la altura */
    padding: 3.5px 0px !important;  /* Ajusta el padding */
}





