<!-- <p>Inicio del la malla de filtros</p> -->

<h1>Inicio</h1>
<!-- <p-selectButton [options]="selectedButton" [(ngModel)]="selectedButtonInitialValue"></p-selectButton> -->
<h5>Aplicación en ejecución</h5>

<div>
    <gridster class="gridster" [options]="options">
        <gridster-item [item]="item" *ngFor="let item of dashboard" class="gridster-item">
        <div class="d-flex justify-content-between align-items-center">
            <div class="button-holder">

                <p-selectButton 
                    [options]="selectedButton" 
                    [(ngModel)]="item.value"
                    [disabled]="(item.x==0 && item.y==0)"
                    class="small-button"
                ></p-selectButton>

            </div>
            <h5>{{item.filter_column}}</h5>
        </div>
        </gridster-item>
    </gridster>
</div>

<!-- Para usar en caso de pruebas -->
<!-- <div class="button-holder" *ngIf="!(item.x==0 && item.y==0)">
    <button
    mat-mini-fab
    (mousedown)="removeItem($event, item)"
    (touchstart)="removeItem($event, item)"
    >
    <mat-icon>delete</mat-icon>
    </button>
</div> -->