

<div class="eda-chart" style="overflow: auto;">
    <canvas *ngIf="!!update"
        #edaChart=base-chart
        baseChart
        [data]="inject.chartData"
        [datasets]="inject.chartDataset"
        [labels]="inject.chartLabels"
        [type]="inject.chartType"
        [plugins]="chartPlugins"
        [options]="inject.chartOptions"
        [legend]="inject.chartLegend"
        (chartHover)="chartHovered($event)"
    >
    <!-- [colors]="inject.chartColors" -->
    </canvas>
</div>





