

<div class="eda-chart">
    <canvas *ngIf="!!update" #edaChart=base-chart
            baseChart
            [data]="inject.chartData"
            [datasets]="inject.chartDataset"
            [labels]="inject.chartLabels"
            [chartType]="inject.chartType"
            [options]="inject.chartOptions"
            [colors]="inject.chartColors"
            [legend]="inject.chartLegend"
            [plugins]="inject.chartPlugins"
            (chartClick)="chartClicked($event)"
            (chartHover)="chartHovered($event)"
    >
    </canvas>

</div>





