

<div class="eda-chart">
    <canvas *ngIf="!!update" #edaChart=base-chart
            baseChart
            [data]="inject.chartData"
            [datasets]="inject.chartDataset"
            [labels]="inject.chartLabels"
            [type]="inject.chartType"
            [plugins]="chartPlugins"
            [options]="inject.chartOptions"
            [colors]="inject.chartColors"
            [legend]="inject.chartLegend"
            (chartHover)="chartHovered($event)"
    >
    </canvas>
</div>





