.sample-text{
  border: 1px solid #808080;
  padding: 6em;
}

.card-div{
  margin: 1em;
  width: 15%;
}

.div-card-body{
  height: 40vh;
}

.card-simulator{
  border-radius: 5px;
  padding: 1em;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);;
}