
#API
eda/eda_api/config/
eda/eda_api/.vscode/
eda/eda_api/node_modules/
eda/eda_api/dist/
eda/eda_api/logs/
eda/eda_api/package-lock.json
eda/eda_api/config/custom
eda/eda_api/config/database.config.js
eda/eda_api/config/database.config-dist.js
eda/eda_api/config/oracle-config.js
eda/eda_api/config/oracle-config.docker.js
eda/eda_api/config/seed.js
eda/eda_api/config/seed.js.docker
eda/eda_api/config/SMPT.config.json
eda/eda_api/config/SMPT.config.json.sample
eda/eda_api/lib/module/uploads/users
eda/eda_api/chromium_dependencies.txt


#APP

eda/eda_app/.angular
eda/eda_app/.vscode
eda/eda_app/node_modules
eda/eda_app/dist
eda/eda_app/AddEdaCharInstructions.txt
eda/eda_app/package-lock.json
eda/eda_app/src/app/config/
eda/eda_api/config/database.config.js
eda/sda_api/dist
eda/sda_api/src/config/seed.js
eda/sda_api/src/views/postform.html
eda/sda_api/package-lock.json

eda/eda_api/config/SCRM
eda/eda_api/config
eda/eda_app/src/app/config
eda/eda_api/config/base_datamodel.json