<eda-dialog2  [header]="title" width="80vw" height="90vh" [overflow]="'auto'" (apply)="saveChartConfig()" (close)="closeChartConfig()">
  <div content class="flex flex-col flex-1 overflow-hidden h-full">
    <p-menubar [model]="items" styleClass="total-item">
    </p-menubar>

    <div class="relative w-full aspect-square">
      <panel-chart
        #PanelChartComponent
        [props]="panelChartConfig"
        (configUpdated)="setChartProperties()">
      </panel-chart>
    </div>
  </div>

</eda-dialog2>

<eda-table-gradient-dialog *ngIf="gradientMenuController" [controller]="gradientMenuController"></eda-table-gradient-dialog>