<eda-dialog [inject]="dialog" >
  <div body>
    <p-menubar [model]="items" styleClass="total-item">
    </p-menubar>


    <div class="col-12" id="tableDiv" style="margin-top: 50px; background-color: var(--panel-color);" class="table-div">
      <panel-chart  #PanelChartComponent class="component" [props]="panelChartConfig" (configUpdated)="setChartProperties()">
      </panel-chart>
    </div>
  </div>


  <div footer>

    <div class="ui-dialog-buttonpanel ui-widget-content ui-helper-clearfix text-right">

      <button type="submit" pButton (click)="saveChartConfig()" icon="fa fa-check"
        class="p-button-raised p-button-success" i18n-label="@@guardarButton" label="Confirmar"
        id="eda_table_dialog_confirmar">
      </button>

      <button type="button" pButton (click)="closeChartConfig()" icon="fa fa-times"
        class="p-button-raised p-button-danger" i18n-label="@@cancelarButton" label="Cancelar">
      </button>
    </div>



  </div>
</eda-dialog>
<eda-table-gradient-dialog *ngIf="gradientMenuController" [controller]="gradientMenuController">
</eda-table-gradient-dialog>