:host > .fa fa-refresh {
    color: white;
    font-weight: 100;
}

.customButton {
    color: white;
    background: #1b667e;
    border: none;
}

:host > .pi-caret-down:before {
    content: "\e906";
    color: rgba(173, 147, 147, 0.712);
    font-size: 14px;
}

:host > .pi-caret-right:before {
    content: "\e905";
    color: rgba(173, 147, 147, 0.712);
    font-size: 14px;
}

.functions-button{
    color: #fff;
    background-color: #048096;
    border: 0;
    transition: .4s;
    cursor: pointer;
}

.functions-button:hover{
    color: #fff;
    background-color: #046677;
    border: 0;
}

.header-button{
    margin: 2px;
    margin-bottom: 5px;
    color: #046677;
    background-color: #f3f7f7;
    border : 0;
    font-size: 16px;
    transition: background-color 0.2s, box-shadow 0.2s;
    box-shadow: 0 1px 3px 0 rgba(119, 119, 119, 0.2), 0 1px 1px 0 rgba(105, 105, 105, 0.14), 0 2px 1px -1px rgba(104, 104, 104, 0.12);
    border-radius: 50%;
    transition: 0.3s;
    height: 2.2rem;
}

.header-button:hover, .header-button.active{

    color: #08252b !important;
    background-color: #c4c4c4b4 !important;
    box-shadow: 0 1px 3px 0 rgba(119, 119, 119, 0.2), 0 1px 1px 0 rgba(105, 105, 105, 0.14), 0 2px 1px -1px rgba(104, 104, 104, 0.12);
}
.wraper{
    margin-top: 0.3rem;
    margin-bottom: 0.4rem;
    border-bottom: 1px solid #e8e8e8;
    color: #046677;
    border-radius: 5px;
    padding: 0.3rem;
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -0px rgba(0, 0, 0, 0.12);
}

/* .title-datamodel{
    margin-bottom:0.5em;
    margin-top:0.6em;
  } */


.valuesListList{
    padding-left: 3em;

}

.deleteRelation {
    padding-left: 3em;
}


/*SDA CUSTOM*/.sda-disabled{
/*SDA CUSTOM*/  opacity: .5;
/*SDA CUSTOM*/  pointer-events: none;
/*SDA CUSTOM*/}
