<div class="p-grid">

    <div class="p-col-4 ui-sm-12">
        <p-card>
            

                <div class="wraper">
                    <div style="margin: 0.2em; font-size:1.2rem" i18n="Titulo Card|Titulo card@@tituloCard"> Modelo de
                        datos </div>

                    <button pButton (click)="this.refreshModel()" class="header-button" icon="fa fa-refresh"
                        iconPos="center"  [pTooltip]="refreshSTR">
                    </button>

                    <button id="saveModel" pButton (click)="dataModelService.sendModel()" class="header-button"
                        icon="fa fa-save" iconPos="center" [pTooltip]="saveModelSTR">
                    </button>

                    <button pButton (click)="reLoadModelFromDb()" class="header-button" icon="fa fa-database"
                        iconPos="center" [pTooltip]="updateModelSTR">
                    </button>

                    <button id="deleteModel" pButton (click)="deleteDatasource()" class="header-button"
                        icon="fa fa-trash" iconPos="center" style="float: right;" [pTooltip]="deleteModelSTR">
                    </button>
                </div>

      

            <p-tree id="datasource-list" [style]="{'width':'100%'}" [value]="treeData" [filter]="false"
                selectionMode="single" [(selection)]="selectedFile" (onNodeSelect)="nodeSelect($event)"
                (onNodeUnselect)="nodeUnselect($event)" (onNodeExpand)="nodeSelect($event)">
            </p-tree>

        </p-card>
    </div>

    <div class="p-col-8  ui-sm-12">
        <app-data-source-detail (onTableCreated)="reLoadModelFromDb()"></app-data-source-detail>
    </div>

</div>