:host>>>.fa fa-refresh{
  color:white;
  font-weight: 100;
}


.customButton {
  color:white;
  background: #1b667e;
  border: none;
}

:host>>>.pi-caret-down:before {
  content: "\e906";
  color:rgba(173, 147, 147, 0.712);
  font-size:14px;
}
:host>>>.pi-caret-right:before {
  content: "\e905";
  color:rgba(173, 147, 147, 0.712);
  font-size:14px;
}

 