<div class="ui-g">

    <div class="ui-g-4 ui-sm-12">
        <p-card>
            

                <div class="wraper">
                    <button pButton (click)="this.refreshModel()" class="header-button" icon="fa fa-refresh"
                        iconPos="center" i18n-title="@@Refresh" title="Refrescar modelo de datos">
                    </button>

                    <button id="saveModel" pButton (click)="dataModelService.sendModel()" class="header-button"
                        icon="fa fa-save" iconPos="center" i18n-title="@@saveModel" title="Guardar modelo de datos">
                    </button>

                    <button pButton (click)="reLoadModelFromDb()" class="header-button" icon="fa fa-database"
                        iconPos="center" i18n-title="@@updateModel" title="Actualizar modelo de la base de datos">
                    </button>

                    <span style="margin-left: 5px; font-size:1rem" i18n="Titulo Card|Titulo card@@tituloCard"> Modelo de
                        datos </span>

                    <button id="deleteModel" pButton (click)="deleteDatasource()" class="header-button"
                        icon="fa fa-trash" iconPos="center" style="float: right;" i18n-title="@@deleteModel"
                        title="Borrar modelo de datos">
                    </button>
                </div>

      

            <p-tree id="datasource-list" [style]="{'width':'100%'}" [value]="treeData" [filter]="false"
                selectionMode="single" [(selection)]="selectedFile" (onNodeSelect)="nodeSelect($event)"
                (onNodeUnselect)="nodeUnselect($event)" (onNodeExpand)="nodeSelect($event)">
            </p-tree>

        </p-card>
    </div>

    <div class="ui-g-8  ui-sm-12">
        <app-data-source-detail (onTableCreated)="reLoadModelFromDb()"></app-data-source-detail>
    </div>

</div>