.content-gridster{
    /* background-color: #00BFB3; ==> COLOR CORPORATIVO */  
    background-color: #DCFCE7; 
    margin-top: 5px;
    padding: 2px;
}

.gridster {
    height: 500px;
    background-color: transparent;
    border: 1px solid #13d60c00;  /* Border lines around each item  */
}

.button-holder {
    background-color: red;
}


.content-item {
    border: 1px solid #CCCCCC;
    padding: 3px;
    background-color: #fff;
    border-radius: 10px;
}

