<eda-dialog2 width="80vw" height="80vh" [header]="title" (apply)="saveChartConfig()" (close)="closeChartConfig()">
  <div content class="flex flex-col md:flex-row flex-1 overflow-hidden h-[70vh]">
    <!-- Chart Preview -->
    <div class="flex-1 flex justify-center border-b md:border-b-0 md:border-r bg-slate-50">
      <div class="relative p-3 pb-6 h-full w-full content-end">
        @if (display) {
          <panel-chart #PanelChartComponent [props]="panelChartConfig" class="h-[95%] w-full block"></panel-chart>
        }
      </div>
    </div>

    <!-- Settings -->
    <div class="flex-1 h-[95%] overflow-y-auto pl-6">
      <!-- Display Tab -->
      <div class="space-y-6 p-4 pt-0 mb-6 bg-slate-50 rounded-md">
        <div class="space-y-4">
          <span class="text-lg font-semibold" i18n="@@chartDisplayOptionsTitle">
            Opciones de visualización
          </span>

          <div class="space-y-4 text-base gap-3 flex flex-col">
            <!-- Show Legend -->
            <div class="flex items-center justify-between">
              <div class="space-y-0.5">
                <div class="flex items-center gap-2">
                  <label i18n="@@showLegend" for="mostrarLeyenda" class="font-medium">
                    Mostrar Leyenda
                  </label>
                </div>
              </div>
              <label class="relative inline-flex items-center cursor-pointer">
                <input type="checkbox" [(ngModel)]="chartLegend" class="sr-only peer" (ngModelChange)="setChartLegend()">
                <div
                  class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-[var(--corporate-primary)] rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-[var(--corporate-primary)]">
                </div>
              </label>
            </div>

            <!-- Show Labels -->
            <div class="flex items-center justify-between">
              <div class="space-y-0.5">
                <div class="flex items-center gap-2">
                  <label i18n="@@showLabels" for="mostrarEtiquetas" class="font-medium">
                    Mostrar Etiquetas
                  </label>
                </div>
              </div>
              <label class="relative inline-flex items-center cursor-pointer">
                <input type="checkbox" [(ngModel)]="showLabels" class="sr-only peer" (ngModelChange)="setShowLabels()">
                <div
                  class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-[var(--corporate-primary)] rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-[var(--corporate-primary)]">
                </div>
              </label>
            </div>

            <!-- Show Percentage Labels -->
            <div class="flex items-center justify-between">
              <div class="space-y-0.5">
                <div class="flex items-center gap-2">
                  <label i18n="@@showLabelsPercent" for="mostrarEtiquetasPorcentaje" class="font-medium">
                    Etiquetas en Porcentaje
                  </label>
                </div>
              </div>
              <label class="relative inline-flex items-center cursor-pointer">
                <input type="checkbox" [(ngModel)]="showLabelsPercent" class="sr-only peer" (ngModelChange)="setShowLabelsPercent()">
                <div
                  class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-[var(--corporate-primary)] rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-[var(--corporate-primary)]">
                </div>
              </label>
            </div>

            <!-- Show Grid Lines -->
            <div class="flex items-center justify-between">
              <div class="space-y-0.5">
                <div class="flex items-center gap-2">
                  <label i18n="@@showGridLines" for="mostrarLineasGuia" class="font-medium">
                    Mostrar Líneas Guía
                  </label>
                </div>
              </div>
              <label class="relative inline-flex items-center cursor-pointer">
                <input type="checkbox" [(ngModel)]="showGridLines" class="sr-only peer" (ngModelChange)="setShowGridLines()">
                <div
                  class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-[var(--corporate-primary)] rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-[var(--corporate-primary)]">
                </div>
              </label>
            </div>

            <!-- Chart Entrance Animation -->
            <div class="flex items-center justify-between">
              <div class="space-y-0.5">
                <div class="flex items-center gap-2">
                  <label i18n="@@chartAnimation" for="animarGrafico" class="font-medium">
                    Animar Gráfico
                  </label>
                </div>
              </div>
              <label class="relative inline-flex items-center cursor-pointer">
                <input type="checkbox" id="animarGrafico" name="animarGrafico" [(ngModel)]="chartAnimation" class="sr-only peer" (ngModelChange)="setChartAnimation()">
                <div
                  class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-[var(--corporate-primary)] rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-[var(--corporate-primary)]">
                </div>
              </label>
            </div>
          </div>
        </div>
      </div>

      <!-- Colors Section -->
      <div class="space-y-6 p-4 pt-0 bg-slate-50 rounded-md">
        <div class="space-y-4">
          <span class="text-lg font-semibold" i18n="@@colorsChartH6">
            Colores
          </span>

          <!-- Use Gradient -->
          <div class="flex items-center justify-between">
            <label i18n="@@useGradient" for="usarDegradado" class="font-medium">
              Usar degradado
            </label>
            <label class="relative inline-flex items-center cursor-pointer">
              <input type="checkbox" id="usarDegradado" name="usarDegradado" [(ngModel)]="useGradient" class="sr-only peer" (ngModelChange)="setUseGradient()">
              <div
                class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-[var(--corporate-primary)] rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-[var(--corporate-primary)]">
              </div>
            </label>
          </div>

          <div>
            <div class="grid gap-4 grid-rows-auto gap-6">
              <div>
                <h6 i18n="@@ChangeDefaultsColors" class="mb-1">Color de los gráficos:</h6>
                <div class="flex items-stretch gap-2 mb-6">
                  <p-dropdown
                    [(ngModel)]="selectedPalette"
                    [options]="allPalettes"
                    optionLabel="name"
                    i18n-placeholder="@@selectPalette"
                    placeholder="-- Seleccione una paleta --"
                    (ngModelChange)="onPaletteSelected()"
                    [style]="{'width':'180px'}"
                    appendTo="body">
                  </p-dropdown>
                  @if (selectedPalette) {
                    <div class="flex rounded overflow-hidden" style="width: 80px;">
                      @for (color of selectedPalette.paleta.slice(0, 8); track $index) {
                        <div class="flex-1" [style.background-color]="color"></div>
                      }
                    </div>
                  }
                </div>

                <!-- Iterate over assignedColors -->
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                  @for (color of assignedColors; track color.value; let idx = $index) {
                    <div class="flex flex-col gap-2 border rounded-lg p-3 bg-white hover:bg-slate-50">
                      <div class="flex items-center justify-between">
                        <span class="font-medium">{{ color.value }}</span>
                        <div class="flex items-center gap-2">
                          <input
                            [(ngModel)]="assignedColors[idx].color"
                            (input)="handleInputColor()"
                            class="text-md text-slate-500 font-mono w-[3.5vw]"
                          >
                          <p-colorPicker
                            [(ngModel)]="assignedColors[idx].color"
                            (onChange)="handleInputColor()"
                            format="hex"
                            appendTo="body"
                          />
                        </div>
                      </div>
                    </div>
                  }
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</eda-dialog2>
