
<div class="container-treetable">
    <p-treeTable #tt [value]="files" [scrollable]="true" [tableStyle]="{'min-width':'50rem'}" selectionMode="single" [filterMode]="filterMode">
        <!-- ng-template para los títulos  -->
        <ng-template pTemplate="header">
            <tr>
                <th class="header-style" *ngFor="let label of labels">{{label}}</th>
            </tr>
            <tr>
                <th *ngFor="let label of labels">
                    <input 
                            class="input-filter"
                            *ngIf="label" 
                            type="text" 
                            pInputText
                            (input)="tt.filter($event.target.value, label, 'contains')"
                            [placeholder]="filterBy + ' ' +label" 
                    />
                </th>
            </tr>
        </ng-template>
        <!-- ng-template para la data distribuida  -->
        <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
            <tr [ttRow]="rowNode">
                <td>
                    <!-- Primera columna  -->
                    <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                    {{ rowData[labels[0]] }}
                </td>
                <ng-container *ngFor="let label of labels; let i = index">
                    <!-- Condición para empezar desde la segunda iteración del ngFor -->
                    <td *ngIf="i > 0">{{ rowData[label] }}</td>
                </ng-container>
            </tr>
        </ng-template>
    </p-treeTable>
</div>

