<eda-dialog [inject]="dialog" >
  <div body class="w-fit justify-self-center">

    <div class="card picklist-card justify-items-center">
      <p-pickList
        [source]="sourceProducts"
        [target]="targetProducts"
        sourceHeader="Etiquetas de jerarquía"
        targetHeader="Etiquetas de hojas"
        [dragdrop]="true"
        [responsive]="true"
        [sourceStyle]="{ height: '22rem', width: '30rem'}"
        [targetStyle]="{ height: '22rem', width: '30rem'}"
        breakpoint="1400px"
        [showSourceControls]="false"
        [showTargetControls]="false"
        class="picklist-gris-elegante"
      >
        <ng-template let-product pTemplate="item">
          <div
            class="flex flex-wrap items-center p-3 gap-2 bg-gray-50 hover:bg-gray-100 rounded-md border border-gray-200 transition-all duration-200"
          >
            <div class="flex-1 flex flex-col">
              <span class="font-medium text-gray-700">{{ product }}</span>
            </div>
          </div>
        </ng-template>
      </p-pickList>
    </div>

  </div>

  <div footer>
    <div class="flex justify-end p-2 border-t gap-1.5">
      <button class="cancel-button"
        (click)="closeChartConfig()">
        <i class="fa fa-times"></i>
        <span i18n="@@cancelarBtn">Cancelar</span>
      </button>
      <button
        class="confirm-button"
        (click)="saveChartConfig()">
        <i class="fa fa-check"></i> <span i18n="@@guardarBtn">Confirmar</span>
      </button>
    </div>
  </div>
</eda-dialog>