<eda-dialog [inject]="dialog">

    <div body>
        <div class="col-12 xl:col-4 mb-4">
            <p-dropdown [options]="targetTables" filter="true" optionLabel="label"
            [(ngModel)]="targetTable" [style]="{width:'100%'}"  (onChange)="getColumnsByTable()" 
            i18n-placeholder="@@placeholderTables" placeholder="Tablas" id="targetTable">
        </p-dropdown>
        </div>

        <div class="col-12 xl:col-4 mb-4">
            <p-dropdown [options]="targetCols"  filter="true"
                i18n-placeholder="@@placeholderTargetColumnId" placeholder="Columna con el id"
                [(ngModel)]="targetIdCol" [style]="{width:'100%'}" id="targetIdCol">
            </p-dropdown>
        </div>
        
        <div class="col-12 xl:col-4">
            <p-dropdown [options]="targetCols"  filter="true"
                i18n-placeholder="@@placeholderTargetColumnDesc" placeholder="Columna con la descripción"
                [(ngModel)]="targetDescCol" [style]="{width:'100%'}" id="targetDescCol">
            </p-dropdown>
        </div>
    </div>

    <div footer class="flex justify-end p-2 border-t gap-1.5">
      <button
        class="cancel-button"
        (click)="closeDialog()">
        <i class="fa fa-times"></i>
        <span i18n="@@cancelarBtn">Cancelar</span>
      </button>
      <button
        class="confirm-button"
        (click)="saveValueListSource()">
        <i class="fa fa-check"></i> <span i18n="@@guardarBtn">Confirmar</span>
      </button>
    </div>
</eda-dialog>