.filter-label::after {
  content: "\00a0"; /* 1 espacio */
}

/* Input de date picker */
::ng-deep eda-date-picker input {
  height: 40px;
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid #d1d5db;
  box-sizing: border-box;
}

/*****************/
/* FILTROS Y CONTENEDORES */
/*****************/

/* contiene todos los filtros*/
.filters-container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 1rem;
  scrollbar-width: thin;
  scrollbar-color: #cbd5e1 transparent;
}

/* filtro individual */
.filter-card {
  flex: 0 0 auto;
  max-width: 12.5vw;
}

/* filtro sin autocomplete (multiselect) */
::ng-deep .p-multiselect {
  max-width: 12.5vw;
}

/*****************/
/* AUTOCOMPLETE  */
/*****************/

/* Contenedor principal del autocomplete */
.modern-autocomplete ::ng-deep .p-autocomplete-multiple-container {
  display: flex;
  flex-direction: row-reverse; 
  flex-wrap: nowrap;
  gap: 0.25rem;
  padding: 0.4rem 0.6rem;
  border: 1px solid #d1d5db;
  overflow-x: auto;
  scrollbar-width: thin;
  height: auto; 
  width: 10vw;
  box-shadow: none;
  border-radius: 10px;
}

/* chips - los tokens  */
.modern-autocomplete ::ng-deep .p-autocomplete-multiple-container .p-autocomplete-token {
  border-radius: 9999px;
  font-size: 0.875rem;
  font-weight: 500;
  padding: 0.25rem 0.5rem;
  display: inline-flex;
  align-items: center;
}

/* Zona Input  */
.modern-autocomplete ::ng-deep .p-autocomplete-input-token {
  order: 999; 
  flex: none;
  font-size: 1.7vh;
  width: 3vw;
  height: 2.75vh;
  border-right: 3px solid black;
  margin-right: auto;
  border: 1px solid #d1d5db;
  border-radius: 1px;
  background-color: #fff;
}

/* Loader de autocomplete */
.modern-autocomplete ::ng-deep .p-autocomplete-loader {
  position: absolute; /* para poder moverlo libremente */
  right: -1.2rem;      /* espacio desde el borde derecho */
  top: 50%;           /* centrar vertical */
  transform: translateY(-50%); /* centrar exacto */
  color: #00BFB3;
  z-index: 10;        /* por si hay otros elementos encima */
}

/* INPUT PARA ESCRIBIR */
.modern-autocomplete ::ng-deep .p-autocomplete-input-token input {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

/* Scrollbar thmub, cuando pones mouse encima*/
.modern-autocomplete ::ng-deep .p-autocomplete-multiple-container::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
}
