<div class="flex flex-wrap items-center gap-4 mb-2 ml-1 w-full">

  <!-- Botón Filtrar -->
  @if (globalFilters.length > 0 && (isAdmin || isDashboardCreator || filterButtonVisibility.public)) {
  <button class="flex items-center gap-2 px-4 py-2 bg-gray-200 text-gray-700 rounded-md border hover:bg-gray-300"
    [style]="styleButton" (click)="validateFilter()">
    <i class="pi pi-filter"></i>
    <span i18n="@@filtrarH4">Filtrar</span>
  </button>
  }

  <div class="flex flex-wrap items-start gap-4 mt-2 mb-2 ml-1 w-full">

    <!-- Contenedor general con scroll -->
    <div class="filters-container items-center flex flex-wrap gap-4 p-3 rounded-lg w-full bg-transparent">

      @for (filter of globalFilters; track filter.filter_id) {
        @if (isAdmin || isDashboardCreator || ['public', 'readOnly'].includes(filter.visible)) {

          <!-- Si NO tiene autocomplete → estilo antiguo -->
          @if(!filter.isAutocompleted || filter.isAutocompleted === false) {
            <div class="filter-card flex flex gap-2 rounded-lg p-3">
              <div class="filter-label flex items-center">
                <span [ngClass]="{'italic': !filter.applyToAll}" class="text-sm text-gray-500"
                  [style.color]="styleButton.color" [style.font-size]="styleButton.fontSize"
                  [style.font-family]="styleButton.fontFamily">
                  {{ getFilterLabel(filter) }}:
                </span>
              </div>

              @if (getFilterType(filter) == 'date') {
              <eda-date-picker [autoClear]="true" [inject]="datePickerConfigs[filter.id]"
                (onRemove)="removeGlobalFilter(filter, true)" (onDatesChanges)="processPickerEvent($event, filter)">
              </eda-date-picker>
              } @else {
              <p-multiSelect [style]="styleButton" [options]="filter.data" [(ngModel)]="filter.selectedItems"
                [virtualScroll]="true" [defaultLabel]="getFilterLabel(filter)" [disabled]="disableGlobalFilter(filter)"
                [virtualScrollItemSize]="30" [loading]="loading" i18n-placeholder="@@Cargando" [placeholder]="placeholderText"
                panelStyleClass="multiselect-auto-width" (onChange)="setGlobalFilterItems(filter)">
              </p-multiSelect>
              }
            </div>
          }@else{
            <!-- Si tiene autocomplete -> estilo moderno -->
            <div
              class="filter-card flex flex-col gap-2 rounded-lg p-3 mr-8">
              <div class="filter-row flex items-center gap-2 w-full">
                <span [ngClass]="{'italic': !filter.applyToAll}" class="text-sm text-gray-700"
                  [style.color]="styleButton.color" [style.font-size]="styleButton.fontSize"
                  [style.font-family]="styleButton.fontFamily">
                  {{ getFilterLabel(filter) }}:
                </span>

                @if (getFilterType(filter) == 'date') {
                <eda-date-picker [autoClear]="true" [inject]="datePickerConfigs[filter.id]"
                  (onRemove)="removeGlobalFilter(filter, true)" (onDatesChanges)="processPickerEvent($event, filter)">
                </eda-date-picker>
                } @else {
                <p-autoComplete [(ngModel)]="filter.selectedItems" (keydown.enter)="onAddValue($event, filter)" [suggestions]="autoCompleteValues"
                  (completeMethod)="loadFilterAutoComplete($event, filter)" placeholder="abc..." [forceSelection]="false"
                  [multiple]="true" (onSelect)="onItemSelected(filter)" (onUnselect) ="onItemSelected(filter)" class="modern-autocomplete flex-1">
                </p-autoComplete>
                }
              </div>
            </div>
          }

        }
      }
    </div>
  </div>

@if (globalFilter) {
  <app-global-filter-dialog
    [dashboard] = "dashboard"
    [(globalFilter)]="globalFilter"
    [globalFilterList]="globalFilters"
    [panels]="dashboard.panels"
    [dataSource]="dashboard.dataSource"
    (close)="onGlobalFilter($event)"
    (deleteFilterEvent)="deleteFilterEvent($event)"
  ></app-global-filter-dialog>
}
