<!-- Overlay Panel (Popover) -->
<p-overlayPanel #popover (onHide)="hidePopover()">
  <div class="w-64">
    <!-- Menú gris -->
    <div class="bg-gray-100">
      <div class="px-3 pt-3">
        <h4 class="text-lg font-bold">
          {{ dashboard.title }}
        </h4>
        <hr class="my-2" />
        <h4 class="text-lg">
          {{ dashboard.dataSource.name }}
        </h4>
      </div>
      <hr class="my-2" />
    </div>

    <!-- Menú blanco -->
    <div class="bg-white px-3 pb-3 pt-2">
      <div class="flex flex-col gap-2 text-lg">
        @for (item of itemsVisibles(); track item.label) {
        <button class="flex items-center gap-3 p-2 w-full text-left hover:bg-gray-100 rounded-md transition-colors"
          (click)="item.command()">
          <i [class]="item.icon + ' text-gray-600'"></i>
          <span>{{ item.label }}</span>
          @if (item.items) {
          <i class="pi pi-chevron-down ml-auto text-gray-400"></i>
          }
        </button>
        @if (item.label === "Live Dashboard" || item.label === "Nou filtre") {
        @if (item.label === "Live Dashboard" && inputVisible) {
          <input type="number" class="w-full mt-1 px-2 py-1 border rounded-md" placeholder="Intervalo en X" />
        }
        <hr class="my-2" />
        }
      }

        <button class="flex items-center gap-3 p-2 w-full text-left hover:bg-gray-100 rounded-md transition-colors"
          (click)="toggleOpciones()">
          <!-- <i class="pi pi-chevron-down text-gray-600"></i> -->
          <span>Más opciones</span>
          <i class="pi pi-chevron-down ml-auto text-gray-400"
            [style.transform]="mostrarOpciones ? 'rotate(180deg)' : 'rotate(0deg)'"
            style="transition: transform 0.3s"></i>
        </button>

        @if (mostrarOpciones) {
        <div class="ml-6 flex flex-col gap-2">
          @for (item of itemsDesplegables().slice(1); track item.label) {
          <button class="flex items-center gap-3 p-2 w-full text-left hover:bg-gray-100 rounded-md transition-colors"
            (click)="item.command()">
            <i [class]="item.icon + ' text-gray-600'"></i>
            <span>{{ item.label }}</span>
            @if (item.items) {
            <i class="pi pi-chevron-down ml-auto text-gray-400"></i>
            }
          </button>
          }
        </div>
        }
      </div>
    </div>
  </div>
</p-overlayPanel>

<!-- Overlay Backdrop -->
@if (isPopoverVisible) {
  <div class="overlay-backdrop" (click)="hidePopover()"></div>
}

@if (isSaveAsDialogVisible) {
  <app-dashboard-save-as (close)="saveDashboardAs($event)"></app-dashboard-save-as>
}

@if (isTagModalVisible) {
  <app-dashboard-tag-modal (close)="closeTagModal($event)"></app-dashboard-tag-modal>
}

@if(isEditStyleDialogVisible){
  <app-dashboard-edit-style [dashboard]="dashboard" (apply)="saveStyles($event)" (close)="closeStyles()"></app-dashboard-edit-style>
}
@if(isCustomActionDialogVisible){
  <app-dashboard-custom-action [dashboard]="dashboard" (apply)="saveCustomAction($event)" (close)="closeCustomAction()"></app-dashboard-custom-action>
}
@if(isMailConfigDialogVisible){
  <app-dashboard-mail-config [dashboard]="dashboard" (apply)="saveMailConfig($event)" (close)="closeMailConfig()"></app-dashboard-mail-config>
}
@if(isVisibleModalVisible){
  <app-dashboard-visible  [dashboard]="dashboard" (apply)="saveVisibleModal($event)" (close)="closeVisibleModal()"></app-dashboard-visible>
}