<!-- Overlay Panel (Popover) -->
<p-overlayPanel #popover (onHide)="hidePopover()">
  <div class="w-64 p-3">
    <h3 class="text-lg font-medium">
        <i class="pi pi-chart-bar"></i> {{dashboard.title}}
    </h3>
    <hr class="my-2">
    <div class="flex flex-col gap-2">
      @for (item of sidebarItems; track item.label) {
        <!-- TODO check display_mode -->
        <button class="flex items-center gap-3 p-2 w-full text-left hover:bg-gray-100 rounded-md transition-colors"
          (click)="item.command()">
          <i [class]="item.icon + ' text-gray-600'"></i>
          <span>{{ item.label }}</span>
          @if (item.items) {
            <i class="pi pi-chevron-down ml-auto text-gray-400"></i>
          }
        </button>
      }
    </div>
  </div>
</p-overlayPanel>
<!-- Overlay Backdrop -->
@if (isPopoverVisible) {
  <div class="overlay-backdrop" (click)="hidePopover()"></div>
}

@if (isSaveAsDialogVisible) {
  <app-dashboard-save-as (close)="saveDashboardAs($event)"></app-dashboard-save-as>
}

@if (isTagModalVisible) {
  <app-dashboard-tag-modal (close)="closeTagModal($event)"></app-dashboard-tag-modal>
}