<!-- Overlay Panel (Popover) -->
<p-overlayPanel #popover (onHide)="hidePopover()">
  <div class="w-64">
    <!-- Menú gris -->
    <div class="bg-gray-100">
      <div class="px-3 pt-3">
        <div class="flex justify-between">
          <h4 class="text-lg font-bold" id="dashboardName">
            {{ dashboard.title }}
          </h4>
          @if(isEditableCheck()){
          <button (click)="renameDashboard()" class="rounded-md p-2 cursor-pointer hover:bg-muted h-fit">
            <eda-icon class="pointer-events-none" name="pencil"></eda-icon>
          </button>
          }
        </div>
        <hr class="my-2" />
        <span>
          <h4 class="text-lg flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="mr-2 h-4 w-4 text-[#00BFB3]">
              <ellipse cx="12" cy="5" rx="9" ry="3"></ellipse>
              <path d="M21 12c0 1.66-4 3-9 3s-9-1.34-9-3"></path>
              <path d="M3 5v14c0 1.66 4 3 9 3s9-1.34 9-3V5"></path>
            </svg>
            {{ dashboard.dataSource.name }}
          </h4>
        </span>
      </div>
      <hr class="my-2" />
    </div>

    <!-- Menú blanco -->
    <div class="bg-white px-3 pb-3 pt-2">
      <div class="flex flex-col gap-2 text-lg">
        @for (item of itemsVisibles(); track item.label) {
        @if(isEditableCheck() || item.id === 'refreshDashboard'){
        @if (item.id === "editFilters") {
        @if(hayFiltros){
        <button class="flex items-center gap-3 p-2 w-full text-left hover:bg-gray-100 rounded-md transition-colors"
          (click)="item.command()">
          <i [class]="item.icon + ' text-gray-600'"></i>
          <span>{{ item.label }}</span>
          <i class="pi pi-chevron-down ml-auto text-gray-400"
            [style.transform]="mostrarFiltros ? 'rotate(180deg)' : 'rotate(0deg)'"
            style="transition: transform 0.3s"></i>
        </button>

        @if (item.items && mostrarFiltros) {
        <div class="ml-6 flex flex-col gap-2">

          @for (subItem of item.items; track subItem.label) {
          <button class="flex items-center gap-3 p-2 w-full text-left hover:bg-gray-100 rounded-md transition-colors"
            (click)="subItem.command()">
            <i [class]="subItem.icon + ' text-gray-600'"></i>
            <span>{{ subItem.label }}</span>
            <i class="pi" [class.pi-check]="subItem.active" [class.pi-square-o]="!subItem.active" ml-auto></i>
          </button>
          }
        </div>
        }
        }
        }
        @else{
        <button class="flex items-center gap-3 p-2 w-full text-left hover:bg-gray-100 rounded-md transition-colors"
          (click)="item.command()">
          <i [class]="item.icon + ' text-gray-600'"></i>
          <span>{{ item.label }}</span>
          @if (item.items) {
          <i class="pi pi-chevron-down ml-auto text-gray-400"
            [style.transform]="inputVisible ? 'rotate(180deg)' : 'rotate(0deg)'" style="transition: transform 0.3s"></i>
          }
        </button>
        @if (item.id === "liveDashboard" || item.id === "newFilter") {
        @if (item.id === "liveDashboard" && inputVisible) {
        <input type="number" [value]="refreshTime" (input)="refreshTime = $any($event.target).value"
          class="w-full mt-1 px-2 py-1 border rounded-md" placeholder="Seconds_to_refresh" />
        }
        <hr class="my-2" />
        }
        }
        }
        }

        <button class="flex items-center gap-3 p-2 w-full text-left hover:bg-gray-100 rounded-md transition-colors"
          (click)="toggleOpciones()">
          <!-- <i class="pi pi-chevron-down text-gray-600"></i> -->
          <span i18n="dashboardSidebarMoreOptions">Más opciones</span>
          <i class="pi pi-chevron-down ml-auto text-gray-400"
            [style.transform]="mostrarOpciones ? 'rotate(180deg)' : 'rotate(0deg)'"
            style="transition: transform 0.3s"></i>
        </button>

        @if (mostrarOpciones) {
        <div class="ml-6 flex flex-col gap-2">
          @for (item of itemsDesplegables().slice(1); track item.label) {
          @if(isEditableCheck() || (item.id === 'downloadPDF' || item.id === 'downloadImage')){


          <button class="flex items-center gap-3 p-2 w-full text-left hover:bg-gray-100 rounded-md transition-colors"
            (click)="item.command()">
            <i [class]="item.icon + ' text-gray-600'"></i>
            <span>{{ item.label }}</span>
            @if (item.items) {
            <i class="pi pi-chevron-down ml-auto text-gray-400"></i>
            }
          </button>
          }
          }
        </div>
        }
      </div>
    </div>
  </div>
</p-overlayPanel>

<!-- Overlay Backdrop -->
@if (isPopoverVisible) {
<div class="overlay-backdrop" (click)="hidePopover()"></div>
}

@if (isSaveAsDialogVisible) {
<app-dashboard-save-as (close)="saveDashboardAs($event)"></app-dashboard-save-as>
}

@if (isTagModalVisible) {
<app-dashboard-tag-modal [dashboard]="dashboard" (close)="closeTagModal($event)"></app-dashboard-tag-modal>
}

@if(isEditStyleDialogVisible){
<app-dashboard-edit-style [dashboard]="dashboard" (apply)="saveStyles($event)"
  (close)="closeStyles()"></app-dashboard-edit-style>
}

@if(isCustomActionDialogVisible){
<app-dashboard-custom-action [dashboard]="dashboard" (apply)="saveCustomAction($event)"
  (close)="closeCustomAction()"></app-dashboard-custom-action>
}

@if(isMailConfigDialogVisible){
<app-dashboard-mail-config [dashboard]="dashboard" (apply)="saveMailConfig($event)"
  (close)="closeMailConfig()"></app-dashboard-mail-config>
}

@if(isVisibleModalVisible){
<app-dashboard-visible [dashboard]="dashboard" (apply)="saveVisibleModal($event)"
  (close)="closeVisibleModal()"></app-dashboard-visible>
}

@if (isImportPanelVisible) {
<app-import-panel [dashboard]="dashboard" (close)="closeImportPanelModal($event)"></app-import-panel>
}