
.dashboard-grid {
    overflow: visible !important; 
    background-color: transparent; 
}

.gridster-item {
  display: flex; /* Permite que el contenido crezca */
  flex-direction: column; /* Mantiene los elementos alineados verticalmente */
  height: 100%; /* Ocupa toda la altura del gridster-item */
  width: 100%; /* (Opcional) Para asegurarse que ocupe todo el ancho */

  border-radius: 0.5rem; /* Redondeo elegante */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.10); /* Sombra perimetral sin borde para evitar línea entre paneles contiguos */
  background-color: #fff;
  transition: box-shadow 0.3s ease-in-out; /* Suavidad en el cambio de sombra */
}

.gridster-content {
  flex-grow: 1; /* Permite que este div ocupe todo el espacio disponible */
  overflow: auto; /* (Opcional) Agrega scroll si el contenido es muy grande */
}


@media (max-width: 500px) {
  gridster, gridster-item {
    height: auto !important;
  }
  gridster-item .gridster-item-content {
    min-height: 100px !important; /* suficiente para hacerlas más altas */
  }
}