app-dashboard {
    position: absolute;
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.main-content {
    width: 100% !important;
    flex: 1 0px !important;
    display: flex !important;
    flex-direction: column !important;
}

#copy-link {
    border: solid 1px #8b8a8a;
    border-radius: 3px;
    margin: 10px;
    padding: 2px;
    text-align: center;
}

#copy-link:hover {
    border: solid 1px #8b8a8a;
    border-radius: 3px;
    background-color: rgba(152, 206, 219, 0.774);
    margin: 10px;
    padding: 2px;
    text-align: center;
    cursor: pointer;
}

.gridster-item-prototype {
    display: block;
    background-color: #afafaf;
    position: relative;
    float: left;
    z-index: 99;
    text-align: center;
    font-weight: bold;
    margin: 5px;
    width: 80px;
    height: 60px;
}

.gridster-item-prototype.is-over .gridster-item-inner {
    visibility: visible;
}

.gridster-item-prototype .gridster-item-inner {
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
    width: 70px;
    height: 60px;
    visibility: hidden;
    -webkit-transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
    -moz-transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
    -o-transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
}

.is-dragging .gridster-item-inner {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.24), 0 2px 4px rgba(0, 0, 0, 0.48);
    top: -3px;
    bottom: 13px;
}
.ui-button-selected {
    background-color: #1b667e;
}
.ui-button-unselected {
    background-color: #85b5c5;
}
.ui-button-unvaliable {
    background-color: #c01120;
}

.block-options-bg {
    color: var(--header-font-color);
    background: var(--header-bg-color);
}

.block-options-bg:hover {
    color: var(--main-font-color);
    background: var(--main-button-color);
    border: 1px solid #d5d8cc;
}

.pi-filter {
    color: rgb(11, 139, 101);
}
.edaWarning {
    /* border: 1px solid orange;
  border-radius: 2px; */
    color: #000;
    background-color: inherit;
    padding: 7px 14px;
    font-size: 12px;
    cursor: pointer;
    display: inline-block;
}
.gridster-item {
    transition: unset !important;
}

.edaTitle {
    font-family: sans-serif;
    line-height: 0.7;
    text-align: center;
    margin-bottom: auto;
    font-weight: 600;
}

.edaWarning:hover {
    background: #eee;
}

.edaOk {
    border: 1px solid rgb(35, 95, 50);
    border-radius: 4px;
    color: rgb(35, 95, 50);
    background-color: inherit;
    padding: 7px 14px;
    font-size: 14px;
    cursor: pointer;
    display: inline-block;
}

.edaOk:hover {
    background: #eee;
}

.edaFilterFooter {
    display: flex;
    align-items: center;
    justify-content: center;
}
