::ng-deep .p-multiselect-footer {
    padding: 5px!important;
}

app-dashboard {
    position: absolute;
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.main-content {
    width: 100% !important;
    flex: 1 0px !important;
    display: flex !important;
    flex-direction: column !important;
}

#copy-link {
    border: solid 1px #8b8a8a;
    border-radius: 3px;
    margin: 10px;
    padding: 2px;
    text-align: center;
}

#copy-link:hover {
    border: solid 1px #8b8a8a;
    border-radius: 3px;
    background-color: rgba(152, 206, 219, 0.774);
    margin: 10px;
    padding: 2px;
    text-align: center;
    cursor: pointer;
}

.gridster-item-prototype {
    display: block;
    background-color: #afafaf;
    position: relative;
    float: left;
    z-index: 99;
    text-align: center;
    font-weight: bold;
    margin: 5px;
    width: 80px;
    height: 60px;
}

.gridster-item-prototype.is-over .gridster-item-inner {
    visibility: visible;
}

.gridster-item-prototype .gridster-item-inner {
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
    width: 70px;
    height: 60px;
    visibility: hidden;
    -webkit-transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
    -moz-transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
    -o-transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
}

.is-dragging .gridster-item-inner {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.24), 0 2px 4px rgba(0, 0, 0, 0.48);
    top: -3px;
    bottom: 13px;
}
.ui-button-selected {
    color: #20914b;
    border: 1px solid #20914b;
    background-color: white;
}
.ui-button-unselected {
 
    color: #adc8d1;
    border: 1px solid #adc8d1;
    background-color: white;
}
.ui-button-unvaliable {
  
    color: #bd1913;
    border: 1px solid #bd1913;
    background-color: white;
}

.dotgreen {
    height: 14px;
    width: 14px;
    border-radius: 50%;
    vertical-align:middle;
    display: inline-block;
    background-color:#20914b;
}
.dotred {
    height: 14px;
    width: 14px;
    border-radius: 50%;
    vertical-align:middle;
    display: inline-block;
    background-color:#bd1913;
}
.dotunselected {
    height: 14px;
    width: 14px;
    border-radius: 50%;
    vertical-align:middle;
    display: inline-block;
    background-color:#adc8d1;
}

.ui-button-selected:enabled:hover {
    color: #20914b;
    background-color: white;
    box-shadow: 0 0 0 1px #20914b;
}
.ui-button-unselected:enabled:hover  {
    color: #adc8d1;
    background-color: white;
    box-shadow: 0 0 0 1px #adc8d1;
}
.ui-button-unvaliable:enabled:hover  {
    color: #bd1913;
    background-color: white;
    box-shadow: 0 0 0 1px #bd1913;
    
}

.block-options-bg {
    color: var(--header-font-color);
    background: #414344;/*var(--header-bg-color);*/
    border: 1px solid #414344 ;
}

.block-options-bg:hover {
    color: #d5d8cc;/* var(--main-font-color);*/
    background: #414344; /*var(--main-button-color);*/
    border: 1px solid #d5d8cc;
}

.pi-filter {
    color: rgb(11, 139, 101);
}
.edaWarning {
    /* border: 1px solid orange;
  border-radius: 2px; */
    margin: 2px;
    color: #000;
    background-color: #eee;
    padding: 7px 14px;
    font-size: 12px;
    cursor: pointer;
    display: inline-block;
}
.gridster-item {
    transition: unset !important;
}

.tab-view{
    overflow-y: auto;
    max-height: 90vh;
}

.edaWarning:hover {
    background:  rgb(11, 139, 101);
    color:white;
}

.edaOk {
    border: 1px solid rgb(35, 95, 50);
    border-radius: 4px;
    color: rgb(35, 95, 50);
    background-color: inherit;
    padding: 7px 14px;
    font-size: 14px;
    cursor: pointer;
    display: inline-block;
}

.edaOk:hover {
    background: #eee;
}

.edaFilterFooter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter-button{
    border: 1px solid #6f99a7;
    color: #005d88;
    background-color: #fff;
    padding: 3px;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 10px;
    font-size: 14px;
    opacity: 0.6;
    transition: 0.2s;
    /*width: 5%;*/
}
.filter-button:hover{
    opacity: 1
}

.filter-button:focus{
    opacity: 1;
    border-color:rgb(1, 27, 0);
}
.filter-name{
    margin:1px;
    margin-right: 5px;
    white-space: nowrap;
}

.fiter-icon{
    font-size: 14px;
    color:#004961;
}


#myDashboard >>> .p-card .p-card-body {
    padding: 0.6em;
    background-color: var(--panel-color);
  }


.customMultiselect >>> ::-webkit-scrollbar {
        width: 10px;
        height: 9px;
    }


  .canIeditClass{
margin-top:20px;
display:table;

  }
  .canIeditClassLabel{

    display:table-cell;
    vertical-align:middle;
  }

  .noShow{
    height:0px !important;
    visibility: hidden !important;
  }
.noSidebar{
margin-left:1px !important;
}
.filterDialogTitles{
    font-size: medium; 
    font-weight: bold;
    margin-bottom: 10px;
}
.edaEmfasis{
    font-size: 1em;
    font-weight: bolder;
}


  
.disabled-div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 99999;
}