<div class="min-h-screen bg-gray-50">
  <div class="w-full p-6 space-y-6">
    <!-- Header -->
    <div class="flex justify-between items-center">
      <h1 class="text-2xl font-semibold tracking-tight">{{title}}</h1>
      <button class="w-6 h-6 rounded-full flex items-center justify-center" (click)="showSidebar($event)">
        <i class="pi pi-ellipsis-v"></i>
      </button>
    </div>

    <!-- Filters Section -->
    <div class="flex justify-between align-middle rounded-lg p-3 space-y-4 shadow-sm bg-white">
      <app-v2-global-filter #globalFilter [dashboard]="this"></app-v2-global-filter>

      <p-message severity="warn" text="Hi han canvis sense guardar" styleClass="w-full"></p-message>
    </div>

    <div [style.height]="'1000px'">
      <gridster [options]="gridsterOptions" class="dashboard-grid">
        @for (panel of panels; track panel) {
          <gridster-item
            class="gridster-item" 
            [item]="panel" 
            [dragAndDrop]="panel.dragAndDrop" 
            [resizable]="panel.resizable">

            <!-- Contenedor principal que ocupa todo el espacio -->
            <div class="flex flex-col h-full rounded-lg p-6 shadow-sm bg-white">
              
              <!-- Header (No debe expandirse) -->
              <div class="flex justify-between items-center mb-6">
                <h2 class="text-lg font-medium">Temperatura Mínima</h2>
                <p-button icon="pi pi-ellipsis-v" styleClass="p-button-text"></p-button>
              </div>

              <!-- Contenedor del gráfico que se ajusta a la altura restante -->
              <div class="flex-grow bg-gray-50 rounded-lg border border-dashed border-gray-300 flex items-center justify-center">
                <span class="text-gray-500">Gràfic de temperatura</span>
              </div>

            </div>

          </gridster-item>
        }
      </gridster>
    </div>
  </div>

</div>

@if (dashboard) {
  <app-dashboard-sidebar [dashboard]="this"></app-dashboard-sidebar>
}