
.cancel-button {
  display: flex;
  gap: 7%;
  align-items: center;
  border-radius: 0.375rem;
  padding: 0.5rem 1rem;   
  color: white;            
  background: linear-gradient(to right, #ba001f, #ff2802); 
  border: none;
  cursor: pointer;
}

.execute-button {
    display: flex;
  gap: 7%;
  align-items: center;
    border-radius: 0.375rem;
  padding: 0.5rem 1rem;   
  color: black;            
  background: white; 
  border: #e5e7eb solid 1px;
  cursor: pointer;
}


.execute-button:disabled {
  background: #d1d5db;
  color: #6b7280;     
  cursor: not-allowed;
}

.confirm-button {
    display: flex;
  gap: 7%;
  align-items: center;
  border-radius: 0.375rem;
  padding: 0.5rem 1rem;   
  color: white;            
  background: linear-gradient(to right, #00B0BA, #14B8A6); 
  border: none;
  cursor: pointer;
}

.confirm-button:disabled {
  background: #d1d5db;
  color: #6b7280;     
  cursor: not-allowed;
}