<div class="eda-table">
    <p-table #table [columns]="inject.cols" [value]="inject.value" [paginator]="true" [rows]="10"
        [rowsPerPageOptions]="[5, 10, 25, 50, 100]" paginatorDropdownAppendTo="body">
        <!-- Search -->
        <ng-template pTemplate="caption" *ngIf="inject.search">
            <div class="text-right">
                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                <input type="text" pInputText size="50" placeholder="Cercador" [disabled]="inject.value.length === 0"
                    (input)="table.filterGlobal($event.target.value, 'contains')">
            </div>
        </ng-template>
        <!-- Header -->
        <ng-template pTemplate="header" let-columns>
            <tr class="header-title">
                <ng-container *ngFor="let col of inject.cols">
                    <th *ngIf="col.type" [pSortableColumn]="col.field" [class]="col.styleClass" [width]="col.width">
                        {{col.header}}
                        <p-sortIcon *ngIf="col.sortable" [field]="col.field"></p-sortIcon>
                    </th>
                </ng-container>
            </tr>
            <tr class="header-filter" *ngIf="verifyFilter()">
                <ng-container *ngFor="let col of inject.cols">
                    <th>
                        <ng-container *ngIf="col.filter" [ngSwitch]="col.filter.type">
                            <ng-container *ngSwitchCase="'EdaColumnFilterMultiSelect'">
                                <p-multiSelect [showHeader]="true" defaultLabel="Tot" [(ngModel)]="col.filter.ngModel"
                                    [options]="col.filter.options" [style]="col.filter.style"
                                    (onChange)="_tableFilter(table, $event.value, col)" appendTo="body">
                                </p-multiSelect>
                            </ng-container>
                        </ng-container>
                    </th>
                </ng-container>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                <ng-container *ngFor="let col of inject.cols">
                    <td [class]="col.styleClass" [width]="col.width">
                        <ng-container [ngSwitch]="col.type">
                            <!-- ngSwitch TEXT -->
                            <ng-container *ngSwitchCase="'EdaColumnText'">
                                {{ lodash.get(rowData, col.field) }}
                            </ng-container>
                            <!-- ngSwitch NUMBER -->
                            <ng-container *ngSwitchCase="'EdaColumnNumber'">
                                {{ lodash.get(rowData, col.field) }}
                            </ng-container>
                            <!-- ngSwitch NUMBER -->
                            <ng-container *ngSwitchCase="'EdaColumnDate'">
                                {{ lodash.get(rowData, col.field) }}
                            </ng-container>
                            <!-- ngSwitch CONTXET MENU -->
                            <ng-container *ngSwitchCase="'EdaColumnContextMenu'">
                                <i class="fa fa-cog btn pl-1" (click)="inject._showContextMenu(rowData)"></i>
                            </ng-container>
                        </ng-container>
                    </td>
                </ng-container>
            </tr>
        </ng-template>

        <ng-template pTemplate="summary">
            <div class="ui-helper-clearfix">
                <span *ngIf="table.filteredValue != undefined"
                    class="items-length float-right">{{ table.filteredValue.length }} registres</span>
                <span *ngIf="!table.filteredValue && table.value.length"
                    class="items-length float-right">{{ table.value.length }} registres</span>
            </div>
        </ng-template>
    </p-table>
</div>

<eda-context-menu [inject]="inject.contextMenu"></eda-context-menu>