.total-col {
  background-color: #5ba38b8c !important; 
  color:var(--panel-font-color)!important;
  text-align: right!important;
  font-weight: normal;

}

.trend-col{
  background-color: #f2f8f634 !important; 
  color: #004d4b !important;
  text-align: center;
  font-weight: normal;
}

.sub-total-row {
  background-color: #d4ba8996!important; 
  color:var(--panel-font-color)!important;
  text-align: right;
  font-weight: bold !important;
}

.total-row {
  background-color: #caa66477!important; 
  color:var(--panel-font-color)!important;
  text-align: right;
  font-weight: bold !important;
  border: 1px solid #e9ecef;
  border-width: 0 0 1px 0;
}
.sub-total-row-header {
  background-color: #d4ba8996!important; 
  color:var(--panel-font-color)!important;
  text-align: left;
  font-weight: bold !important;
}

.total-row-header{
  background-color: #caa66477!important; 
  color:var(--panel-font-color)!important;
  text-align: left;
  font-weight: bold !important;
}


th{
  border-radius: 6px;

}

.p-datatable-auto-layout>.p-datatable-wrapper {
  overflow: hidden;
}

::ng-deep .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    font-weight: bold;          /* Negrita */
    border-radius: 30px;         /* Bordes redondeados */
    transition: all 0.2s ease;  /* Transición suave al cambiar de página */
    
}

/* Opcional: hover de páginas no seleccionadas */
::ng-deep .p-paginator .p-paginator-pages .p-paginator-page:not(.p-highlight):hover {
    cursor: pointer;
}

::ng-deep .p-paginator .p-paginator-pages .p-paginator-page:focus {
    outline: none;
    box-shadow: 0 0 2px 2px rgba(0,0,0,0.1);
}





/* Aplica estilo al contenedor del summary */
.eda-table ::ng-deep .p-datatable-footer {
    background-color: inherit; /* igual que el header */
}
/* Aplica estilo al contenedor del summary */
.eda-table ::ng-deep .p-paginator{
    background-color: inherit; /* igual que el header */
    color: inherit;
}

/* Aplica estilo al contenedor del summary */
.eda-table ::ng-deep .p-paginator .p-dropdown{
    background-color: inherit; /* igual que el header */
    color: inherit;
}
/* Aplica estilo al contenedor del summary */
.eda-table ::ng-deep .p-paginator .p-dropdown-label{
    color: inherit;
}
/* Aplica estilo al contenedor del summary */
.eda-table ::ng-deep .p-paginator .p-dropdown-trigger{
    color: inherit;
}

/* Estilo del panel overlay que aparece al abrir el dropdown */
::ng-deep .p-dropdown-panel {
    background-color: inherit; /* igual que el header */
}

/* Items dentro del panel */
::ng-deep .p-dropdown-panel .p-dropdown-item {
    background-color: inherit;
}


