.total-col {
  background-color: #5ba38b8c !important; 
  color:var(--panel-font-color)!important;
  text-align: right!important;
  font-weight: normal;

}

.trend-col{
  background-color: #f2f8f634 !important; 
  color: #004d4b !important;
  text-align: center;
  font-weight: normal;
}

.sub-total-row {
  background-color: #d4ba8996!important; 
  color:var(--panel-font-color)!important;
  text-align: right;
  font-weight: bold !important;
}

.total-row {
  background-color: #caa66477!important; 
  color:var(--panel-font-color)!important;
  text-align: right;
  font-weight: bold !important;
  border: 1px solid #e9ecef;
  border-width: 0 0 1px 0;
}
.sub-total-row-header {
  background-color: #d4ba8996!important; 
  color:var(--panel-font-color)!important;
  text-align: left;
  font-weight: bold !important;
}

.total-row-header{
  background-color: #caa66477!important; 
  color:var(--panel-font-color)!important;
  text-align: left;
  font-weight: bold !important;
}


th{
  border-radius: 6px;

}

.p-datatable-auto-layout>.p-datatable-wrapper {
  overflow: hidden;
}

