.total-col {
  background-color: #5ba38b34 !important; 
  color: #004d4b !important;
  text-align: right;
  font-weight: normal;
}



.sub-total-row {
  background-color: #e9ba614d!important; 
  color: #00302f !important;
  text-align: right;
  font-weight: bold !important;
}

.total-row {
  background-color: #e9b9619c!important; 
  color: #00302f !important;
  text-align: right;
  font-weight: bold !important;
}
.sub-total-row-header {
  background-color: #e9ba614d!important; 
  color: #00302f !important;
  text-align: left;
  font-weight: bold !important;
}

.total-row-header{
  background-color: #e9b9619c!important; 
  color: #00302f !important;
  text-align: left;
  font-weight: bold !important;
}