.total-col {
  background-color: #5ba38b8c !important; 
  color:var(--panel-font-color)!important;
  text-align: right!important;
  font-weight: normal;

}

.trend-col{
  background-color: #f2f8f634 !important; 
  color: #004d4b !important;
  text-align: center;
  font-weight: normal;
}

.sub-total-row {
  background-color: #d4ba8996!important; 
  color:var(--panel-font-color)!important;
  text-align: right;
  font-weight: bold !important;
}

.total-row {
  background-color: #caa66477!important; 
  color:var(--panel-font-color)!important;
  text-align: right;
  font-weight: bold !important;
  border: 1px solid #e9ecef;
  border-width: 0 0 1px 0;
}
.sub-total-row-header {
  background-color: #d4ba8996!important; 
  color:var(--panel-font-color)!important;
  text-align: left;
  font-weight: bold !important;
}

.total-row-header{
  background-color: #caa66477!important; 
  color:var(--panel-font-color)!important;
  text-align: left;
  font-weight: bold !important;
}


th{
  border-radius: 6px;

}

.p-datatable-auto-layout>.p-datatable-wrapper {
  overflow: hidden;
}

::ng-deep .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    font-weight: bold;          /* Negrita */
    color: #2a2a2a;             /* Color discreto pero visible */
    background-color: #e0e0e0;  /* Fondo suave para que resalte */
    border-radius: 30px;         /* Bordes redondeados */
    transition: all 0.2s ease;  /* Transición suave al cambiar de página */
}

/* Opcional: hover de páginas no seleccionadas */
::ng-deep .p-paginator .p-paginator-pages .p-paginator-page:not(.p-highlight):hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

::ng-deep .p-paginator .p-paginator-pages .p-paginator-page:focus {
    outline: none;
    box-shadow: 0 0 2px 2px rgba(0,0,0,0.1);
}