<eda-dialog2 [display]="display"
  header="DASHBOARD VISIBILITY" width="50vw" height="45vh"
  [disableApply]="disableApply()"
  (apply)="onApply()"
  (close)="onClose()">

  <div content class="p-6">
    <form [formGroup]="form" class="form-horizontal form-material" (ngSubmit)="true">
    <div class="grid space-y-8">
    <!-- Botones de Selección -->
      <h6 i18n="@@selectDashboardPrivacity"> Selecciona la privacidad del informe </h6>
      <div class="col-12">
        <p-selectButton [options]="visibleTypes" formControlName="visible"  (onChange)="handleSelectedBtn($event)" 
          class="bg-gray-100 text-gray-700 rounded-md shadow-sm">
        </p-selectButton>
      </div>

      @if(showUrl){
        <span (click)="copyURL()" class="cursor-pointer w-fit p-2 h-fit bg-gray-100 rounded-md border font-bold text-gray-700 
        text-sm font-medium text-white bg-gradient-to-r from-[#00B0BA] to-teal-400 flex items-center"
        i18n="@@copyPublicURL"> 
          copiar URL pública
        </span>
      }

      @if (showGroups) {
      <!-- Multiselect de Grupos -->
      <div class="col-12">
        <p-multiSelect formControlName="group" [options]="grups" [filter]="false" optionLabel="name" i18n-defaultLabel="@@multiSelectDefaultLabel" defaultLabel="Selecciona un grupo *"
          class="w-full bg-gray-100 rounded-md border text-gray-700" appendTo="body" >
        </p-multiSelect>
      </div>
      }
    </div>
    </form>

  </div>
</eda-dialog2>