
<p-dialog #dialogRef
    class="eda-dialog2" [header]="header"
    [(visible)]="display"
    [modal]="true"
    [closable]="false"
    [draggable]="draggable"
    [resizable]="false"
    [header]="header"
    [contentStyle]="{'overflow': overflow, 'padding-bottom': '0'}"
    [breakpoints]="translatedBreakpoints"
    [style]="{width, height}"
    appendTo="body">

    <ng-template pTemplate="header" *ngIf="!header">
        <ng-content select="[header]"></ng-content>
    </ng-template>

    <ng-template pTemplate="content">
         <div #contentWrapper>
             <ng-content select="[content]"></ng-content>
         </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <hr>
        <div class="flex justify-end p-2 border-t gap-1.5">
            <ng-content select="[footer]"></ng-content>
            
            <button *ngIf="ifShowClose" class="cancel-button" (click)="onClose()">
               <i class="fa fa-times"></i>
               <span i18n="@@cancelarBtn">Cancelar</span>
            </button>
            
            @if(ifShowReset){
                <button class="execute-button" (click)="onReset()">
                   <i class="fa fa-refresh"></i>
                   <span i18n="@@resetStylesBtn">Volver a los valores por defecto</span>
                </button>
            }
            @if(ifShowDuplicate){
                <button class="flex items-center px-4 py-2 border rounded-md" (click)="onDuplicate()">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 16H6a2 2 0 01-2-2V6a2 2 0 012-2h8a2 2 0 012 2v2m-6 12h8a2 2 0 002-2v-8a2 2 0 00-2-2h-8a2 2 0 00-2 2v8a2 2 0 002 2z" />
                    </svg>
                    <span i18n="@@duplicateColumnButton">Duplicar columna</span>
                </button>
            }
            @if (ifShowDeleteFilter) {
                <button class="execute-button" (click)="onDelete()">
                   <i class="fa fa-trash-o"></i>
                   <span i18n="@@deleteFilters">Eliminar</span>
                </button>
            }
            
            <button *ngIf="ifShowApply" class="confirm-button" [disabled]="disableApply" (click)="onApply()">
                <i class="fa fa-check"></i> <span i18n="@@guardarBtn">Confirmar</span>
            </button>
        </div>
    </ng-template>

</p-dialog>