
<p-dialog #dialogRef
    class="eda-dialog2" [header]="header"
    [(visible)]="display"
    [modal]="true"
    [closable]="false"
    [draggable]="false"
    [resizable]="false"
    [header]="header"
    [contentStyle]="{'overflow': overflow, 'padding-bottom': '0'}"
    [breakpoints]="translatedBreakpoints"
    [style]="{width, height}"
    appendTo="body">

    <ng-template pTemplate="header" *ngIf="!header">
        <ng-content select="[header]"></ng-content>
    </ng-template>

    <ng-template pTemplate="content">
         <div #contentWrapper>
             <ng-content select="[content]"></ng-content>
         </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <hr>
        <div class="flex justify-end p-2 border-t gap-1.5">
            <ng-content select="[footer]"></ng-content>
            <!-- <button *ngIf="ifShowApply" [disabled]="disableApply"  pButton icon="fa fa-check" class="p-button-raised p-button-success" label="Confirmar" i18n-label="@@guardarBtn" (click)="onApply()"></button>  -->
            <!-- <button *ngIf="ifShowClose" pButton icon="fa fa-times" class="p-button-raised p-button-danger" label="Cerrar" i18n-label="@@cerrarBtn" (click)="onClose()"></button> -->
            
            <button *ngIf="ifShowReset" class="execute-button" (click)="onReset()">
               <i class="fa fa-refresh"></i>
               <span i18n="@@resetStylesBtn">Volver a los valores por defecto</span>
            </button>
            @if (ifShowDeleteFilter) {
                <button class="execute-button" (click)="onDelete()">
                   <i class="fa fa-trash-o"></i>
                   <span i18n="@@deleteFilters">Eliminar</span>
                </button>
            }
            
            <button *ngIf="ifShowClose" class="cancel-button" (click)="onClose()">
               <i class="fa fa-times"></i>
               <span i18n="@@cancelarBtn">Cancelar</span>
            </button>
            <button *ngIf="ifShowApply" class="confirm-button" [disabled]="disableApply" (click)="onApply()">
                <i class="fa fa-check"></i> <span i18n="@@guardarBtn">Confirmar</span>
            </button>
        </div>
    </ng-template>

</p-dialog>