<eda-dialog2
  [header]="header"
  [showApply]="false"
  [closable]="true"
  [dismissableMask]="true"
  [closeOnEscape]="false"
  (close)="onHide()"
  width="80vw"
  height="74vh"
  [overflow]="'auto'">
  <div content class="source-fields-content"
    [style.--table-header-color]="headerColorVar"
    [style.--table-banding-color]="bandingColorVar">
    <p-table #dt [value]="rows" [columns]="headers" [paginator]="true" [rows]="50"
      [rowsPerPageOptions]="[5, 10, 25, 50, 100]" paginatorDropdownAppendTo="body"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="{first} - {last} de {totalRecords} registros"
      paginatorTemplate="FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink RowsPerPageDropdown CurrentPageReport"
      [scrollable]="true" scrollHeight="45vh"
      [tableStyle]="{'min-width': '100%'}" styleClass="p-datatable-striped p-datatable-sm">
      <ng-template pTemplate="header" let-columns>
        <tr>
          @for (header of columns; track $index) {
            <th>
              <div class="source-fields-th">
                <span>{{ header }}</span>
                <span class="source-fields-sort-icon" tabindex="0" role="button"
                  (click)="dt.sort({ originalEvent: $event, field: $index.toString() })"
                  (keydown.enter)="dt.sort({ originalEvent: $event, field: $index.toString() })">
                  <p-sortIcon [field]="$index.toString()"></p-sortIcon>
                </span>
                <span class="source-fields-filter-icon" tabindex="0" role="button"
                  [class.source-fields-filter-active]="!!filterValues[$index.toString()]"
                  (click)="toggleFilter($index.toString())"
                  (keydown.enter)="toggleFilter($index.toString())">
                  <i class="pi pi-filter"></i>
                </span>
                @if (openFilterField === $index.toString()) {
                  <div class="source-fields-filter-popup">
                    <input #filterInput type="text" pInputText class="source-fields-filter-input"
                      [value]="filterValues[$index.toString()] || ''"
                      (input)="onFilterInput($event, $index.toString(), dt)"
                      (keydown.escape)="onFilterEscape($event)"
                      i18n-placeholder="@@sourceFieldsFilterPlaceholder" placeholder="Buscar" />
                  </div>
                }
              </div>
            </th>
          }
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          @for (header of columns; track $index) {
            <td>{{ rowData[$index] }}</td>
          }
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td [attr.colspan]="headers.length" i18n="@@noDataAvailable">No hay datos disponibles</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <button footer class="execute-button" (click)="exportToExcel(dt)">
    <i class="fa fa-file-excel-o"></i>
    <span i18n="@@sourceFieldsExportExcel">Exportar a Excel</span>
  </button>
</eda-dialog2>
