<div *ngIf=" typePanel==='tabla' && tablePanel.technical_name" class="tp-container">

    <p-panel header="Editar {{tablePanel.type ? tablePanel.type + ' ' + tablePanel.name : ''}}">

        <div style="margin: 10px">
            <h6 i18n="@@inputNombre">Nombre</h6>
            <p><input pInputText type="text" size="50" [(ngModel)]="tablePanel.name" (keyup)="update()"></p>
        </div>

        <div style="margin: 10px">
            <h6 i18n="@@inputNombreTecnico">Nombre técnico</h6>
            <p>{{tablePanel.technical_name}}</p>
        </div>

        <div style="margin: 10px">
            <h6 i18n="@@inputDescripcion"> Descripción </h6>
            <p><input pInputText type="text" size="50" [(ngModel)]="tablePanel.description" (keyup)="update()"></p>
        </div>

        <div style="margin: 10px">
            <h6 i18n="@@inputEsconderTabla">Esconder tabla</h6>
            <p-inputSwitch (onChange)="toggle_table(tablePanel.visible)" [(ngModel)]="!tablePanel.visible">
            </p-inputSwitch>
        </div>

        <div style="margin: 10px">
            <h6 i18n="@@inputTipoTabla">Tipo de tabla</h6>
            <p-selectButton [options]="tableTypes" [(ngModel)]="selectedTableType" (onChange)="updateTableType()">
            </p-selectButton>
        </div>

        <div style="margin: 10px">
            <h6>Relaciones</h6>
            <eda-table [inject]="relationsTable"></eda-table>
            <button  class="btn-sm btn-secondary" i18n-title="@@addRelation"
                title="Añadir relación" (click)="openTableRelationDialog()"> Añadir relación
            </button>
        </div>

        
        <div style="margin: 10px">
            <button class="btn-sm btn-secondary" (click)="openNewColDialog()">Añadir columna calculada</button>
        </div>

    </p-panel>

</div>

<div *ngIf="typePanel==='columna' && columnPanel.technical_name" class="tp-container">

    <p-panel header="Editar {{columnPanel.type ? columnPanel.type + ' ' + columnPanel.name : ''}}">

        <div style="margin: 10px">
            <h6 i18n="@@inputNombre">
                Nombre
            </h6>
            <p><input pInputText type="text" size="50" [(ngModel)]="columnPanel.name" (keyup)="update()"></p>
        </div>

        <div style="margin: 10px">
            <h6 i18n="@@inputNombreTecnico">
                Nombre técnico
            </h6>
            <p>{{columnPanel.technical_name}}</p>
        </div>

        <div style="margin: 10px">
            <h6 i18n="@@inputDescripcion">
                Descripción
            </h6>
            <p><input pInputText type="text" size="50" [(ngModel)]="columnPanel.description" (keyup)="update()"></p>
        </div>

        <div *ngIf="columnPanel.computed_column !== 'no'" style="margin: 10px">
            <h6>Expresión SQL</h6>
            <p><textarea pInputTextarea type="text" [(ngModel)]="columnPanel.SQLexpression" (keyup)="update()" rows="5"
                    cols="100"></textarea></p>
        </div>

        <div *ngIf="columnPanel.computed_column === 'no'" style="margin: 10px">
            <h6 i18n="@@inputTipoColumna">
                Tipo de columna
            </h6>
            <p>
                <p-selectButton [options]="columnTypes" [(ngModel)]="selectedcolumnType" (onChange)=updateColumnType()>
                </p-selectButton>
            </p>
        </div>

        <div *ngIf="columnPanel.computed_column === 'no'" style="margin: 10px">
            <h6 i18n="@@agregacionH6">
                Agregación
            </h6>
            <p>
                <p-selectButton [options]="aggTypes" [(ngModel)]="selectedAggType" multiple="multiple"
                    (onChange)=updateAgg()>
                </p-selectButton>
            </p>

        </div>

        <div *ngIf="columnPanel.computed_column === 'no'" style="margin: 10px">
            <h6 i18n="@@rolesPermisos">Roles y permisos de fila</h6>
            <eda-table [inject]="table"></eda-table>
        </div>

        <button *ngIf="columnPanel.computed_column === 'no'" class="btn-sm btn-secondary" (click)="openPermissionsRelationDialog()"
           i18n-title="@@addPermissions" title="Añadir permiso"
            style="margin-left: 11px"> Añadir permiso
        </button>

        <div *ngIf="columnPanel.computed_column === 'no'" style="margin: 10px">
            <h6 i18n="@@esconderColumna">Esconder columna</h6>
            <p>
                <p-inputSwitch (onChange)="toggle_column(columnPanel.visible)" [(ngModel)]="!columnPanel.visible">
                </p-inputSwitch>
            </p>
        </div>


        <div>
            <button *ngIf="columnPanel.SQLexpression" type="button" pButton (click)="checkCalculatedColumn(columnPanel)"
                class="ui-button-success ml-2" label="Comprobar expresión"></button>
            <button *ngIf="columnPanel.computed_column !== 'no'" type="button" pButton
                (click)="deleteCalculatedCol(columnPanel)" class="ui-button-danger ml-2" label="Borrar"></button>
        </div>

    </p-panel>

</div>

<app-table-relations-dialog *ngIf="relationController" [controller]="relationController"></app-table-relations-dialog>
<app-column-permission-dialog *ngIf="permissionsController" [controller]="permissionsController">
</app-column-permission-dialog>
<app-calculated-column-dialog *ngIf="newColController" [controller]="newColController"></app-calculated-column-dialog>


<div *ngIf="typePanel==='root' && modelPanel.metadata" class="tp-container">

    <p-panel header="Editar {{modelPanel.type ? 'Modelo' + ' ' + modelPanel.metadata.model_name : ''}}">

        <h5 i18n="@@metadata">
            Metadata
        </h5>

        <div style="margin: 10px">
            <h6 i18n="@@inputNombre">
                Nombre
            </h6>
            <input pInputText type="text" size="50" [(ngModel)]="modelPanel.metadata.model_name" (keyup)="update()">
        </div>

        <h5 i18n="@@conexionH5">
            Conexión
        </h5>
        <div style="margin: 10px">
            <h6 i18n="@@inputTipo">
                Tipo
            </h6>
            <p-dropdown [options]="tiposBD" [(ngModel)]="selectedTipoBD"
                i18n-placeholder="placeholder|Dropdown tipos@@placeholderDropdown" i18n-placeholder="@@inputTipo"
                placeholder="Tipo" optionLabel="label" (onChange)="setDbType()">
            </p-dropdown>
        </div>

        <div style="margin: 10px">
            <h6 i18n="@@inputHost">
                Host
            </h6>
            <input pInputText type="text" size="50" [(ngModel)]="modelPanel.connection.host" (keyup)="update()">
        </div>

        <div style="margin: 10px">
            <h6 i18n="@@inputNombreDB">
                Base de datos
            </h6>
            <input pInputText type="text" size="50" [(ngModel)]="modelPanel.connection.database" (keyup)="update()">
        </div>

        <div style="margin: 10px">
            <h6 i18n="@@inputNombreDB">
                Esquema
            </h6>
            <input pInputText type="text" size="50" [(ngModel)]="modelPanel.connection.schema" (keyup)="update()">
        </div>

        <div style="margin: 10px">
            <h6 i18n="@@inputNombreUsuario">
                Usuario
            </h6>
            <input pInputText type="text" size="50" [(ngModel)]="modelPanel.connection.user" (keyup)="update()">
        </div>

        <div style="margin: 10px">
            <h6 i18n="password@@inputPassword">
                Password
            </h6>
            <input pPassword type="password" [(ngModel)]="modelPanel.connection.password" (keyup)="update()"
                autocomplete="new-password">
        </div>
        <div>
            <button type="button" pButton (click)="checkConection()" class="ui-button-success ml-2"
                label="Comprobar conexión"></button>
        </div>

    </p-panel>

</div>