<div class="grid animated fadeIn">

    <div *ngIf="!isObserver" class="col-12"  id="div_new_dashboard">
        <eda-dashboard-panel class="pointer" >

            <div id="home_new_dashboard" class="d-flex justify-content-center" (click)="createDashboard = true;">
                <h3 i18n="@@tituloNuevoInforme">
                    Crear nuevo informe
                </h3>
            </div>

        </eda-dashboard-panel>
    </div>  




    <div class="col-12 " *ngIf="tags.length !== 2" style="margin-top: 2em;">
        <p-toolbar class="tag-container" >
            <span class="tag-label"> Tags: </span>
            <span
                [className]="selectedTag === tag.value || (tag.value === null && selectedTag === 0 )? 'tag active' : 'tag' "
                *ngFor="let tag of tags" (click)="filterDashboards(tag)">{{tag.label}}</span>

        </p-toolbar>
    </div>


    <!-- Buscador -->
    <div class="col-12 ml-3"  *ngIf="filteringByName==true ||  (visibleDashboards.publics.length >3 || visibleDashboards.grups.length >3 || visibleDashboards.grups.length >3 || visibleDashboards.privats.length >3 )" style="margin-top: 0em;">
        <p-toolbar class="tag-container" >
            <p-toolbar class="tag-container" >
                <i class="fa fa-search" style="font-size: 16px"></i>
                <input type="text" id="buscador"  name="buscador" (keyup)="filterTitle($event)"   i18n-placeholder="@@buscarPorNombre" placeholder="Buscar por nombre del informe"> 
            </p-toolbar>
        </p-toolbar>
    </div>


    <!-- PUBLICS -->
    <div class="col-12 lg:col-3" id="public-list">
        <h4 i18n="@@tituloGrupoPublicos" class="visibility-segment">
            PUBLICOS
        </h4>

        <div *ngFor="let dashboard of visibleDashboards.shared" class="col-12 md:col-12 mb-2" style="padding: 0px;">

            <eda-dashboard-panel>
                <div class="d-flex justify-content-between align-items-end">

                    <h3 (click)="goToDashboard(dashboard)" class="pointer">
                        {{dashboard.config.title}}
                    </h3>

                    
                    <span *ngIf=" !isObserver   &&  canIEdit(dashboard)   " (click)="deleteDashboard(dashboard)" class="pointer">
                        <i class="fa fa-trash" style="font-size: 16px"></i>
                    </span>

                </div>
            </eda-dashboard-panel>

        </div>
    </div>
    <!-- COMUN -->
    <div class="col-12 lg:col-3"   id="common-list">
        <h4 i18n="@@tituloGrupoComunes" class="visibility-segment">
            COMUNES
        </h4>

        <div *ngFor="let dashboard of visibleDashboards.publics" class="col-12 md:col-12 mb-2" style="padding: 0px;">

            <eda-dashboard-panel>
                <div class="d-flex justify-content-between align-items-end">

                    <h3 (click)="goToDashboard(dashboard)" class="pointer">
                        {{dashboard.config.title}}
                    </h3>

                    <span *ngIf=" !isObserver   &&  canIEdit(dashboard)  " (click)="deleteDashboard(dashboard)" class="pointer">
                        <i class="fa fa-trash" style="font-size: 16px"></i>
                    </span>

                </div>
            </eda-dashboard-panel>

        </div>
    </div>
    <!-- GROUPS -->
    <div class="col-12 lg:col-3"  id="group-list">
        <h4 i18n="@@tituloGrupoMisGrupos" class="visibility-segment">
            MIS GRUPOS
        </h4>

        <div *ngFor="let group of groups" class="col-12" style="padding: 0px;">
            <!-- <h6>{{group.name}}:</h6> -->

            <div *ngFor="let dashboard of visibleDashboards.grups | ids:'group':group" class="col-12 md:col-12 mb-2"
                style="padding: 0px;">
                <ng-container>
                    <eda-dashboard-panel>
                        <h3 (click)="goToDashboard(dashboard)" class="pointer">
                            {{dashboard.config.title}}
                        </h3>

                        <div class="d-flex justify-content-between align-items-end">
                            <span style="text-align: left;">{{getGroupsNamesByDashboard(dashboard.group)}}</span>

                            <span *ngIf=" !isObserver   &&  canIEdit(dashboard)  " (click)="deleteDashboard(dashboard)" class="pointer">
                                <i class="fa fa-trash" style="font-size: 16px"></i>
                            </span>
                        </div>
                    </eda-dashboard-panel>
                </ng-container>

            </div>
        </div>
    </div>
    <!-- PRIVATES -->
    <div class="col-12 lg:col-3" id="private-list">
        <h4 i18n="@@tituloGrupoPersonales" class="visibility-segment">
            PRIVADOS
        </h4>

        <div *ngFor="let dashboard of visibleDashboards.privats" class="col-12 md:col-12 mb-2" style="padding: 0px;">

            <ng-container *ngIf="!isAdmin">
                <eda-dashboard-panel>
                    <div class="d-flex justify-content-between align-items-end">

                        <h3 (click)="goToDashboard(dashboard)" class="pointer">
                            {{dashboard.config.title}}
                        </h3>

                        <span *ngIf=" !isObserver   &&  canIEdit(dashboard)  " (click)="deleteDashboard(dashboard)" class="pointer">
                            <i class="fa fa-trash" style="font-size: 16px"></i>
                        </span>

                    </div>
                </eda-dashboard-panel>
            </ng-container>

            <ng-container *ngIf="isAdmin">
                <eda-dashboard-panel>
                    <h3 (click)="goToDashboard(dashboard)" class="pointer">
                        {{dashboard.config.title}}
                    </h3>

                    <div class="d-flex justify-content-between align-items-end">
                        <span>{{dashboard.user?.name}}</span>

                        <span *ngIf=" !isObserver   &&  canIEdit(dashboard)  " (click)="deleteDashboard(dashboard)" class="pointer">
                            <i class="fa fa-trash" style="font-size: 16px"></i>
                        </span>
                    </div>

                </eda-dashboard-panel>
            </ng-container>

        </div>
    </div>

</div>

<app-create-dashboard *ngIf="createDashboard" (close)="onCloseCreateDashboard($event)"></app-create-dashboard>

<div id="tutorial-home">
    <div>
        <h2 i18n="@@tutorialHome" class="title-tutorial ">Edalitics free</h2>
    </div>

    <div>
        <p class="tutorial-text" i18n="@@firstAboutParagraphHome" >
            Toda la potencia de Edalitics para información pública o de uso personal. 
            <a class="stronger-paragraph" href="https://www.edalitics.com">Edalitics</a> es el servicio cloud que ofrece 
            <a class="stronger-paragraph" href="https://www.jortilles.com">Jortilles</a> sobre 
            <a class="stronger-paragraph" href="https://eda.jortilles.com">EDA</a>. Edalitics Free te permite analizar toda la información que quieras de forma gratuita siempre que hagas un uso razonable.
        
        </p>

        <p class="tutorial-text" i18n="@@thirdAboutParagraphHome" >
           A continuación tienes una guía rápida. Toda la inforación que necesites está disponible en la 
           <a class="stronger-paragraph" href="https://edadoc.jortilles.com/#/">documentación</a>
           o puedes pedir ayuda en los <a class="stronger-paragraph" href="https://github.com/jortilles/EDA/discussionso">grupos de discusión</a>.
        </p>
    </div>


    <h2 class="title-tutorial">Tutorial</h2>
    <div>
        <div class="tutorial-text">
            Para analizar la información con Edalitics necesitarás:
            <ol>
                <li><b>Crear una fuente de datos</b>: Conectar tus datos a Edalitics.</li>
                <li><b>Crear un informe</b>: Analizar  tus datos a Edalitics.</li>
            </ol> 
        </div>
        <div>
            <p-panel header="1. Crear una fuente de datos:" [ngClass]="{'large-header': true}">
                <div class="tutorial-text">
                    <p>Hay una explicación más detallada en la <a href="https://edadoc.jortilles.com/#/modelo_de_datos" target="_blank">documentación</a>.
                        O puedes ver este <a href="https://youtu.be/Px709s0ftiI" target="_blank">video-tutorial</a></p>
                    <p>Edalitics permite analizar datos de una <b>base de datos</b>, un <b>webservice</b> o un archivo <b>excel</b>.  </p>
                    <ul>
                        <li> En el menú de la izquierda elegimos <b>fuente de datos</b>, al desplegarse el menú:  <b> nueva fuente de datos</b>.</li>
                        <li> Una vez en la configuración el damos un nombre y elegimos el tipo de orígen de datos. </li>
                        <li> Configuramos los datos necesarios. </li>
                        <li> Personalizamos, si queremos, nuestra fuente de datos.</li>
                    </ul>
                </div>
            </p-panel>
        </div>

        <br>


        <div>
            <p-panel header="2. Creación de un nuevo informe y paneles de visualización de datos:" [ngClass]="{'large-header': true}">
                <div class="tutorial-text">
                    <p>Hay una explicación más detallada en la <a href="https://edadoc.jortilles.com/#/crear_informes" target="_blank">documentación</a>.
                        O puedes ver este <a href="https://youtu.be/RFznLe9kxHU" target="_blank">video-tutorial</a>
                    </p> 
                    <ul>
                        <li>En la parte superior de la pantalla tenemos el boton <b>crear nuevo informe</b>, el cual nos abre un pop up que contiene los campos de nuevo nombre de informe y selección de una fuente de datos. </li>
                        <li>Le damos un nombre al informe y elegimos la fuente de datos sobre la que queremos hacer el informe.</li>
                        <li>Agregamos paneles de datos, filtros o textos a nuestro informe. </li>
                    </ul>
                </div>
            </p-panel>
        </div>



    </div>
</div>