<div class="grid animated fadeIn">

    <div *ngIf="!isObserver" class="col-12"  id="div_new_dashboard">
        <eda-dashboard-panel class="pointer" >

            <div id="home_new_dashboard" class="d-flex justify-content-center" (click)="createDashboard = true;">
                <h3 i18n="@@tituloNuevoInforme">
                    Crear nuevo informe
                </h3>
            </div>

        </eda-dashboard-panel>
    </div>  




    <div class="col-12 " *ngIf="tags.length !== 2" style="margin-top: 2em;">
        <p-toolbar class="tag-container" >
            <span class="tag-label"> Tags: </span>
            <span
                [className]="selectedTag === tag.value || (tag.value === null && selectedTag === 0 )? 'tag active' : 'tag' "
                *ngFor="let tag of tags" (click)="filterDashboards(tag)">{{tag.label}}</span>

        </p-toolbar>
    </div>


    <!-- Buscador -->
    <div class="col-12 ml-3"  *ngIf="filteringByName==true ||  (visibleDashboards.publics.length >3 || visibleDashboards.grups.length >3 || visibleDashboards.grups.length >3 || visibleDashboards.privats.length >3 )" style="margin-top: 0em;">
        <p-toolbar class="tag-container" >
            <p-toolbar class="tag-container" >
                <i class="fa fa-search" style="font-size: 16px"></i>
                <input type="text" id="buscador"  name="buscador" (keyup)="filterTitle($event)"   i18n-placeholder="@@buscarPorNombre" placeholder="Buscar por nombre del informe"> 
            </p-toolbar>
        </p-toolbar>
    </div>


    <!-- PUBLICS -->
    <div class="col-12 lg:col-3" id="public-list">
        <h4 i18n="@@tituloGrupoPublicos" class="visibility-segment">
            PUBLICOS
        </h4>

        <div *ngFor="let dashboard of visibleDashboards.shared" class="col-12 md:col-12 mb-2" style="padding: 0px;">

            <eda-dashboard-panel>
                <div class="d-flex justify-content-between align-items-end">

                    <h3 (click)="goToDashboard(dashboard)" class="pointer">
                        {{dashboard.config.title}}
                    </h3>

                    
                    <span *ngIf=" !isObserver   &&  canIEdit(dashboard)   " (click)="deleteDashboard(dashboard)" class="pointer">
                        <i class="fa fa-trash" style="font-size: 16px"></i>
                    </span>

                </div>
            </eda-dashboard-panel>

        </div>
    </div>
    <!-- COMUN -->
    <div class="col-12 lg:col-3"   id="common-list">
        <h4 i18n="@@tituloGrupoComunes" class="visibility-segment">
            COMUNES
        </h4>

        <div *ngFor="let dashboard of visibleDashboards.publics" class="col-12 md:col-12 mb-2" style="padding: 0px;">

            <eda-dashboard-panel>
                <div class="d-flex justify-content-between align-items-end">

                    <h3 (click)="goToDashboard(dashboard)" class="pointer">
                        {{dashboard.config.title}}
                    </h3>

                    <span *ngIf=" !isObserver   &&  canIEdit(dashboard)  " (click)="deleteDashboard(dashboard)" class="pointer">
                        <i class="fa fa-trash" style="font-size: 16px"></i>
                    </span>

                </div>
            </eda-dashboard-panel>

        </div>
    </div>
    <!-- GROUPS -->
    <div class="col-12 lg:col-3"  id="group-list">
        <h4 i18n="@@tituloGrupoMisGrupos" class="visibility-segment">
            MIS GRUPOS
        </h4>

        <div *ngFor="let group of groups" class="col-12" style="padding: 0px;">
            <!-- <h6>{{group.name}}:</h6> -->

            <div *ngFor="let dashboard of visibleDashboards.grups | ids:'group':group" class="col-12 md:col-12 mb-2"
                style="padding: 0px;">
                <ng-container>
                    <eda-dashboard-panel>
                        <h3 (click)="goToDashboard(dashboard)" class="pointer">
                            {{dashboard.config.title}}
                        </h3>

                        <div class="d-flex justify-content-between align-items-end">
                            <span style="text-align: left;">{{getGroupsNamesByDashboard(dashboard.group)}}</span>

                            <span *ngIf=" !isObserver   &&  canIEdit(dashboard)  " (click)="deleteDashboard(dashboard)" class="pointer">
                                <i class="fa fa-trash" style="font-size: 16px"></i>
                            </span>
                        </div>
                    </eda-dashboard-panel>
                </ng-container>

            </div>
        </div>
    </div>
    <!-- PRIVATES -->
    <div class="col-12 lg:col-3" id="private-list">
        <h4 i18n="@@tituloGrupoPersonales" class="visibility-segment">
            PRIVADOS
        </h4>

        <div *ngFor="let dashboard of visibleDashboards.privats" class="col-12 md:col-12 mb-2" style="padding: 0px;">

            <ng-container *ngIf="!isAdmin">
                <eda-dashboard-panel>
                    <div class="d-flex justify-content-between align-items-end">

                        <h3 (click)="goToDashboard(dashboard)" class="pointer">
                            {{dashboard.config.title}}
                        </h3>

                        <span *ngIf=" !isObserver   &&  canIEdit(dashboard)  " (click)="deleteDashboard(dashboard)" class="pointer">
                            <i class="fa fa-trash" style="font-size: 16px"></i>
                        </span>

                    </div>
                </eda-dashboard-panel>
            </ng-container>

            <ng-container *ngIf="isAdmin">
                <eda-dashboard-panel>
                    <h3 (click)="goToDashboard(dashboard)" class="pointer">
                        {{dashboard.config.title}}
                    </h3>

                    <div class="d-flex justify-content-between align-items-end">
                        <span>{{dashboard.user.name}}</span>

                        <span *ngIf=" !isObserver   &&  canIEdit(dashboard)  " (click)="deleteDashboard(dashboard)" class="pointer">
                            <i class="fa fa-trash" style="font-size: 16px"></i>
                        </span>
                    </div>

                </eda-dashboard-panel>
            </ng-container>

        </div>
    </div>

</div>



<app-create-dashboard *ngIf="createDashboard" (close)="onCloseCreateDashboard($event)"></app-create-dashboard>


<br><br>
<div class="tutorial-home">
    <div>
        <h2 i18n="@@tutorialHome" class="title-tutorial hover-underline-animation">Bienvenido al tutorial de Free Edalitics.</h2>
    </div>
    <div>
        <p class="text-tutorial" i18n="@@firstAboutParagraphSpan" >
            <a class="stronger-paragraph" href="https://eda.jortilles.com">Free Edalitics</a> les da la bienvenida para la  
            creación de informes gráficos e interactivos de forma sencilla. EDA es una aplicación que se puede instalar
            en tus propios servidores o se puede difrutar en su versión SaaS en la nube. 
            <a class="stronger-paragraph" href="https://www.edalitics.com">Edalitics</a> 
            permite disfrutar de toda la potencia de EDA sin tener que preocuparte de instalaciones, 
            configuraciones, actualizaciones, etc. Conectas tus fuentes de datos y listo.
        </p>
    </div>
    <hr>
    <br>
    <h3 class="subtitle-tutorial">Tutorial</h3>
    <div>
        <p class="text-tutorial" i18n="@@firstAboutParagraphSpan" >
            Con el tutorial de <a class="stronger-paragraph" href="https://eda.jortilles.com">Free Edalitics</a> aprenderemos a
            configurar y subir nuestra primera fuente de datos para poder iniciar en la creacion de nuestros primeros informes. 
        </p>
        <div>
            <p-panel header="Creación de una instancia de fuente de datos">
                <ul>
                    <li> <b>Primero nos dirigimos al sidebar de la izquierda y buscamos la opción: fuente de datos, al desplegarse el menú de opciones vamos por nueva fuente de datos.</b> </li>
                    <li> <b>Ante nosotros tendremos el panel de configuración de nuevo origen de datos: Agregamos los siguientes valores básicos: nombre, tipo de base de datos y servidor.</b> </li>
                    <li> <b>Al elegir el tipo de base de datos, dependiendo de nuestra elección, aparecerán diferentes campos que tendremos que completar con los datos mínimos necesarios para conectar la base de datos de turno.</b> </li>
                    <li> <b>Si los datos ingresados son correctos para la conexión a la base de datos, abremos creado nuestra instancia de fuente de datos para poder interactuar con ella a través Free Edalitics.</b> </li>
                </ul>
            </p-panel>
        </div>

        <br>

        <div>
            <p-panel header="Edición de nuestra instancia de fuente de datos - (Puede saltarse este paso para un tutorial mas rápido).">
                <ul>
                    <li> <b>Una vez creada nuestra instancia de fuente de datos en el paso anterior, nos dirigimos nuevamente al sidebar izquierdo y vamos fuente de datos.</b> </li>
                    <li> <b>Ahora presionamos en "Editar fuente de datos" y buscamos nuestra instancia de fuente de datos anteriormente configurada, si todo ha ido bien, debería aparecer aquí.</b> </li>
                    <li> <b>Seleccionamos nuestra instancia de fuente de datos y se nos presenta el panel modelo de datos.</b> </li>
                    <li> <b>En el panel de modelo de datos tenemos diferentes opciones como sincronizar, guardar, actualizar, etc. De momento para efectos del tutorial ya estaríamos listos para comenzar a utilizar Free Edalitics.</b> </li>
                </ul>
            </p-panel>
        </div>

        <br>

        <div>
            <p-panel header="Creación de un nuevo informe y paneles de visualización de datos.">
                <ul>
                    <li> <b>En la parte superior de la pantalla tenemos el boton crear nuevo informe, el cual nos abre un pop up que contiene los campos de nuevo nombre de informe y selección de una fuente de datos.</b> </li>
                    <li> <b>Si hemos configurado bien nuestra instancia de fuente de datos, esta debería aparecer aqui para poder seleccionarla.</b> </li>
                    <li> <b>Despues de seleccionar nuestra fuente de datos, vamos a confirmar e inmediatamente estaremos en el informe creado, listos para crear paneles de datos.</b> </li>
                    <li> <b>De entrada tenemos el titulo de nuevo informe en la parte superior y un nuevo panel en blanco para poder iniciar con la creación de tablas, gráficos, kpis y mucho más.</b> </li>
                </ul>
            </p-panel>
        </div>

        <br>

        <div>
            <p-panel header="Ejemplos de paneles">
                <ul>
                    <li> <b>En el panel en blanco vamos a los 3 puntos verticales, ubicados en la parte superior derecha del panel y seleccionamos editar consulta y se abrira un pop up con los valores que disponemos para interactuar con la fuente de datos.</b> </li>
                    <li> <b>Selecionamos una entidad y aparecerá los atributos que contiene y podemos ir seleccionando los que deseamos visualizar. Para continuar apretamos ejecutar y se nos mostrar una vista previa de una tabla.</b> </li>
                    <li> <b>Podemos ir cambiando con la variedad de gráficos que dispone la aplicación para visualizar la data de diferentes modos, gráficos tales como: Area polar, histograma, funnel, coordenadas, etc.</b> </li>
                    <li> <b>Finalmente confirmamos para visualizar el panel con la gráfica seleccionada, recordar que debemos guardar para mantener los cambios de nuestro informe. Para guardar vamos a la tuerca ubicacada en la parte inferior derecha y luego guardar.</b> </li>
                </ul>
            </p-panel>
        </div>

    </div>
</div>