

  .description-text1 {
    padding: 0.5rem;
    margin: 0;
    background-color: #dbdfe480;
    border-top-left-radius: 4px; /* Borde redondeado en la esquina superior izquierda */
    border-top-right-radius: 4px; /* Borde redondeado en la esquina superior derecha */
    margin-right: 2px;
  }

  .container-1 {
    width: 320px;
    max-width: 100%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
  }
  
  .list-1 {
    border: solid 0px #ffffff;
    min-height: 228px;
    background: #dbdfe480 !important;    /* cambiar de color */
    border-bottom-left-radius: 4px; /* Borde redondeado en la esquina inferior izquierda */
    border-bottom-right-radius: 4px; /* Borde redondeado en la esquina inferior derecha */
    overflow: hidden;
    display: block;
    margin-right: 2px;
  }
  
  .box-1 {
    padding: 10px 10px;
    border: solid 1px #ccc;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 12px;
    margin-top: 2px;
    margin-bottom: 2px;
  }

  .description-text2 {
    padding: 0.5rem;
    margin: 0;
    background-color: #dbdfe480;
    border-top-left-radius: 4px; /* Borde redondeado en la esquina superior izquierda */
    border-top-right-radius: 4px; /* Borde redondeado en la esquina superior derecha */
  }

  .container-2 {
    width: 600px;
    max-width: 100%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
  }

  @media(min-width: 1450px) {
    .container-2 {
      width: 850px;
    }
  }

  @media(min-width: 1650px) {
    .container-2 {
      width: 1020px;
    }
  }
  
  .list-2 {
    border: solid 0px #ffffff;
    min-height: 72px;
    background: #dbdfe480 !important;    /* cambiar de color */
    display: flex;
    flex-direction: row;
    border-bottom-left-radius: 4px; /* Borde redondeado en la esquina inferior izquierda */
    border-bottom-right-radius: 4px; /* Borde redondeado en la esquina inferior derecha */    
    overflow: hidden;
  }
  
  .box-2 {
    padding: 10px 10px;
    border: solid 1px #ccc;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 12px;
    margin-top: 2px;
    margin-bottom: 2px;
  }

  .description-text3 {
    padding: 0.5rem;
    margin: 0;
    background-color: #6f9c672e;
    border-top-left-radius: 4px; /* Borde redondeado en la esquina superior izquierda */
    border-top-right-radius: 4px; /* Borde redondeado en la esquina superior derecha */
  }

  .container-3 {
    width: 600px;
    max-width: 100%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
    margin-top: 30px;
  }

  @media(min-width: 1450px) {
    .container-3 {
      width: 850px;
    }
  }

  @media(min-width: 1650px) {
    .container-3 {
      width: 1020px;
    }
  }
  
  .list-3 {
    border: solid 0px #ffffff;
    min-height: 129px;
    background: #6f9c672e; /* cambiar de color */
    display: flex;
    flex-direction: row;
    border-bottom-left-radius: 4px; /* Borde redondeado en la esquina inferior izquierda */
    border-bottom-right-radius: 4px; /* Borde redondeado en la esquina inferior derecha */    
    overflow: hidden;
    margin-top: 0px;
  }
  
  .box-3 {
    padding: 10px 10px;
    border: solid 1px #ccc;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 12px;
    margin-top: 2px;
    margin-bottom: 2px;
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .box-1:last-child {
    border: solid 1px #ccc;
    z-index: 10000!important;
  }

  .box-2:last-child {
    border: solid 1px #ccc;
    z-index: 10000!important;
  }

  .box-3:last-child {
    border: solid 1px #ccc;
    z-index: 10000!important;
  }
  

  .list-1.cdk-drop-list-dragging .box-1:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .list-2.cdk-drop-list-dragging .box-2:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .list-3.cdk-drop-list-dragging .box-3:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .box-total {
    padding-left: 0;
    padding-top: 0;
    max-width: 1140
  }

  .box-vertical {
    padding: 0;
    width: 322px;
  }

  .box-horizontal {
    padding: 0;
  }

  .item-message{
    margin: 1.2rem;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    justify-content: center;
  }