<!-- SDA CUSTOM - Apply border styles to panel - minimal class when no borders or background -->
<div class="panel-heading d-flex justify-content-between h-100" 
     [ngClass]="{'title-panel-minimal': isMinimalStyle()}"
     [ngStyle]="getPanelStyle()">

    <div class="panel-heading justify-content-between h-100 w-100 d-flex align-items-center" style="margin-top: 0.2rem;">
<!-- SDA CUSTOM -->        <div #titleContainer class="mb-0 pointer w-100 eda-title-panel" style="padding-left: 8px; overflow: hidden; max-height: 100%;" [ngStyle]="getTitleStyle()" [innerHTML]="getScaledTitle() | sanitizeHtml" (dblclick)="display.editMode && openEditDialog()"></div>
    </div>

<!-- SDA CUSTOM -->    <div *ngIf="display.editMode" class="d-flex align-items-center">
<!-- SDA CUSTOM -->        <div *ngIf="inject.canSave" class="mr-2 pointer" (click)="toggleLock()" [attr.title]="panel.locked ? unlockPanelTooltip : lockPanelTooltip">
<!-- SDA CUSTOM -->            <i [className]="panel.locked ? 'fa fa-lock' : 'fa fa-unlock'" [style.color]="panel.locked ? 'red' : 'green'"></i>
<!-- SDA CUSTOM -->        </div>
<!-- SDA CUSTOM -->       <div id="edit" style="text-align: right; max-height: 2rem; ">
                              <i class="fa fa-ellipsis-v btn" (click)="contextMenu.showContextMenu($event)"></i>
<!-- SDA CUSTOM -->       </div>
<!-- SDA CUSTOM -->    </div>

</div>




<eda-context-menu [inject]="contextMenu"></eda-context-menu>
<app-title-dialog *ngIf="editTittleController" [controller]="editTittleController"> </app-title-dialog>