.ql-size-small {
  font-size: 0.75em;
}
.ql-size-large {
  font-size: 1.3em;
}
.ql-size-huge {
  font-size: 2em;
}
.eda-title-panel a {
  color: #13427d !important;
}





p.ql-align-left {
  text-align: left !important;
}
p.ql-align-center {
  text-align: center !important;
}
p.ql-align-justify {
  text-align: justify !important;
}
p.ql-align-right {
  text-align: right !important;
}

h1.ql-align-left {
  text-align: left !important;
}
h1.ql-align-center {
  text-align: center !important;
}
h1.ql-align-justify {
  text-align: justify !important;
}
h1.ql-align-right {
  text-align: right !important;
}

h2.ql-align-left {
  text-align: left !important;
}
h2.ql-align-center {
  text-align: center !important;
}
h2.ql-align-justify {
  text-align: justify !important;
}
h2.ql-align-right {
  text-align: right !important;
}




strong {
font-weight: bold !important;
}


/*============================================================== 
  For Laptop & above all (1370px) 
  ============================================================== */
  @media (max-width: 1370px) {
    .ql-size-small {
      font-size: 0.6em;
    }
    .ql-size-large {
      font-size: 1em;
    }
    .ql-size-huge {
      font-size: 1.2em;
    }
    .eda-title-panel a {
      color: #13427d !important;
    }
    

  }
