<eda-dialog2 [display]="display"
  header="Configuración de los envíos por email" width="50vw" height="65vh"
  [disableApply]="disableApply()"
  (apply)="onApply()"
  (close)="onClose()">

  <div content class="p-6">
    <div class="grid grid-cols-3 gap-6">

        <div class="grid grid-flow-row auto-rows-auto gap-4">

            <div>
                <p-floatLabel class="w-full">
                    <input type="number" [(ngModel)]="quantity" class="w-full border px-2 py-2.5 rounded">
                    <label i18n="@@SendMailEvery">Enviar mail de alerta cada: </label>
                </p-floatLabel>
            </div>

            <div class="flex items-center space-x-2">
                <input type="radio" name="groupname" value="days" [(ngModel)]="units" class="w-5 h-5 text-blue-600 bg-gray-100 border-gray-300"/>
                <span class="text-l">{{daysSTR}}</span>

            </div>
    
            <div>
                @if (units==='days') {
                    <p i18n="@@at" class="mb-2"> A las </p>
                    <p-calendar [timeOnly]="true" [(ngModel)]="hours" class="w-full border px-2 py-2.5 rounded"></p-calendar> 
                }
            </div>
    
            <div class="flex items-center space-x-2">
                <input type="radio" name="groupname" value="hours" [(ngModel)]="units" class="w-5 h-5 text-blue-600 bg-gray-100 border-gray-300"/>
                <span class="text-l">{{hoursSTR}}</span>
            </div>
    
            <div>
                @if (!disabled) {<h6 i18n="@@noMail">Sin alertas de correo</h6>}
                @else {<h6 i18n="@@opcionMail">Enviar por email</h6>}
                <p-inputSwitch id="switchCache" class="mt-4" [(ngModel)]="disabled" tooltipPosition="left"></p-inputSwitch>
            </div>

        </div>
    
        <div> 
            <h6 i18n="@@SendMailWho"> Destinatarios </h6>
            <div class="w-full">
                <p-multiSelect 
                [(ngModel)]="selectedUsers" [options]="users" optionLabel="label" 
                    defaultLabel="Selecciona los destinatarios *" class="w-full fixed-multiselect" [maxSelectedLabels]="1">
                </p-multiSelect>
            </div>
        </div>
    
        <div>    
          <h6 i18n="@@SendMailWhat"> Contenido del mail: </h6>
          <textarea class="w-full h-full border px-2 py-2.5 rounded" pInputTextarea autoResize="autoResize" [(ngModel)]="mailMessage"></textarea>
        </div>
    


    </div>
  </div>
</eda-dialog2>


