@if(viewMode == 'vertical'){
    <ng-container>
        <div class="form-group row">
            <label class="{{labelCols}}">{{label}}</label>

            <div class="{{cols}}">
                <ng-content></ng-content>
            </div>

        </div>
    </ng-container>
}

@if(viewMode == 'horizontal'){
    <ng-container>
        <div class="form-group row" [ngClass]="customClass" [style.clear]="'both'">
            <label class="{{labelCols}} control-label edaFieldLabel">
                {{label}}
            </label>
            <div class="{{cols}}">
                <ng-content></ng-content>
            </div>
        </div>
    </ng-container>
}