.checkbox-corporate             { accent-color: var(--corporate-primary); }

.text-corporate-primary         { color: var(--corporate-primary); }

.btn-corporate-primary          { background-color: var(--corporate-primary) !important; color: white; }
.btn-corporate-primary:hover    { background: linear-gradient(to right, var(--corporate-primary), var(--corporate-primary-gradient)) !important; transition: background 0.8s ease; }

.dropzone-active                { border-color: var(--corporate-primary) !important; background-color: var(--corporate-primary) !important; opacity: 0.8; }
.dropzone-idle:hover            { border-color: var(--corporate-primary); }

