<span [class]="inject.divClass">

    @if(inject.icon){
        <i [class]="inject.icon"></i>
    }

    @if(_isEdaInputText(inject)){
        <ng-container>

            <input #reference #in="ngModel" [attr.id]="inject.id ? inject.id : null" [name]="inject.name" [(ngModel)]="inject.ngModel"
                [class]="inject.inputClass" [disabled]="inject.disabled" [required]="inject.required"
                [readonly]="inject.readonly" (change)="inject.onChange($event)" (keyup)="inject.onKeyUp($event)" (focusout)="inject.onFocusOut($event)">

        </ng-container>
    }

    @if(inject.showLabel){
        <label [for]="inject.id">
            {{ inject.label }}
        </label>
    }

</span>