<span [class]="inject.divClass">

    <i *ngIf="inject.icon" [class]="inject.icon"></i>

    <ng-container *ngIf="_isEdaInputText(inject)">

        <input #reference #in="ngModel" [id]="inject.id" [name]="inject.name" [(ngModel)]="inject.ngModel"
            [class]="inject.inputClass" [disabled]="inject.disabled" [required]="inject.required"
            [readonly]="inject.readonly" (change)="inject.onChange($event)" (keyup)="inject.onKeyUp($event)" (focusout)="inject.onFocusOut($event)">

    </ng-container>

    <label *ngIf="inject.showLabel" [for]="inject.id">
        {{ inject.label }}
    </label>

</span>