<div class="ui-g animated fadeIn">

  <div class="ui-lg-7">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Perfil del usuario</h4>

        <form ngNativeValidate #f="ngForm" (ngSubmit)="guardar(f.value)" class="form p-t-20">
          <div class="form-group">
            <label>Nombre de usuario</label>
            <div class="ui-inputgroup">
              <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
              <input pInputText [ngModel]="user.name" name="name" type="text" class="form-control" placeholder="Nombre de usuario" required>
            </div>
          </div>
          <div class="form-group">
            <label>Correo de usuario</label>
            <div class="ui-inputgroup">
              <span class="ui-inputgroup-addon"><i class="fa fa-envelope"></i></span>
              <input pInputText [ngModel]="user.email" [disabled]="user.google" name="email" type="email" class="form-control" placeholder="Correo del usuario" required>
            </div>
          </div>

          <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
            <i class="fa fa-save"></i>
            Guardar
          </button>
        </form>
      </div>
    </div>
  </div>


  <div class="ui-lg-5">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Fotografía del usuario</h4>

        <div class="text-center">
          <img *ngIf="!imageTemp" [src]="user.img | image" class="w-150">
          <img *ngIf="imageTemp" [src]="imageTemp" class="w-150">
        </div>

        <input (change)="selectImage( $event.target.files[0] )" type="file" class="mt-1">

        <br><br>

        <button (click)="changeImage()" [disabled]="!imageUpload" type="button" class="btn btn-block btn-success waves-effect waves-light m-r-10">
          <i class="fa fa-save"></i>
          Actualizar Foto
        </button>
      </div>
    </div>
  </div>

</div>
