<eda-dialog2 [display]="display" i18n-header="@@dialogHeaderCustomActions" [header]="title" width="40vw" height="40vh"
  [overflow]="'auto'" (apply)="saveChartConfig()" (close)="closeChartConfig()">
  <div content class="p-6">
    <div style="margin: 1em;">
      @if(activateProgressBar){
        <p-progressBar mode="indeterminate" [style]="{'height': '0.3rem'}"></p-progressBar>
      }
    </div>

    <!-- CASE chart + edaquery -->
    @if (!controller.params.modeSQL && !['table', 'parallelSets'].includes(controller.params.charttype) ) {
      <div class="grid grid-cols-2 p-6">
        <div class="">
          <label class="block font-medium text-gray-700 mb-1" i18n="@@csvField">
            Campo
          </label>
          <div class="text-gray-600 mb-1">{{ column }}</div>
        </div>
        
        <div class="">
          <label for="technical-name" class="block font-medium text-gray-700 mb-1" i18n="@@LinkDashboardSelectedDashboard">
            Informe a vincular
          </label>
          <div class="text-gray-600 mb-1">
            <p-dropdown [options]="dasboards" [(ngModel)]="selectedDashboard" [disabled]="noLink" [style]="{'width': '100%'}"></p-dropdown>
          </div>
        </div>
      </div>
    }


    <!-- CASE table + edaquery -->
    @if (!controller.params.modeSQL && ['table', 'parallelSets'].includes(controller.params.charttype) ) {
      <div class="grid grid-cols-2 gap-2">
        <div class="">
          <label class="block font-medium text-gray-700 mb-1" i18n="@@csvField">
            Campo
          </label>
          <div class="text-gray-600 mb-1">
            <p-dropdown 
              [(ngModel)]="selectedColumn"
              [options]="columns"
              [disabled]="noLink"
              (onChange)="initDashboards(selectedColumn)"
              optionLabel="colname" 
              i18n-placeholder="@@csvField"
              placeholder="Field"
              [style]="{'width': '100%'}"
            ></p-dropdown>
          </div>
        </div>
        
        <div class="">
          <label for="technical-name" class="block font-medium text-gray-700 mb-1" i18n="@@LinkDashboardSelectedDashboard">
            Informe a vincular
          </label>
          <div class="text-gray-600 mb-1">
            <p-dropdown
              [options]="dasboards"
              [(ngModel)]="selectedDashboard"
              [disabled]="loading === true"
              [style]="{'width': '100%'}"
              i18n-placeholder="@@fieldDashboardDashboard"
              placeholder="Dashboard"
              [loading] = "loading===true"
            ></p-dropdown>
          </div>
        </div>
      </div>
    }

    <!-- CASE chart + sqlquery -->
    @if (controller.params.modeSQL) {
      <div class="grid grid-cols-3 gap-3">
        <div class="">
          <label class="block font-medium text-gray-700 mb-1" i18n="@@csvField">
            Campo
          </label>
          <div class="text-gray-600 mb-1">
            <p-dropdown 
              [(ngModel)]="selectedColumn"
              [options]="columns"
              [disabled]="noLink"
              (onChange)="initDashboards(selectedColumn)"
              optionLabel="colname" 
              i18n-placeholder="@@columnDashboard"
              placeholder="Column"
              [style]="{'width': '100%'}"
            ></p-dropdown>
          </div>
        </div>

        <div class="">
          <label class="block font-medium text-gray-700 mb-1" i18n="@@LinkDashboardDbFilter">
            Campo del informe
          </label>
          <div class="text-gray-600 mb-1">
            <p-dropdown
            [(ngModel)]="selectedDashboard"
              [options]="dasboards"
              i18n-placeholder="@@fieldDashboardDashboard"
              placeholder="Dashboard"
              [disabled]="noLink"
              (onChange)="filterFilters()"
              [style]="{'width': '100%'}"
            ></p-dropdown>
          </div>
        </div>
        
        <div class="">
          <label for="technical-name" class="block font-medium text-gray-700 mb-1" i18n="@@LinkDashboardSelectedDashboard">
            Informe a vincular
          </label>
          <div class="text-gray-600 mb-1">
            <p-dropdown
              [(ngModel)]="selectedFilter"
              [options]="filters"
              optionLabel="colname" 
              i18n-placeholder="@@columnDashboard"
              placeholder="Column"
              [disabled]="noLink"
              [style]="{'width': '100%'}"
              (onChange)="handleTargetColumn()"
            ></p-dropdown>
          </div>
        </div>
      </div>
    }

    @if (!noLink) {
      <div class="grid space-y-4 mt-6">
        <p-chip
          label="{{unLinkString}} {{oldLinked}}"
          removable="true"
          (onRemove)="noLink = true;"
          >
        </p-chip>
      </div>
    }
  </div>
</eda-dialog2>