<div class="pos-about">
    <div>
        <h1 i18n="@@tituloAbout" class="title-about hover-underline-animation">Enterprise Data Analytics</h1>
    </div>
    <div>
        <p>
            <a class="stronger-paragraph" href="https://eda.jortilles.com">Enterprise Data Analytics (EDA)</a> 
            <a i18n="@@firstAboutParagraphSpan_1">es una aplicación web de código libre que permite realizar informes gráficos e interactivos de
             forma sencilla. EDA es una aplicación que se puede instalar en tus propios servidores o se puede difrutar en su versión SaaS</a> 
            <a class="stronger-paragraph" href="https://www.edalitics.com">Edalitics</a>. 
            <a i18n="@@firstAboutParagraphSpan_2">Edalitics permite disfrutar de toda la potencia de EDA sin tener que preocuparte de instalaciones, 
            configuraciones, actualizaciones, etc. Conectas tus fuentes de datos y listo.</a>

        </p>
        <p>
            <a i18n="@@secondAboutParagraph_1">EDA ha sido desarrollado por </a>
            <a class="stronger-paragraph" href="https://www.jortilles.com">Jortilles</a>. 
            <a i18n="@@secondAboutParagraph_2">Si necesita soporte empresarial, no dude en contactar con nosotros. Así mismo cómo si quiere solicitar nuevas
            funcionalidades o carácteristicas. Jortilles financia el desarrollo de EDA mediante las suscripciones a Edalitics
            y el soporte empresarial que ofrece a sus clientes.</a>
            
        </p>
        <p>
            <a i18n="@@thirdAboutParagraph">El código fuente de EDA está disponible en </a>
            <a class="stronger-paragraph" href="https://github.com/jortilles/EDA">Github</a>. 
        </p>
        <p>
            <a i18n="@@fourthAboutParagraph_1">La documentación de EDA está disponible en </a>
            <a i18n="@@fourthAboutParagraph_2" class="stronger-paragraph" href="https://edadoc.jortilles.com/#/">Este Link</a>
        </p>
        <p>
            <a i18n="@@fifthAboutParagraph_1">Existe un foro donde puedes compartir tu experiencia con la comunidad en </a>
            <a i18n="@@fifthAboutParagraph_2" class="stronger-paragraph" href="https://github.com/jortilles/EDA/discussions">Este Link</a>
        </p>
    </div>

    <hr>

    <h2 i18n="@@visitYouTubeLink">Consulta nuestros videotutoriales en youtube</h2>
    
    <div class="row">
        <div class="col-md-6">
            <p>
                <a i18n="@@firstAboutVideo_1">Como crear un modelo de datos en </a>
                <a class="stronger-paragraph" href="https://www.edalitics.com">edalitics</a>. 
                <a i18n="@@firstAboutVideo_2">La plataforma cloud de</a> 
                <a class="stronger-paragraph" href="https://eda.jortilles.com"> EDA</a>
            </p>
            <iframe [src]='datamodelSafe' frameborder="0"  width="560" height="315"  allowfullscreen></iframe>
        </div>
        <div class="col-md-6">
            <p>
                <a i18n="@@secondAboutVideo_1">Como crear un informe en</a> 
                <a class="stronger-paragraph" href="https://www.edalitics.com">edalitics</a>. 
                <a i18n="@@secondAboutVideo_2">La plataforma cloud de</a>                 
                <a class="stronger-paragraph" href="https://eda.jortilles.com">EDA</a>
            </p>
            <iframe  [src]='reportSafe' frameborder="0" width="560" height="315"  allowfullscreen></iframe>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p>
                <a i18n="@@thirdAboutVideo_1">¿Quieres probar</a> 
                <a class="stronger-paragraph" href="https://eda.jortilles.com">EDA</a> 
                <a i18n="@@thirdAboutVideo_2">en el cloud?</a> 
                <a class="stronger-paragraph" href="https://www.edalitics.com">Edalitics</a> 
                <a i18n="@@thirdAboutVideo_3"> te permitirá estar siempre a la última sin preocuparte por nada.</a>  
            </p>
            <iframe  [src]='edaliticsPlansSafe' frameborder="0" width="560" height="315"  allowfullscreen></iframe>           
        </div>
    </div>
</div>