.pos-about{
    margin: 5%;
}
.title-about{
    font-size: 4em;
    margin: 10px 0px  40px 0px;
}
.stronger-paragraph{
    font-weight: 700;
    color: #009FC1;
}
h1{
  font-size: 1.2em;
}
p{
  font-size: 1.3em;
}