<eda-dialog2 
    header="Edición de query de la vista" width="50vw" height= "80vh"
    [display]="display"
    [disableApply]="!confirmed"
    (apply)="viewDialogEditionApply()"
    (close)="viewDialogEditionClose()">

    <div content>

        <div body>

            <form [formGroup]="form" class="form-horizontal form-material">
            
                

                <div style="margin: 10px">
                <h6 i18n="@@sqlExp">Expresión SQL</h6>
                <textarea id="viewSQL" pInputTextarea type="text" formControlName="SQLexpression" rows="8"
                    cols="100"></textarea>
                </div>

                <div style="margin: 10px">
                <button id="viewGenerate" type="button" pButton (click)="checkView()" class="ui-button-success ml-2"
                    i18n-label="@@generateView" label="Generar vista" [disabled]="!ok"></button>
                </div>

            </form>
            
        </div>


    </div>

</eda-dialog2>
