<eda-dialog2 [display]="display"   i18n-header="@@sendMailHeader"
  header="Configuración de los envíos por email" width="50vw" height="65vh"
  [disableApply]="disableApply()"
  (apply)="onApply()"
  (close)="onClose()"
  >

<div content class="p-8 bg-gray-50 h-[50vh]">
    <div class="grid grid-cols-3 gap-8">

        <!-- Configuración de frecuencia -->
        <div class="bg-white shadow-lg rounded-2xl p-6 space-y-5">
            <h5 class="text-lg font-semibold text-gray-800 mb-4" i18n="@@SendMailEvery">Enviar mail de alerta cada:</h5>

            <div class="flex flex-col">
                <input id="quantity" type="number" [(ngModel)]="quantity" 
                    class="w-full border border-gray-300 focus:ring-2 focus:ring-blue-500 px-3 py-2.5 rounded-lg outline-none">
            </div>

            <!-- Radio días -->
            <label class="flex items-center gap-3 cursor-pointer w-fit">
                <input type="radio" name="groupname" value="days" [(ngModel)]="units"
                    class="w-5 h-5 text-blue-600 focus:ring-blue-500 border-gray-300 rounded-full">
                <span class="text-base text-gray-700">{{daysSTR}}</span>
            </label>

            <!-- Hora cuando son días -->
            <div>
                @if (units==='days') {
                <p i18n="@@at" class="mb-2 text-gray-600">A las</p>
                <p-calendar [timeOnly]="true" [(ngModel)]="hours"
                    class="w-full border border-gray-300 px-3 py-2.5 rounded-lg shadow-sm"></p-calendar>
                }
            </div>

            <!-- Radio horas -->
            <label class="flex items-center gap-3 cursor-pointer w-fit">
                <input type="radio" name="groupname" value="hours" [(ngModel)]="units"
                    class="w-5 h-5 text-blue-600 focus:ring-blue-500 border-gray-300 rounded-full">
                <span class="text-base text-gray-700">{{hoursSTR}}</span>
            </label>


            <!-- Switch -->
            <div class="pt-4 border-t border-gray-200">
                @if (!disabled) {
                <h6 i18n="@@noMail" class="text-gray-600 font-medium">Sin alertas de correo</h6>
                }
                @else {
                <h6 i18n="@@opcionMail" class="text-gray-600 font-medium">Enviar por email</h6>
                }
                <p-inputSwitch id="switchCache" class="mt-3" [(ngModel)]="disabled"
                    tooltipPosition="left"></p-inputSwitch>
            </div>
        </div>

        <!-- Destinatarios -->
        <div class="bg-white shadow-lg rounded-2xl p-6 space-y-4">
            <h5 i18n="@@SendMailWho" class="text-lg font-semibold text-gray-800">Destinatarios</h5>

            <p-multiSelect id="dashboard-mail-config" [(ngModel)]="selectedUsers" [options]="users" optionLabel="label"
                i18n-defaultLabel="@@selectRecipients" defaultLabel="Selecciona los destinatarios *"
                class="flex w-[auto] border border-gray-300 rounded-lg" [maxSelectedLabels]="2">
            </p-multiSelect>
        </div>


        <!-- Contenido del mail -->
        <div class="bg-white shadow-lg rounded-2xl p-6 flex flex-col">
            <h5 i18n="@@SendMailWhat" class="text-lg font-semibold text-gray-800 mb-3">Contenido del mail</h5>
            <textarea
                class="flex-1 w-full border border-gray-300 px-3 py-2.5 rounded-lg shadow-sm resize-none focus:ring-2 focus:ring-blue-500 outline-none"
                pInputTextarea autoResize="autoResize" [(ngModel)]="mailMessage">
      </textarea>
        </div>

    </div>
</div>

</eda-dialog2>


