<eda-dialog [inject]="dialog">
  <div body class="flex flex-col md:flex-row flex-1 overflow-hidden h-full">
    <!-- Chart Preview -->
    <div class="p-6 flex-1 flex items-center justify-center border-b md:border-b-0 md:border-r bg-slate-50">
      <div class="relative h-full w-full">
        @if (display) {
        <panel-chart #PanelChartComponent [props]="panelChartConfig" class="h-full w-full block"></panel-chart>
        }
      </div>
    </div>

    <!-- Settings -->
    <div class="p-6 flex-1 overflow-y-auto">
      <!-- Tabs -->
      <div class="mb-6 w-full grid grid-cols-2">
        <button (click)="setActiveTab('display')" class="py-2 px-4 text-center transition-colors"
          [class.bg-slate-100]="activeTab === 'display'" [class.border-b-2]="activeTab === 'display'"
          [class.border-primary]="activeTab === 'display'" [class.font-medium]="activeTab === 'display'">
          <span i18n="@@chartDisplayTitle">Visualización</span>
        </button>
        <button (click)="setActiveTab('colors')" class="py-2 px-4 text-center transition-colors"
          [class.bg-slate-100]="activeTab === 'colors'" [class.border-b-2]="activeTab === 'colors'"
          [class.border-primary]="activeTab === 'colors'" [class.font-medium]="activeTab === 'colors'">
          <span i18n="@@colorsChartH6">Colores</span>
        </button>
      </div>

      <!-- Display Tab -->
      @if (activeTab === 'display') {
      <div class="space-y-6">
        <div class="space-y-4">
          <h3 class="font-medium text-slate-500 uppercase" i18n="@@chartDisplayOptionsTitle">
            Opciones de visualización
          </h3>

          <div class="space-y-4">
            @if (panelChartConfig.edaChart !== 'histogram') {
            <!-- Tendencia -->
            @if (showTrend) {
            <div class="flex items-center justify-between">
              <div class="space-y-0.5">
                <div class="flex items-center gap-2">
                  <label i18n="@@addtrend" for="tendencia" class="font-medium">
                    Tendencia
                  </label>
                  <div class="relative group">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                      stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                      class="text-slate-400">
                      <circle cx="12" cy="12" r="10"></circle>
                      <path d="M12 16v-4"></path>
                      <path d="M12 8h.01"></path>
                    </svg>
                    <div
                      class="absolute bottom-full left-1/2 transform -translate-x-1/2 mb-2 w-60 p-2 bg-slate-800 text-white text-md rounded shadow-lg opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-opacity">
                      <span i18n="@@chartTrendOption">Mostrar línea de tendencia en el gráfico</span>
                    </div>
                  </div>
                </div>
                <p class="text-md text-slate-500" i18n="@@chartTrendOptionDescription">Muestra la línea de tendencia en el gráfico</p>
              </div>
              <label class="relative inline-flex items-center cursor-pointer">
                <input type="checkbox" [(ngModel)]="addTrend" class="sr-only peer" (ngModelChange)="checkTrend()">
                <div
                  class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-[#00BFB3] rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-[#00BFB3]">
                </div>
              </label>
            </div>
            }

            <!-- Comparativa -->
            @if (showComparative) {
            <div class="flex items-center justify-between">
              <div class="space-y-0.5">
                <div class="flex items-center gap-2">
                  <label i18n="@@addComparative" for="comparativa" class="font-medium">
                    Comparativa
                  </label>
                  <div class="relative group">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                      stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                      class="text-slate-400">
                      <circle cx="12" cy="12" r="10"></circle>
                      <path d="M12 16v-4"></path>
                      <path d="M12 8h.01"></path>
                    </svg>
                    <div
                      class="absolute bottom-full left-1/2 transform -translate-x-1/2 mb-2 w-60 p-2 bg-slate-800 text-white text-md rounded shadow-lg opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-opacity">
                      <span i18n="@@chartComparationOption">Habilita la comparación con períodos anteriores</span>
                    </div>
                  </div>
                </div>
                <p class="text-md text-slate-500" i18n="@@chartComparationOptionDescription">Compara con datos de períodos anteriores</p>
              </div>
              <label class="relative inline-flex items-center cursor-pointer">
                <input type="checkbox" [(ngModel)]="addComparative" class="sr-only peer"
                  (ngModelChange)="setComparative()">
                <div
                  class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-[#00BFB3] rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-[#00BFB3]">
                </div>
              </label>
            </div>
            }
            }
            <!-- Mostrar Etiquetas -->
            <div class="flex items-center justify-between">
              <div class="space-y-0.5">
                <div class="flex items-center gap-2">
                  <label i18n="@@showLabels" for="mostrarEtiquetas" class="font-medium">
                    Mostrar Etiquetas
                  </label>
                  <div class="relative group">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                      stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                      class="text-slate-400">
                      <circle cx="12" cy="12" r="10"></circle>
                      <path d="M12 16v-4"></path>
                      <path d="M12 8h.01"></path>
                    </svg>
                    <div
                      class="absolute bottom-full left-1/2 transform -translate-x-1/2 mb-2 w-60 p-2 bg-slate-800 text-white text-md rounded shadow-lg opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-opacity">
                      <span i18n="@@chartLabelOption">Muestra las etiquetas de cada segmento</span>
                    </div>
                  </div>
                </div>
                <p class="text-md text-slate-500" i18n="@@chartLabelOptionDescription">Muestra el nombre de cada segmento</p>
              </div>
              <label class="relative inline-flex items-center cursor-pointer">
                <input type="checkbox" [(ngModel)]="showLabels" class="sr-only peer" (ngModelChange)="setShowLables()">
                <div
                  class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-[#00BFB3] rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-[#00BFB3]">
                </div>
              </label>
            </div>

            <!-- Mostrar Porcentajes -->
            <div class="flex items-center justify-between">
              <div class="space-y-0.5">
                <div class="flex items-center gap-2">
                  <label i18n="@@showLabelsPercent" for="mostrarPorcentajes" class="font-medium">
                    Mostrar Etiquetas en Porcentajes
                  </label>
                  <div class="relative group">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                      stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                      class="text-slate-400">
                      <circle cx="12" cy="12" r="10"></circle>
                      <path d="M12 16v-4"></path>
                      <path d="M12 8h.01"></path>
                    </svg>
                    <div
                      class="absolute bottom-full left-1/2 transform -translate-x-1/2 mb-2 w-60 p-2 bg-slate-800 text-white text-md rounded shadow-lg opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-opacity">
                      <span i18n="@@chartLabelPercentOption">Muestra los porcentajes en las etiquetas</span>
                    </div>
                  </div>
                </div>
                <p class="text-md text-slate-500" i18n="@@chartLabelPercentOptionDescription">Muestra el valor porcentual de cada segmento</p>
              </div>
              <label class="relative inline-flex items-center cursor-pointer">
                <input type="checkbox" [(ngModel)]="showLabelsPercent" class="sr-only peer"
                  (ngModelChange)="setShowLablesPercent()">
                <div
                  class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-[#00BFB3] rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-[#00BFB3]">
                </div>
              </label>
            </div>
          </div>
        </div>
      </div>
      }

      <!-- Colors Tab -->
      @if (activeTab === 'colors') {
      <div class="space-y-6">
        <div class="space-y-4">
          <h3 i18n="@@colorsChartH6" class="font-medium text-slate-500 uppercase tracking-wider">Colors</h3>

          <div class="grid gap-4 grid-rows-auto gap-6">
            <div>
              <h6 i18n="@@ChangeDefaultsColors" class="mb-1">Color del los gráficos:</h6>
              @if(chart.chartType === 'doughnut' || chart.chartType === 'polarArea'){
              <select class="w-100 sm:w-[180px] rounded-md border border-input bg-background px-3 py-2 text-sm mb-6"
                [(ngModel)]="selectedPalette" (ngModelChange)="onPaletteSelected()">
                <option [ngValue]="null" disabled hidden>
                  -- Seleccione una paleta --
                </option>
                @for (palette of allPalettes; track $index) {
                <option [ngValue]="{name: palette.name, paleta:palette.paleta}">{{ palette.name }}</option>
                }
              </select>
            }
              <div class="grid grid-cols-2">
                @for (serie of series; track serie) {
                <div class="mb-2">
                  <input type="text" pInputText [value]="serie.label" disabled="true" [style.border-color]="serie.border" />
              
                  <p-colorPicker [(ngModel)]="serie.bg" (onChange)="handleInputColor(serie)" format="hex" appendTo="body">
                  </p-colorPicker>
              
                  <input type="text" pInputText class="eda-color-pick" [(ngModel)]="serie.bg" (input)="handleInputColor(serie)"
                    minlength="7">
                </div>
                }
              </div>
            </div>
          </div>
        </div>
      </div>
      }
    </div>
  </div>

  <div footer>
    <div class="flex justify-end p-2 border-t gap-1.5">
      <button class="flex items-center gap-2 px-4 py-2 bg-gray-200 text-gray-600 rounded-md"
        (click)="closeChartConfig()">
        <i class="fa fa-times"></i>
        <span i18n-label="@@cancelarBtn">Cancelar</span>
      </button>
      <button
        class="flex items-center gap-2 px-4 py-2 bg-gradient-to-r from-[#00B0BA] to-teal-400 text-white rounded-md"
        (click)="saveChartConfig()">
        <i class="fa fa-check"></i> <span i18n="@@guardarBtn">Confirmar</span>
      </button>
    </div>
  </div>
</eda-dialog>