<eda-dialog [inject]="dialog">
  
  <div body class=grid>

    <div class="col-12" style=" background-color: var(--panel-color); margin: 2em; width: 90%; height: 15vh;">
      <panel-chart *ngIf="display" #PanelChartComponent [props]="panelChartConfig">
      </panel-chart>
    </div>



    <div class="col-12">
      <h4 i18n="@@DynamicTextColor" class="custom-border-b1 font-medium text-slate-500 uppercase">
       Cambiar Color
      </h4>

      <div class="grid">

        <div class="col-2 mt-6">
          <h5 i18n="@@colorKpiH6">
            Color
          </h5>
          
          <div class="chart-color-selection w-1/5">
            <div class="flex items-center justify-between border rounded-lg p-3 hover:bg-slate-50">
              <span class="font-medium">Text</span>
              <div class="flex items-center gap-2">
                <span class="text-md text-slate-500 font-mono">{{ color }}</span>
                <p-colorPicker [(ngModel)]="color" (onChange)="handleInputColor()" format="hex" appendTo="body" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




  <div footer>
    <div class="flex justify-end p-2 border-t gap-1.5">
      <button class="cancel-button" (click)="closeChartConfig()">
        <i class="fa fa-times"></i>
        <span i18n="@@cancelarBtn">Cancelar</span>
      </button>
      <button class="confirm-button"
        (click)="saveChartConfig()">
        <i class="fa fa-check"></i> <span i18n="@@guardarBtn">Confirmar</span>
      </button>
    </div>
  </div>

</eda-dialog>
