<p-dialog [(visible)]="inject.display" [dismissableMask]="true" [modal]="true"
          [closable]="false" [responsive]="true" [draggable]="false"
          [showHeader]="false" [style]="{width: '98%', height: '90vh'}" [contentStyle]="{minHeight: '90vh'}"
          appendTo="body">

    <div class="p-2" (click)="setTitle()">
        <span *ngIf="!clicked"  style="cursor: pointer">{{newText}}</span>

        <input *ngIf="!!clicked" (focusout)="clicked = false" type="text"  class="w-100" [(ngModel)]="newText" pInputText autofocusOnShow>
    </div>

    <ng-container *ngIf="inject.display">
        <ng-content></ng-content>
    </ng-container>

</p-dialog>
