<eda-dialog2 [display]="display" [header]="dialogHeader"
    width="70vw" height= "70vh"
    (apply)="onApply()"
    (close)="onClose()">

    <div content>
        <p-card [header]="header3" id="anywhereClick">

            <div class="row">
                <div class="col-4">
                    <!-- <p-treeSelect [(ngModel)]="globalFilter.selectedTableNodes" [options]="tableNodes"
                        i18n-placeholder="@@placeholderTables" placeholder="Entidades" [style]="{'width': '100%'}"
                        appendTo="body">
                    </p-treeSelect> -->
    
                    <p-dropdown id="selectFilerTable" [options]="tables" [(ngModel)]="globalFilter.selectedTable"
                        filter="true" optionLabel="display_name.default" [style]="{'width': '100%'}"
                        i18n-placeholder="@@placeholderTables" placeholder="Entidades"
                        (onChange)="getColumnsByTable()" appendTo="body">
                    </p-dropdown>
                    <!-- (onChange)="getColumnsByTable()" (onChange)="resetSelectedValues()" -->
                </div>
    
                <div class="col-4">
                    <p-dropdown id="selectFilterColumn" [options]="columns" [(ngModel)]="globalFilter.selectedColumn"
                        filter="true" optionLabel="display_name.default" [style]="{'width': '100%'}"
                        i18n-placeholder="@@placeholderColumns" placeholder="Atributos"
                        (onChange)="loadColumnValues(); findPanelPathTables();" appendTo="body">
                        <!-- (onChange)="loadGlobalFiltersData()" (onChange)="resetSelectedValues()" -->
                    </p-dropdown>
                </div>

                <div class="col-4">
                    <p-multiSelect id="selectFilterValue" class='eda-filter-multiselect'
                        *ngIf="globalFilter.selectedColumn?.column_type !== 'date'" [options]="columnValues"
                        [(ngModel)]="globalFilter.selectedItems" [virtualScroll]="true" itemSize="30" display="chip"
                        [style]="{'vertical-align' : 'bottom', 'margin-left' : '15px', width: '100%' }"
                        [panelStyle]="{minWidth:'15em'}" maxSelectedLabels="1" defaultLabel="Valor por defecto" appendTo="body">
                    </p-multiSelect>

                    <!-- <eda-date-picker #myCalendar
                        *ngIf="globalFilter.selectedColumn?.column_type === 'date'"
                        [autoClear]="true"
                        [inject]="datePickerConfigs[selectedFilter?.id]"
                        (onDatesChanges)="processPickerEvent($event)">
                    </eda-date-picker> -->
                </div>
            </div>
        </p-card>

        <div style="margin: 1rem;"></div>

        <p-card [header]="header2" id="anywhereClick">

            <br><br>

            <p-table [value]="filteredPanels">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 40%;">Panel</th>
                        <th style="width: 60%;">Ruta del filtro</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-panel>
                    <tr>
                        <td style="width: 40%;">
                            <button type="button" pButton class="ui-button" [label]="panel.title"
                                [style]="{'width': '70%'}"
                                [ngClass]="{'ui-button-selected': panel.active, 'ui-button-unselected':!panel.active, 'ui-button-unvaliable':!panel.avaliable}">
                            </button>
                        </td>
                        <td style="width: 60%;">
                            <p-treeSelect [(ngModel)]="globalFilter.pathList[panel.id].selectedTableNodes"
                                [options]="panel.globalFilterPaths"
                                (onNodeExpand)="onNodeExpand(panel, $event)"
                                (onNodeSelect)="onNodeSelect(panel, $event)"
                                appendTo="body">
                            </p-treeSelect>
                            <!-- <p-dropdown [options]="globalFilterPaths" [(ngModel)]="globalFilter.selectedTableNodes"
                                filter="true" optionLabel="label" [style]="{'width': '100%'}" appendTo="body">
                            </p-dropdown> -->
                        </td>
                    </tr>
                </ng-template>
            </p-table>

            <br><br>

            <!-- (click)="addPanelToFilter(panel)"  -->
            <div style="margin-top: 1rem;">
                <span style="margin: 0.5rem;" class="dotgreen"></span>
                <span style="margin-right: 2rem;">{{greendot}}</span>

                <span style="margin: 0.5rem;" class="dotred"></span>
                <span style="margin-right: 2rem;">{{reddot}}</span>

                <span style="margin: 0.5rem;" class="dotunselected"></span>
                <span style="margin-right: 2rem;">{{unselecteddot}}</span>
            </div>
        </p-card>
    </div>

</eda-dialog2>