<div class="p-col-12 ui-md-12">

  <input type="file" #file style="display: none" (change)="onFilesAdded()" multiple />
  <div>
    <div>
      <button pButton pRipple type="button" icon="pi pi-upload" class="p-button-rounded p-button-outlined" [disabled]="uploading || uploadSuccessful"
        (click)="addFile()" style="margin:0.2em"></button>
      <button pButton pRipple type="button" icon="pi pi-save"   class="p-button-rounded p-button-outlined" [disabled]="!canBeClosed" (click)="uploadFile()"
      style="margin:0.2em"></button>
      
      <ul>
        <div class="p-col-4 ui-md-4" id="wrapper">
          <li *ngFor="let item of files">
            &nbsp;&nbsp; {{item.name}}
          </li>
        </div>
      </ul>
      <div class="p-col-12 ui-md-12" style="padding: 5px;">
        <p-progressBar *ngIf="progressBar" mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
      </div>
    </div>
  </div>

</div>