<div class="relative min-h-screen w-full flex items-center justify-center bg-[#e8f5f5]">
    <!-- Background Image -->
    <!-- <div class="absolute inset-0">
        <img [src]="backgroundImage"
            alt="Background Pattern" class="object-cover w-full h-full">
    </div> -->

    <app-particles-background></app-particles-background>

    <!-- Animated gradient orbs -->
    <div class="absolute inset-0 overflow-hidden">
        <div
            class="absolute -left-[10%] top-[20%] w-[500px] h-[500px] bg-blue-200/30 rounded-full blur-3xl animate-blob">
        </div>
        <div
            class="absolute -right-[10%] top-[10%] w-[400px] h-[400px] bg-purple-200/20 rounded-full blur-3xl animate-blob animation-delay-2000">
        </div>
        <div
            class="absolute left-[20%] -bottom-[10%] w-[600px] h-[600px] bg-cyan-200/20 rounded-full blur-3xl animate-blob animation-delay-4000">
        </div>
    </div>

    <!-- Login Card  ===> h-[450px] -->    
    <div
        class="relative backdrop-blur-sm bg-white/70 rounded-3xl border border-white/50 shadow-lg p-8 w-[400px] space-y-6">
        <!-- Logo and Title -->
        <div class="mb-6 text-center">
            <div class="flex items-center justify-center mb-2">
                <img [src]="logo" alt="logo" class="max-w-[70px]"/>
                <img *ngIf="subLogo" [src]="subLogo" alt="logo" class="max-w-[275px]"/>
            </div>
        </div>

        <!-- Welcome Text -->
        <div class="mb-6">
            <h2 class="text-l font-semibold text-gray-800 text-center" i18n="@@selectedRoleTitle">Seleccione el rol con el que iniciará sesión.</h2>
        </div>

        <div class="mx-auto mt-10">
            <select 
                id="role" 
                name="role" 
                class="block w-full p-2 border border-gray-300 rounded-lg shadow-sm focus:ring-[#00bcd4] focus:border-[#00bcd4]"
                [(ngModel)]="selectedRole"
            >
                <option value="" i18n="@@selectedRoleOptions" [disabled]="selectedRole !== ''">Seleccione</option>
                <option *ngFor="let role of roles" [value]="role.code">
                    {{ role.name }}
                </option>

            </select>
            <button 
                id="loginBtn" 
                class="mt-4 w-full bg-blue-600 text-white py-2 px-4 rounded-md hover:bg-blue-700"
                i18n="@@selectedRoleButton"
                (click)="selectedRoleEnter(selectedRole)"
            >
                Ingresar
            </button>
        </div>

        <!-- Copyright -->
        <div class="mt-6 text-center text-xs text-gray-500">
            <span i18n="@@loginCopyright">Copyright ©{{currentYear}} Jortilles S.L.</span>
        </div>
    </div>
</div>