<div class="container mx-auto my-10 py-10 px-4 bg-background rounded-lg">
  <div class="flex justify-between items-center mb-6">
    <h1 class="text-3xl font-bold tracking-tight" i18n="@@adminGroupsTitle">Gestión de Grupos</h1>
    <button (click)="handleCreateGroup()" class="bg-[#00BFB3] hover:bg-[#00BFB3]/90 px-4 py-2 rounded font-semibold text-white flex items-center">
      <eda-icon name="plus" class="mr-2"></eda-icon>
      <span i18n="@@addGroup">Crear Grupo</span>
    </button>
  </div>

  <div class="flex items-center mb-6">
    <input [(ngModel)]="searchTerm" (ngModelChange)="currentPage = 1" i18n-placeholder="@@searchGroups" placeholder="Buscar grupos..." class="border p-2 rounded w-full" />
  </div>

  <div class="border rounded-lg overflow-hidden">
    <table class="w-full">
      <thead class="bg-gray-100">
        <tr>
          <th (click)="handleSort('name')" class="text-left cursor-pointer p-3" i18n="@@name">Nombre</th>
          <th (click)="handleSort('role')" class="text-left cursor-pointer p-3" i18n="@@role">Rol</th>
          <th class="p-3 text-right" i18n="@@actions">Acciones</th>
        </tr>
      </thead>
      <tbody class="font-semibold">
        @for (group of paginatedGroups; track group._id) {
        <tr>
          <td class="p-3">{{ group.name }}</td>
          <td class="p-3">
            <span [ngClass]="{'bg-[#00BFB3] text-white px-2 py-1 rounded': group.role === 'EDA_ADMIN_ROLE'}">
              {{ group.role }}
            </span>
          </td>
          <td class="p-3 text-right">
            <button class="rounded-md p-2 cursor-pointer hover:bg-muted" (click)="handleEditGroup(group)">
              <eda-icon name="pencil"></eda-icon>
            </button>
            <button class="rounded-md p-2 cursor-pointer hover:bg-muted" (click)="handleDeleteGroup(group._id)">
              <eda-icon name="bin"></eda-icon>
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  <p class="mt-1 font-semibold text-right text-gray-500">{{ filteredGroups.length }} <span i18n="@@foundGroups">grupos encontrados</span> </p>
  <div class="flex justify-center items-center gap-2 mt-4">
    <button (click)="setPage(currentPage - 1)" [disabled]="currentPage === 1" class="px-4 py-2 font-semibold rounded">
      <eda-icon name="chevron-left"></eda-icon>
    </button>
    <span class="font-semibold"> <span i18n="@@tablePage">Página</span> {{ currentPage }} <span i18n="@@tablePageOf">de</span> {{ totalPages() }}</span>
    <button (click)="setPage(currentPage + 1)" [disabled]="currentPage === totalPages()" class="px-4 py-2 font-semibold rounded">
      <eda-icon name="chevron-right"></eda-icon>
    </button>
  </div>
</div>


<eda-dialog2 *ngIf="showGroupDetail" [display]="showGroupDetail"
  [header]="!selectedGroup.isnew ? updateGroupTitle : addGroupTitle" width="50vw" height="80vh"
  (close)="showGroupDetail = false;" (apply)="onApplyGroupDetail()">

  <div content>
    <div class="mt-4">
      <label class="block text-sm font-medium" i18n="@@name">Nombre</label>
      <input [(ngModel)]="selectedGroup.name" class="w-full border p-2 rounded mt-1" />

      <label class="block text-sm font-medium mt-2" i18n="@@role">Rol</label>
      <select [(ngModel)]="selectedGroup.role" class="w-full border p-2 rounded mt-1 mb-6">
        <option value="EDA_ADMIN_ROLE">ADMIN</option>
        <option value="EDA_USER_ROLE">USER</option>
      </select>

      <p-pickList [source]="availableUsers" [target]="selectedGroup.users" i18n-sourceHeader="@@availableUsers" sourceHeader="Usuarios disponibles"
        i18n-targetHeader="@@selectedUsers" targetHeader="Usuarios seleccionados" [filterBy]="'name,email'" filterPlaceholder="Buscar usuario..."
        [showSourceControls]="false" [showTargetControls]="false" [dragdrop]="true" [metaKeySelection]="true"
        class="p-picklist-custom">

        <ng-template let-user pTemplate="item" class="border border-gray-300 rounded">
          <div class="flex flex-col p-2 mb-1 border border-gray-300 rounded">
            <span class="font-semibold">{{ user.name }}</span>
            <small class="text-gray-500">{{ user.email }}</small>
          </div>
        </ng-template>
      </p-pickList>
    </div>
  </div>
</eda-dialog2>

