<div class="">
    <p-dialog class="eda-dialog" #dialog [(visible)]="display" [modal]="true" [header]="inject.title" (onShow)="inject.show()"
        (onHide)="inject.hide()" [closeOnEscape]="false" [closable]="false" [dismissableMask]="true" [draggable]="inject.draggable"
        [resizable]="false" [style]="inject.style" [contentStyle]="{minHeight: '95%'}" appendTo="body" >
       
        <ng-content select="[body]">        
        </ng-content>

        <ng-template pTemplate="footer">
            <ng-content select="[footer]"></ng-content>
        </ng-template>

    </p-dialog>
</div>