<div class="">
    <p-dialog #dialog [(visible)]="display" [modal]="true" [header]="inject.title"
              (onShow)="inject.show()" (onHide)="inject.hide()" [closeOnEscape]="false"
              [closable]="false" [transitionOptions]="'0ms'" [dismissableMask]="true"
              [draggable]="false" [resizable]="false" [style]="inject.style" [contentStyle]="{minHeight: '95%'}"
              appendTo="body">

        <div class="ui-g-12" >
            <ng-content></ng-content>
        </div>

    </p-dialog>
</div>

