<div style="min-width: 85%; padding: 5rem;">

  <p-card [header]="header">

    <form [formGroup]="form" (ngSubmit)="sendMailconfig()">

      <div class="p-grid">

        <div class="form-group p-col-3 ui-md-3">
          <label i18n="@@inputServidor">SERVIDOR *</label>
          <input type="text" class="form-control" formControlName="host" id="eda_mail_host" pInputText>
        </div>

        <div class="form-group p-col-3 ui-md-3">
          <label i18n="@@inputPort">PUERTO *</label>
          <input type="number" class="form-control" formControlName="port" id="eda_mail_port" pInputText>
        </div>

        <div class="form-group p-col-3 ui-md-3">
          <label i18n="@@inputUsuario">USUARIO *</label>
          <input type="text" class="form-control" formControlName="user" id="eda_mail_user" pInputText>
        </div>

        <div class="form-group p-col-3 ui-md-3">
          <label i18n="@@inputPassword">CONTRASEÑA *</label>
          <input type="password" class="form-control" formControlName="password" id="eda_ds_password" pInputText>
        </div>

        <div class="form-group p-col-12 ui-md-12" style="margin-left: 0.5em;">
          <h6 i18n="@@inputSecurity">TLS *</h6>
          <p-inputSwitch formControlName="secure"></p-inputSwitch>
        </div>

        <div class="p-col-10 ui-md-10">
          <button type="button" pButton (click)="checkCredentials()" class="ui-button-success ml-2"
          i18n-label="@@checkCredentials" label="Comprobar credenciales"  [disabled]="!form.valid"></button>
        </div>

        <div class="p-col-2 ui-md-2">
          <button style="margin: auto;" type="submit" pButton icon="fa fa-save" i18n-label="@@guardarBtn"
            label="Guardar" id="eda_MAIL_guardar" [disabled]="!form.valid"></button>
        </div>


      </div>

    </form>
  </p-card>
</div>