<div class="panel-heading d-flex justify-content-between">
    <div class="d-flex justify-content-between align-items-center">
        <h6 id="p-header" class="panel-title" style="cursor: default"> 
            {{ panel.title || title }} 
        </h6>
    </div>

    <div>
        <i class="fa fa-ellipsis-v btn" (click)="contextMenu.showContextMenu($event)"></i>
    </div>
</div>

<!-- Body of Panel -->
<div class="panel-body" [ngClass]="{'spinner-panel': display_v.minispinner === true}">
    <div *ngIf="display_v.saved_panel" class="p-1" style="height: 100%">
        <panel-chart #PanelChartComponent [config]="panelChartConfig" (configUpdated)="setChartProperties()">
        </panel-chart>
    </div>

    <div class="ui-g" *ngIf="display_v.minispinner">
        <div class="ui-g-12">
            <p-progressSpinner [style]="{width: '5vw', height: '5vh'}" strokeWidth="8" class="" fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner>
        </div>
    </div>
</div>

<!-- Page Dialog -->
<eda-page-dialog #pdialog [inject]="{display: this.display_v.page_dialog, title: panel.title}">
    <div (window:resize)="onResize($event)">

        <p-tabView [activeIndex]="index" (onChange)="handleTabChange($event)" class="preview-tabview">

            <p-tabPanel i18n-header="@@vistaSeleccionador" header="EDITAR CONSULTA">

                <div class="ui-g">

                    <div class="ui-g-6 ui-md-2 pl-2 pr-2">
                        <h4 i18n="@@entidadesH4">
                            Entidades
                        </h4>

                        <hr class="mb-0">
                        <div class="column-list">
                            <div class="our-table-box" *ngFor="let table of tableToShow" (click)="loadColumns(table)"
                                [className]="table.table_name === userSelectedTable ? 'selected-table-class' : 'our-table-box'"
                                (mouseover)="showDescription(table)" (mouseout)="description = ''">

                                <span class="text-left" title="{{table.description.default}}">
                                    {{table.display_name.default}}
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="ui-g-6 ui-md-2 pl-2">
                        <h4 i18n="@@atributosH4">
                            Atributos
                        </h4>

                        <hr class="mb-0">
                        <div class="column-list" cdkDropList #columnsList="cdkDropList" [cdkDropListData]="columns"
                            [cdkDropListConnectedTo]="[selectList, filterList]" (cdkDropListDropped)="drop($event)"
                            [cdkDropListEnterPredicate]="isAllowed">

                            <div class="column-box" *ngFor="let column of columns" (click)="moveItem(column)"
                                (mouseover)="showDescription(column)" (mouseout)="description= ''" cdkDrag
                                (cdkDragDropped)="searchRelations(column, $event)">

                                <span class="text-left" title="{{column.description.default}}">
                                    {{column.display_name.default}}
                                </span>

                            </div>
                        </div>
                    </div>

                    <div class="ui-g-12 ui-md-8 pl-2">
                        <h4 i18n="@@seleccionH4">
                            Selección
                        </h4>

                        <hr class="mb-0">
                        <div class="select-list" cdkDropList cdkDropListOrientation="horizontal"
                            #selectList="cdkDropList" [cdkDropListData]="currentQuery"
                            [cdkDropListConnectedTo]="[columnsList]" (cdkDropListDropped)="drop($event)">

                            <div class="select-box col-3 col-md-2 p-1" *ngFor="let item of currentQuery"
                                (click)="openColumnDialog(item)" (mouseover)="showDescription(item)"
                                (mouseout)="description = ''" cdkDrag>

                                <span class="close-thin pointer" (click)="removeColumn( item, 'select' )"></span>

                                <span class="text-center">
                                    {{item.display_name.default}}
                                </span>

                            </div>

                        </div>

                        <h4 class="mt-4" i18n="@@filtrosH4">
                            Filtros
                        </h4>
                        <hr>

                        <div class="filter-list" cdkDropList cdkDropListOrientation="horizontal"
                            #filterList="cdkDropList" [cdkDropListData]="filtredColumns"
                            [cdkDropListConnectedTo]="[columnsList]" (cdkDropListDropped)="drop($event)">

                            <div class="select-box col-3 col-md-2 p-1" *ngFor="let item of filtredColumns"
                                (click)="openColumnDialog(item, true)" (mouseover)="showDescription(item)"
                                (mouseout)="description = ''" cdkDrag>

                                <span class="close-thin pointer" (click)="removeColumn( item, 'filter' )"></span>
                                <span class="text-center">
                                    {{item.display_name.default}}
                                </span>

                            </div>

                        </div>

                        <div id="infoFiltres" *ngIf="currentQuery.length !== 0">
                            <h4 class="mt-4" i18n="@@consultaH4">
                                Mi consulta
                            </h4>
                            <hr>

                            <div class="ui-g-12 ui-md-6 pl-2">
                                <h6 i18n="@@resumenAtrH6">
                                    Resumen de atributos
                                </h6>

                                <div *ngFor='let column of this.currentQuery'>
                                    <span>{{column.table_id}} . {{column.display_name.default}}</span>

                                    <span *ngFor='let aggregation of column.aggregation_type'>
                                        <span *ngIf='aggregation.selected === true && aggregation.display_name !== "no"'>
                                            ( {{aggregation.display_name}} )
                                        </span>
                                    </span>
                                </div>
                            </div>

                            <div class="ui-g-12 ui-md-6 pl-2">
                                <div class="ui-g-12 ui-md-12 pl-2">
                                    <h6 i18n="@@resumenFiltrosPanelH6">
                                        Resumen de filtros del panel
                                    </h6>

                                    <div *ngFor='let filter of this.selectedFilters'>
                                        <span> {{filter.filter_table}} . {{filter.filter_column}} ( {{filter.filter_type}} )</span>
                                    </div>
                                </div>

                                <div class="ui-g-12 ui-md-12 pl-2">
                                    <h6 i18n="@@resumenFiltrosInformeH6">
                                        Resumen de filtros del informe
                                    </h6>
                                    
                                    <div *ngFor='let filter of this.globalFilters'>
                                        <span> {{filter.filter_table}} . {{filter.filter_column}} ( {{filter.filter_type}} )</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </p-tabPanel>

            <p-tabPanel i18n-header="@@vistaPrevia" header="VISTA PREVIA" [disabled]="display_v.disablePreview">
                <div class="ui-g p-0" style="height: 100%">

                    <div class="ui-g-8 p-1" style="height: 400px">
                        <panel-chart #PanelChartComponent [config]="panelChartConfig"></panel-chart>
                    </div>

                    <div class="ui-g-2 ui-g-offset-2 p-1">
                        <form [formGroup]="chartForm">
                            <p-dropdown [style]="{'width':'100%'}" [options]="chartTypes" formControlName="chart"
                                (onChange)="changeChartType(chartForm.value.chart.value, getChartStyles())"
                                optionLabel="label" [autoDisplayFirst]="false">

                                <ng-template let-item pTemplate="selectedItem">
                                    <i *ngIf="!!item.value.ngIf" class="{{item.value.icon}}"
                                        style="color: #eeac57!important;vertical-align:middle;"></i>

                                    <span style="vertical-align:middle; margin-left: .5em">
                                        {{item.value.label}}
                                    </span>
                                </ng-template>

                                <ng-template let-chart pTemplate="item">
                                    <div class="d-flex align-items-center" style="position: relative;height: 25px;">
                                        <i *ngIf="chart.value.ngIf" class="pi pi-exclamation-triangle"
                                            style="color: #eeac57!important;"></i>

                                        <span class="ml-2 ">
                                            {{chart.label}}
                                        </span>
                                    </div>
                                </ng-template>

                            </p-dropdown>
                        </form>
                    </div>
                </div>
            </p-tabPanel>

        </p-tabView>

    </div>

    <p-footer class="footer">
        <div class="ui-dialog-buttonpanel ui-widget-content ui-helper-clearfix text-right">
            <button type="button" pButton (click)="runQuery(false)" icon="fa fa-flask" class="ui-button-success ml-2"
                [disabled]="currentQuery.length === 0 && index === 0" i18n-label="@@ejecutarBtn" label="Ejecutar">
            </button>

            <button type="submit" pButton (click)="savePanel()" [disabled]="display_v.btnSave" icon="fa fa-save"
                class="ui-button ml-2" i18n-label="@@guardarBtn" label="Guardar">
            </button>

            <button type="button" pButton (click)="closeEditarConsulta()" icon="fa fa-times"
                class="ui-button-danger ml-2" i18n-label="@@cancelarBtn" label="Cancelar">
            </button>
        </div>
    </p-footer>

</eda-page-dialog>

<app-column-dialog *ngIf="configController" [controller]="configController"></app-column-dialog>

<app-filter-dialog *ngIf="filterController" [controller]="filterController"></app-filter-dialog>

<app-chart-dialog *ngIf="chartController" [controller]="chartController"></app-chart-dialog>

<eda-context-menu [inject]="contextMenu"></eda-context-menu>