<div class="flex flex-col h-full rounded-lg pb-6 pr-6 pl-6 shadow-sm bg-white" [ngStyle]="panelContent">
  <!-- Header -->
  <div class="flex items-center justify-between mb-2 w-full drag-handler min-h-12">
    <!-- Contenedor con alineación dinámica para el título -->
    <div class="flex-1">
      <h2 class="text-lg font-medium pt-3" [ngStyle]="panelText">{{ panel.title || title }}</h2>
    </div>
    <!-- Ícono a la derecha -->
    <i [ngClass]="{'edit-blink': lodash.isEmpty(panel.content)}"
      class="pi pi-ellipsis-v cursor-pointer ml-2  w-[28px] h-[28px] flex items-center justify-center text-center rounded-full content-center"
      (click)="contextMenu.showContextMenu($event)">
    </i>
  </div>


  <div class="flex items-center justify-center flex-grow overflow-y-auto rounded-lg bg-gray-50"
    [class.spinner-panel]="display_v.minispinner">
    @if (display_v.saved_panel && !display_v.minispinner) {
    <div class="relative w-full h-full">
      <panel-chart #PanelChartComponent [props]="panelChartConfig" (configUpdated)="setChartProperties($event)"
        (onChartClick)="onChartClick($event)" [ngStyle]="panelContent" [ngClass]="isSpecialChart(panelChartConfig.chartType) 
          ? 'h-full w-full flex justify-center content-center overflow-hidden flex-wrap' 
          : 'h-full w-full block overflow-hidden content-center pb-2'" style="flex-wrap:wrap!important;"></panel-chart>
    </div>
    }

    @if (display_v.minispinner) {
    <div class="grid">
      <div class="col-12">
        <p-progressSpinner [style]="{width: '5vw', height: '5vh'}" strokeWidth="8" class="" fill="#EEEEEE"
          animationDuration=".5s"></p-progressSpinner>
      </div>
    </div>
    }
  </div>
</div>

<eda-dialog2 *ngIf="display_v.page_dialog" [display]="display_v.page_dialog" width="90vw" [ngStyle]="panelContent"
  [overflow]="'hidden'" height="100vh">
  <!-- Header -->
  <div header class="w-full flex items-center justify-between px-2 py-2">
    <div class="p-2" (click)="titleClick=true;">
      @if (!titleClick) {
      <h2 class="text-lg font-semibold cursor-pointer">
        {{panel.title.trim().length > 0 ? panel.title : '\uD83D\uDD89'}}
      </h2>
      } @else {
      <input type="text" [(ngModel)]="panel.title" autofocusOnShow (focusout)="titleClick=false;"
        class="w-full px-3 py-2 bg-gray-100 rounded-md focus:outline-none focus:ring-2 focus:ring-[#00bcd4]">
      }
    </div>
    <p-dropdown [(ngModel)]="selectedQueryMode" [options]="queryModes" appendTo="body"
      (onChange)="changeQueryMode()"></p-dropdown>
  </div>

  <!-- Main Content -->
  <div content class="flex w-full flex-col rounded-lg bg-background ">
    <div class="flex-1 relative ">
      <!-- Tabs -->
      <div class="flex mb-4 space-x-4 pl-3">
        <h3 (click)="indextab = 0" i18n="@@vistaSeleccionador"
          class="cursor-pointer pb-2 text-lg mb-2 font-bold font-sans transition-colors duration-200"
          [ngClass]="indextab === 0 ? 'text-[#00bfb3] border-b-2 border-[#00bfb3]' : 'text-gray-600'">
          {{ selectedQueryMode !== 'SQL' ? editQuery : editSQLQuery }}
        </h3>

        <h3 (click)="indextab = 1" i18n="@@vistaPrevia"
          class="cursor-pointer pb-2 text-lg mb-2 font-bold font-sans transition-colors duration-200"
          [ngClass]="indextab === 1 ? 'text-[#00bfb3] border-b-2 border-[#00bfb3]' : 'text-gray-600'">
          Vista previa
        </h3>

      </div>

      @if(indextab == 0){
      @if (selectedQueryMode !== 'SQL') {
      <!-- Edit Query View -->
      <!-- Left Sidebar -->
      <div class="flex w-full border-r h-[70vh] overflow-y-hidden">
        <!-- Entities Section -->
        <div class="w-1/6 border-r ">
          <div class="border-b p-3 pt-0">
            <h3 i18n="@@entidadesH4" class="text-lg mb-2 font-bold" i18n-title="@@entidadesTitle"
              title="Clique sobre un entidad para ver sus atributos.">
              Entidades
            </h3>
            <div class="relative w-full">
              <eda-icon name="search" class="absolute left-2 top-1/2 -translate-y-1/2 text-gray-500"></eda-icon>
              <input class="h-8 rounded-md w-full border px-8 text-medium" placeholder="Buscar entidades..."
                [(ngModel)]="tableInput" (keyup)="onTableInputKey($event)">
            </div>

          </div>
          <div class="flex overflow-y-auto h-[51vh] text-medium">
            <div class="w-full">
              <ng-template #entityList>
                <div class="space-y-1 p-2">
                  @for (entity of tablesToShow; track entity.table_name) {
                  <button class="flex w-full items-center justify-between rounded-md px-3 py-2"
                    [class.bg-[#00BFB3]]="userSelectedTable === entity.table_name"
                    [class.text-primary-foreground]="userSelectedTable === entity.table_name"
                    (click)="loadColumns(entity)" (mouseover)="showDescription(entity)" (mouseout)="description=''">

                    <span class="text-left font-bold" [title]="entity.description.default">
                      {{entity.display_name.default}}
                    </span>
                    <!-- <eda-icon name="chevron-right"></eda-icon> -->
                  </button>
                  }
                </div>
              </ng-template>
              <!-- EDA STANDARD MODE -->
              @if (selectedQueryMode=='EDA') {
              <ng-container *ngTemplateOutlet="entityList"></ng-container>
              }
              <!-- EDA JOINS TREE MODE -->
              @if (selectedQueryMode=='EDA2') {
              @if (currentQuery.length > 0) {
              <p-tree [value]="tableNodes" selectionMode="single" [loading]="loadingNodes"
                (onNodeExpand)="tableNodeExpand($event)" (onNodeSelect)="tableNodeSelect($event)">


                <!-- ESTE TEMPLATE CONTEMPLA AL PADRE -->
                <ng-template let-node let-options="options" pTemplate="default">
                  <div class="p-treenode-content" [ngStyle]="{'padding-left.px': (node.level || 0) * 25}"
                    [ngClass]="checkNodeSelected(node) ? 'font-bold' : ''" style="display:flex; align-items:center;">
                    {{node.label}}
                  </div>
                </ng-template>

                <!-- ESTE TEMPLATE TRATA A LOS HIJOS -->
                <ng-template let-node let-options="options" pTemplate="child">
                  <div class="p-treenode-content" [ngStyle]="{'padding-left.px': (node.level || 0) * 20}"
                    [ngClass]="checkNodeSelected(node) ? 'font-bold' : ''" style="display:flex; align-items:center;">
                    {{node.label}}
                  </div>
                </ng-template>

              </p-tree>
              } @else {
              <ng-container *ngTemplateOutlet="entityList"></ng-container>
              }
              }
              <!-- ----------- -->
            </div>
          </div>
        </div>
        <!-- ATRIBUTOS -->
        <!-- Attributes Section -->

        <div class="w-1/6 border-r">
          @if(userSelectedTable){
          <div class="border-b p-3 pt-0">
            <h3 class="text-lg mb-2 font-bold" i18n="@@atributosH4" i18n-title="@@atributsTitle"
              title="Atributos de una entidad. Arrastre los atrubutos a la selección o los filtros para consultarlos. Haciendo click sobre el atributo se accede a sus propiedaes">
              Atributos
            </h3>
            <div class="relative w-full">
              <eda-icon name="search" class="absolute left-2 top-1/2 -translate-y-1/2 text-gray-500"></eda-icon>
              <input class="h-8 rounded-md w-full border px-8 text-medium" i18n-placeholder="@@searchAttributes"
                placeholder="Buscar atributos..." [(ngModel)]="columnInput" (keyup)="onColumnInputKey($event)">
            </div>
          </div>
          }
          <div class="flex w-full overflow-y-auto h-[51vh] text-medium">

            <div class="w-full">
              <div class="space-y-1 p-2" cdkDropList #columnsList="cdkDropList" [cdkDropListData]="columns"
                [cdkDropListConnectedTo]="[selectList, filterList]" (cdkDropListDropped)="drop($event)"
                [cdkDropListEnterPredicate]="isAllowed">
                @for (attr of columns; track attr.name) {
                <div
                  class="flex w-full items-center gap-2 rounded-md px-3 py-2   bg-background hover:bg-muted/50 cursor-move"
                  cdkDrag [cdkDragData]="attr" (cdkDragDropped)="searchRelations(attr)" (click)="moveItem(attr)"
                  [style.opacity]="attr.hidden && attr.hidden == 1 ? '0.5' : '1'">
                  <span class="mdi {{getAttributeTypeIcon(attr.column_type)}}"></span>
                  <span [ngClass]="{
                    'font-bold': getAttributeTypeIcon(attr.column_type) === 'mdi-numeric',
                    'italic': getAttributeTypeIcon(attr.column_type) === 'mdi-alphabetical'
                  }"> {{attr.display_name.default}}</span>

                  <i class="drag-handle-icon ml-auto"></i>

                  <!-- Preview cuando se está arrastrando -->
                  <div *cdkDragPreview
                    class="flex items-center gap-2 rounded-md px-3 py-2 bg-background border shadow-lg">
                    <span class="mdi {{getAttributeTypeIcon(attr.column_type)}}"></span>
                    {{attr.display_name.default}}
                  </div>
                </div>
                }
              </div>
            </div>
          </div>

        </div>

        <!-- Main Content Area -->
        <div class="flex-1 p-3 pt-0 w-4/6 overflow-y-auto h-auto">
          <div class="space-y-4">
            <!-- Selected Attributes -->
            <div>
              <h3 i18n="@@seleccionH4" class="text-lg mb-2 font-bold" i18n-title="@@seleccionTitle"
                title="Para lanzar una consulta. Seleccione los atributos que desea ver, Clique sobre ellos para configurarlos y ejecute la consulta. Siempre podrá volver a esta vista.">
                Mostrar los siguientes atributos:
              </h3>
              <div class="flex gap-1 rounded-lg border p-2 min-h-[25px]  w-auto h-auto select-list bg-green-100"
                cdkDropList #selectList="cdkDropList" cdkDropListOrientation="horizontal"
                [cdkDropListData]="currentQuery" [cdkDropListConnectedTo]="[columnsList, filterList]"
                (cdkDropListDropped)="drop($event, 'select-list')">
                @for (attr of currentQuery; track attr) {
                <div
                  class="flex justify-start items-center gap-2 rounded-md px-3 py-2 font-bold bg-muted/50 cursor-move z-10 bg-white p-2 select-box text-center"
                  (click)="openColumnDialog(attr)" (mouseover)="showDescription(attr)" (mouseout)="description = ''"
                  [cdkDragData]="columns" cdkDrag>
                  <i class="drag-handle-icon"></i>
                  <span class="mdi {{getAttributeTypeIcon(attr.column_type)}}"></span>
                  <span [title]="attr.description.default">{{attr.display_name.default}}</span>
                  <button class="ml-auto rounded-full hover:bg-muted-foreground/20 z-50"
                    (click)="removeColumn(attr, 'select'); $event.stopPropagation()">
                    <i class="fa fa-close z-50 pointer-events-auto"></i>
                  </button>

                  <!-- Preview cuando se está arrastrando -->
                  <div *cdkDragPreview
                    class="flex items-center gap-2 rounded-md px-3 py-2 bg-background border shadow-lg mi-drag-preview">
                    <span class="mdi {{getAttributeTypeIcon(attr.column_type)}}"></span>
                    {{attr.display_name.default}}
                  </div>
                </div>
                }

                @if (currentQuery.length === 0) {
                <div class=" text-muted-foreground text-center py-2">
                  {{draggFields}}
                </div>
                }
              </div>
            </div>

            <!-- Filter section -->
            <div class="pb-6">
              <h3 class="text-lg mb-2 font-bold" i18n="@@filtrosH4">Filtrar los resultados por:</h3>
              <div class="flex gap-1 rounded-lg border p-2 min-h-[25px] bg-emerald-50 filter-list  text-medium"
                cdkDropList #filterList="cdkDropList" cdkDropListOrientation="horizontal"
                [cdkDropListData]="filtredColumns" [cdkDropListConnectedTo]="[columnsList, selectList]"
                (cdkDropListDropped)="drop($event)">
                @for (attr of filtredColumns; track attr.display_name.default) {
                <div
                  class="flex justify-start items-center gap-2 rounded-md px-3 py-2 font-bold bg-muted/50 cursor-move bg-white p-2 select-box text-center"
                  (click)="openColumnDialog(attr, true)" (mouseover)="showDescription(attr)"
                  (mouseout)="description = ''" [cdkDragData]="columns" cdkDrag>
                  <i class="drag-handle-icon"></i>
                  <span class="mdi {{getAttributeTypeIcon(attr.column_type)}}"></span>
                  {{attr.display_name.default}}
                  <button class="ml-auto rounded-full hover:bg-muted-foreground/20"
                    (click)="removeColumn(attr, 'filter')">
                    <i class="fa fa-close"></i>
                  </button>

                  <!-- Preview cuando se está arrastrando -->
                  <div *cdkDragPreview
                    class="flex items-center gap-2 rounded-md px-3 py-2 bg-background border shadow-lg">
                    <span class="mdi {{getAttributeTypeIcon(attr.column_type)}}"></span>
                    {{attr.display_name.default}}
                  </div>
                </div>
                }

                @if (filtredColumns.length === 0) {
                <div class=" text-muted-foreground text-center py-2">
                  {{draggFilters}}
                </div>
                }
              </div>
            </div>

            <!-- Show Top -->
            <div class="text-left text-lg pb-6">
              <h3 class="text-base font-bold inline"><span i18n="@@topQueryH4">Mostrar Top:</span></h3>
              <input type="number" [(ngModel)]="queryLimit" class="w-1/6 border p-1 rounded ml-2"(input)="onTopChange()">
            </div>

            <!-- Advanced Settings -->
            @if(currentQuery.length > 0){
            <div class="columns-4">
              <div class="relative inline-block">
                <div class="flex items-center gap-2">
                  <h3 class="cursor-pointer text-lg font-bold font-sans transition-colors duration-200"
                    [ngClass]="!display_v.advancedSetting ? 'text-[#00bfb3] border-b-2 border-[#00bfb3]' : 'text-gray-600'"
                    (click)="display_v.advancedSetting = false" i18n="@@yourQuerySQL">
                    Mi consulta SQL
                  </h3>
                  <span>
                    <i class="pi pi-info-circle cursor-pointer text-gray-500" [pTooltip]="ptooltipViewQuery"
                      (click)="getQuery($event)">
                    </i>
                  </span>
                </div>
                <!-- Contenedor de query -->
                <div *ngIf="display_v.showQueryContainer" id="query-container"
                  class="absolute top-full left-0 mt-1 w-[35vw] h-[25vh] max-h-[80vh] bg-white z-50 shadow-lg rounded-lg p-4 border border-gray-300 flex flex-col">
                  <div *ngIf="display_v.minispinnerSQL" class="flex justify-center items-center w-full min-h-[15vh]">
                    <p-progressSpinner [style]="{width:'4vw', height:'4vw'}" strokeWidth="5"
                      fill="#EEEEEE"></p-progressSpinner>
                  </div>
                  <textarea *ngIf="!display_v.minispinnerSQL" class="w-full flex-1 p-2 border rounded resize-none mb-2"
                    [(ngModel)]="queryFromServer" pInputTextarea autoResize="autoResize">
                  </textarea>
                  <div class="mt-2 flex gap-4">
                    <button type="button" pButton icon="fa fa-database" class="p-button-success mt-2 w-fit"
                      (click)="migrateQuery()" i18n-label="@@openSqlMode" label="Abrir en modo SQL">
                    </button>
                    <button type="button" pButton icon="pi pi-times" class="p-button-secondary mt-2 w-fit"
                      (click)="display_v.showQueryContainer = false" i18n-label="cancelarBtn" label="Cancelar">
                    </button>
                  </div>
                </div>

              </div>

              <div class="mt-2">
                <h3
                  class="cursor-pointer pb-2 text-lg mb-2 font-bold font-sans transition-colors duration-200 w-[max-content]"
                  [ngClass]="display_v.advancedSetting ? 'text-[#00bfb3] border-b-2 border-[#00bfb3]' : 'text-gray-600'"
                  (click)="display_v.advancedSetting = true" i18n="@@AdvanceOptions">
                  Opciones avanzadas
                </h3>
              </div>
            </div>





            <!-- Query Summary -->

            @if(!display_v.advancedSetting){
            <div class="grid grid-cols-2  border rounded-lg bg-gray-50 min-h-[25vh] overflow-y-auto p-2">
              <div class=" ml-3 p-2">
                <h3 class="text-base font-semibold" i18n="@@resumenAtrH6">Resumen de atributos</h3>
                @for (attr of currentQuery; track attr.display_name.default) {
                <p class="flex items-center text-medium">
                  <strong [innerHTML]="getColumnJoins(attr)"></strong>
                  <span>
                    <strong> {{ getNiceTableName(attr.table_id) }} </strong>
                    <i class="pi pi-angle-right"></i>
                    {{attr.display_name.default}}
                  </span>
                  @for (aggregation of attr.aggregation_type; track aggregation.display_name) {
                  @if (aggregation.selected && !['No', 'no'].includes(aggregation.display_name)) {
                  &nbsp;({{aggregation.display_name}})
                  }
                  }
                </p>
                }
                <br>
                <h3 class="text-base font-semibold" i18n="@@resumenFiltrosPanelH6">Resumen de filtros del panel</h3>

                @for (attr of selectedFilters; track attr) {
                <p class="flex items-center">
                  <strong [innerHTML]="getFilterJoins(attr)"></strong>
                  <span [innerHTML]="getDisplayFilterStr(attr)"></span>
                </p>
                }
              </div>

              <div>
                <h3 class="text-base font-semibold" i18n="@@resumenFiltrosInformeH6">Resumen de filtros del informe
                </h3>
                @for (attr of globalFilters; track attr) {
                <p class="flex items-center  mb-8">
                  <strong [innerHTML]="getFilterJoins(attr)"></strong>
                  <span [innerHTML]="getDisplayFilterStr(attr)"></span>
                </p>
                }
              </div>
            </div>
            }
            @else {
            <div class="grid grid-cols-2 border rounded-lg bg-gray-50 p-4 min-h-[25vh] overflow-y-auto">
              <!-- Join Type -->
              <div class="grid col-span-1 grid-rows-4 p-2">

                <div class="grid grid-cols-4 row-span-1 items-center" >
                  <div class="col-span-1">
                    <h3 i18n="@@joinTypeH4" class="text-base font-bold inline">
                      Tipo de intersección:
                    </h3>
                  </div>

                  <div class="col-span-3">
                    <div class="flex">
                      <button *ngFor="let type of joinTypeOptions" 
                              (click)="onJoinTypeChange(type)" 
                              [ngClass]="{'bg-[#00BFB3] text-white': joinType === type, 'bg-white text-black': joinType !== type}"
                              class="w-[3.5vw] px-3 py-2 border rounded-lg mr-2 hover:bg-[#00BFB3] hover:text-white">
                        {{ type.label }}
                      </button>
                    </div>

                  </div>
                </div>

                <div class="grid grid-cols-4 row-span-1 items-center">
                  <div class="col-span-1">
                    <h3 class="text-base font-bold inline"><span i18n="@@scenarios">Escenarios: </span></h3>
                  </div>

                  <div class="col-span-2">

                    <button class="w-fit px-3 py-2 row-span-1 border rounded-lg
                            bg-white text-black hover:bg-[#00BFB3] hover:text-white"
                      (click)="onWhatIfDialog()">
                      What If?
                    </button>
                  </div>
                </div>

                <div class="grid grid-cols-4 items-center">
                  <div class="col-span-1">
                    <h3 class="text-base font-bold inline"><span i18n="@@scenarios">Filtros avanzados: </span></h3>
                  </div>

                  <div class="col-span-3">

                    <button class="w-fit px-3 py-2 border rounded-lg
                            bg-white text-black hover:bg-[#00BFB3] hover:text-white"
                      (click)="onWhatIfDialog()">
                      Configurar
                    </button>
                  </div>
                </div>

              </div>

              <div class="col-span-1">

                <div class="p-3">
                  <h3 class="font-semibold mb-4" i18n="@@indicaciones">Indicaciones</h3>

                  <div class="w-full">
                    <!-- General Information -->
                    <details class="group border-b border-gray-200" name="sqlIndicationOpenSection">
                      <summary class="flex justify-between items-center cursor-pointer py-2 font-semibold">
                        <div class="flex items-center">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="text-blue-500 mr-2">
                            <circle cx="12" cy="12" r="10"></circle>
                            <line x1="12" y1="16" x2="12" y2="12"></line>
                            <line x1="12" y1="8" x2="12.01" y2="8"></line>
                          </svg>
                          <span i18n="@@informacionGeneral">Información general</span>
                        </div>
                        <svg class="h-5 w-5 text-gray-500 group-open:rotate-180 transition-transform"
                          xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                        </svg>
                      </summary>
                      <div class="text-sm text-gray-600 pl-2 pb-4 pt-2">
                        <!-- <p>Crea consultas SQL para analizar datos de ventas por línea de producto.</p>
                            <p class="mt-2">Tablas disponibles: Customers, Orders, Products, Employees, Offices.</p> -->
                        <p class="mb-2" i18n="@@indicaciones1"> Puedes realizar consultas SQL sobre el esquema definido
                          en tu modelo.
                          Para ello introduce la consulta en el cuadro de texto y selecciona la tabla
                          principal
                          (puede ser cualquiera de las que aparecen en la consulta).
                          Usaremos esta tabla para vincular la consulta a los filtros del informe.
                        </p>

                        <h4 class="text-sm font-medium mb-2" i18n="@@indicaciones2">Limitaciones:</h4>

                        <ul class="list-disc pl-6">
                          <li i18n="@@indicaciones3">
                            Solo es posible usar las tablas del esquema definido en el modelo (si lo hay)
                          </li>
                          <li i18n="@@indicaciones4">
                            Debes utilizar alias para todas las tablas de la consulta ( select a,b from tabla t where c
                            )
                          </li>
                        </ul>
                      </div>
                    </details>

                    <!-- Link query and panel filters -->
                    <details class="group border-b border-gray-200" name="sqlIndicationOpenSection">
                      <summary class="flex justify-between items-center cursor-pointer py-2 font-semibold">
                        <div class="flex items-center">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="text-blue-500 mr-2">
                            <circle cx="12" cy="12" r="10"></circle>
                            <line x1="12" y1="16" x2="12" y2="12"></line>
                            <line x1="12" y1="8" x2="12.01" y2="8"></line>
                          </svg>
                          <span i18n="@@informacionGeneral">What if</span>
                        </div>
                        <svg class="h-5 w-5 text-gray-500 group-open:rotate-180 transition-transform"
                          xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                        </svg>
                      </summary>
                      <div class="text-sm text-gray-600 pl-2 pb-4 pt-2">
                        <!-- <p>Crea consultas SQL para analizar datos de ventas por línea de producto.</p>
                            <p class="mt-2">Tablas disponibles: Customers, Orders, Products, Employees, Offices.</p> -->
                        <p class="mb-2" i18n="@@indicaciones1"> Puedes realizar consultas SQL sobre el esquema definido
                          en tu modelo.
                          Para ello introduce la consulta en el cuadro de texto y selecciona la tabla
                          principal
                          (puede ser cualquiera de las que aparecen en la consulta).
                          Usaremos esta tabla para vincular la consulta a los filtros del informe.
                        </p>

                        <h4 class="text-sm font-medium mb-2" i18n="@@indicaciones2">Limitaciones:</h4>

                        <ul class="list-disc pl-6">
                          <li i18n="@@indicaciones3">
                            Solo es posible usar las tablas del esquema definido en el modelo (si lo hay)
                          </li>
                          <li i18n="@@indicaciones4">
                            Debes utilizar alias para todas las tablas de la consulta ( select a,b from tabla t where c
                            )
                          </li>
                        </ul>
                      </div>
                    </details>

                    <!-- Examples -->
                    <details class="group border-b border-gray-200" name="sqlIndicationOpenSection">
                      <summary class="flex justify-between items-center cursor-pointer py-2 font-semibold">
                        <div class="flex items-center">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="text-blue-500 mr-2">
                            <circle cx="12" cy="12" r="10"></circle>
                            <line x1="12" y1="16" x2="12" y2="12"></line>
                            <line x1="12" y1="8" x2="12.01" y2="8"></line>
                          </svg>
                          <span i18n="@@informacionGeneral">Filtros avanzados</span>
                        </div>
                        <svg class="h-5 w-5 text-gray-500 group-open:rotate-180 transition-transform"
                          xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                        </svg>
                      </summary>
                      <div class="text-sm text-gray-600 pl-2 pb-4 pt-2">
                        <!-- <p>Crea consultas SQL para analizar datos de ventas por línea de producto.</p>
                            <p class="mt-2">Tablas disponibles: Customers, Orders, Products, Employees, Offices.</p> -->
                        <p class="mb-2" i18n="@@indicaciones1"> Puedes realizar consultas SQL sobre el esquema definido
                          en tu modelo.
                          Para ello introduce la consulta en el cuadro de texto y selecciona la tabla
                          principal
                          (puede ser cualquiera de las que aparecen en la consulta).
                          Usaremos esta tabla para vincular la consulta a los filtros del informe.
                        </p>

                        <h4 class="text-sm font-medium mb-2" i18n="@@indicaciones2">Limitaciones:</h4>

                        <ul class="list-disc pl-6">
                          <li i18n="@@indicaciones3">
                            Solo es posible usar las tablas del esquema definido en el modelo (si lo hay)
                          </li>
                          <li i18n="@@indicaciones4">
                            Debes utilizar alias para todas las tablas de la consulta ( select a,b from tabla t where c
                            )
                          </li>
                        </ul>
                      </div>
                    </details>
                  </div>
                </div>

              </div>

            </div>
            }
            }
          </div>
        </div>
      </div>
      } @else {
      <!-- Edit SQL Query View -->
      <div class="grid grid-cols-1 md:grid-cols-5 gap-0 h-full">
        <div class="md:col-span-3 p-4 border-r border-gray-200">
          <div class="space-y-4">
            <h3 class="font-semibold text-gray-700" i18n="@@sqlExpresionH6">Expresión SQL</h3>
            <div class="relative">
              <textarea [(ngModel)]="currentSQLQuery"
                class="w-full h-64 p-3 border border-gray-300 rounded-md font-mono text-sm resize-none focus:outline-none focus:ring-2 focus:ring-[#00BFB3] focus:border-[#00BFB3]"
                placeholder="SELECT * FROM customers">
                        </textarea>
              <!-- TBD -->
              <!-- <button 
                class="absolute right-2 top-2 px-2 py-1 text-sm border border-gray-300 rounded-md bg-white hover:bg-gray-100 flex items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="text-amber-500 mr-1">
                  <circle cx="12" cy="12" r="5"></circle>
                  <line x1="12" y1="1" x2="12" y2="3"></line>
                  <line x1="12" y1="21" x2="12" y2="23"></line>
                  <line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line>
                  <line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line>
                  <line x1="1" y1="12" x2="3" y2="12"></line>
                  <line x1="21" y1="12" x2="23" y2="12"></line>
                  <line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line>
                  <line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
                </svg>
                Sugerir
              </button>  -->
            </div>

            <!-- Table Selection and Filters -->
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
              <div>
                <label class="text-sm font-medium text-gray-700 mb-1 block" i18n="@@originTable">Tabla
                  origen</label>
                <select [(ngModel)]="sqlOriginTable"
                  class="w-full px-3 py-2 border border-gray-300 rounded-md bg-white focus:outline-none focus:ring-2 focus:ring-[#00BFB3] focus:border-[#00BFB3]">
                  <option *ngFor="let table of sqlOriginTables" [value]="table">{{ table.label }}</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="md:col-span-2 border-t md:border-t-0 border-gray-200 overflow-y-auto">
          <div class="p-3">
            <h3 class="font-semibold mb-4" i18n="@@indicaciones">Indicaciones</h3>

            <div class="w-full">
              <!-- General Information -->
              <details class="group border-b border-gray-200" open name="sqlIndicationOpenSection">
                <summary class="flex justify-between items-center cursor-pointer py-2 font-semibold">
                  <div class="flex items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                      stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                      class="text-blue-500 mr-2">
                      <circle cx="12" cy="12" r="10"></circle>
                      <line x1="12" y1="16" x2="12" y2="12"></line>
                      <line x1="12" y1="8" x2="12.01" y2="8"></line>
                    </svg>
                    <span i18n="@@informacionGeneral">Información general</span>
                  </div>
                  <svg class="h-5 w-5 text-gray-500 group-open:rotate-180 transition-transform"
                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                  </svg>
                </summary>
                <div class="text-sm text-gray-600 pl-2 pb-4 pt-2">
                  <!-- <p>Crea consultas SQL para analizar datos de ventas por línea de producto.</p>
                            <p class="mt-2">Tablas disponibles: Customers, Orders, Products, Employees, Offices.</p> -->
                  <p class="mb-2" i18n="@@indicaciones1"> Puedes realizar consultas SQL sobre el esquema definido
                    en tu modelo.
                    Para ello introduce la consulta en el cuadro de texto y selecciona la tabla
                    principal
                    (puede ser cualquiera de las que aparecen en la consulta).
                    Usaremos esta tabla para vincular la consulta a los filtros del informe.
                  </p>

                  <h4 class="text-sm font-medium mb-2" i18n="@@indicaciones2">Limitaciones:</h4>

                  <ul class="list-disc pl-6">
                    <li i18n="@@indicaciones3">
                      Solo es posible usar las tablas del esquema definido en el modelo (si lo hay)
                    </li>
                    <li i18n="@@indicaciones4">
                      Debes utilizar alias para todas las tablas de la consulta ( select a,b from tabla t where c )
                    </li>
                  </ul>
                </div>
              </details>

              <!-- Link query and panel filters -->
              <details class="group border-b border-gray-200" name="sqlIndicationOpenSection">
                <summary class="flex justify-between items-center cursor-pointer py-2 font-semibold">
                  <div class="flex items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                      stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                      class="text-blue-500 mr-2">
                      <path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"></path>
                      <path d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"></path>
                    </svg>
                    <span i18n="@@linkFilters">Vincular consulta con los filtros del panel</span>
                  </div>
                  <svg class="h-5 w-5 text-gray-500 group-open:rotate-180 transition-transform"
                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                  </svg>
                </summary>
                <div class="text-sm text-gray-600 pl-2 pb-4 pt-2">
                  <!-- <p>
                              Los filtros del panel se pueden vincular a tu consulta SQL para filtrar dinámicamente los
                              resultados.
                            </p>
                            <p class="mt-2">
                              Usa <code class="bg-gray-100 px-1 rounded">${city}</code> para referenciar el filtro de ciudad.
                            </p> -->
                  <p i18n="@@indicaciones5">
                    Puedes vincular los filtros del informe con la consulta
                  </p>
                  <ul class="list-disc pl-6">
                    <li i18n="@@indicaciones6">
                      Para hacerlo sólo tienes que añadir:
                      <span style="color:rgb(0, 62, 119); font-weight: bold"> AND
                        {{' ${alias_tabla.columna_filtrada} '}}
                      </span>
                      en la cláusula 'WHERE' de la consulta donde quieras inyectar el filtro
                    </li>
                    <li i18n="@@indicaciones7">
                      Si no has añadido ningúna cláusula WHERE, añádela a
                      la consulta y haz los joins necesarios,
                      junto con el filtro en el formato
                      <span style="color:rgb(0, 62, 119); font-weight: bold">
                        {{' ${alias_tabla.columna_filtrada} '}}
                      </span>
                    </li>
                    <li i18n="@@indicaciones8">
                      Si la tabla por la que filtramos no está en la consulta,
                      recuerda que debes añadir las cláusulas JOIN necesarias
                      para poder vicular la tabla del filtro con tu consulta
                    </li>
                  </ul>
                </div>
              </details>

              <!-- Examples -->
              <details class="group border-b border-gray-200" name="sqlIndicationOpenSection">
                <summary class="flex justify-between items-center cursor-pointer py-2 font-semibold">
                  <div class="flex items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                      stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                      class="text-blue-500 mr-2">
                      <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
                      <polyline points="14 2 14 8 20 8"></polyline>
                      <line x1="16" y1="13" x2="8" y2="13"></line>
                      <line x1="16" y1="17" x2="8" y2="17"></line>
                      <polyline points="10 9 9 9 8 9"></polyline>
                    </svg>
                    <span i18n="@@examples">Ejemplos</span>
                  </div>
                  <svg class="h-5 w-5 text-gray-500 group-open:rotate-180 transition-transform"
                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                  </svg>
                </summary>
                <div class="pb-4 pt-2">
                  <div class="max-h-[40vh] overflow-y-auto pr-4">
                    <div class="space-y-4">
                      <!-- Simple Query -->
                      <div>
                        <h4 class="text-sm font-medium mb-2" i18n="@@indicaciones9">Consulta simple</h4>
                        <div class="bg-gray-50 p-3 rounded-md text-sm font-mono">
                          <div class="flex items-start">
                            <div class="flex-1">SELECT c.customername FROM CUSTOMERS c</div>
                          </div>
                        </div>
                      </div>

                      <!-- Query with linked filters -->
                      <div>
                        <h4 class="text-sm font-medium mb-2" i18n="@@indicaciones10">Consulta con los filtros del
                          informe vinculados</h4>
                        <p class="text-gray-500 mb-2" i18n="@@indicaciones11">
                          Tenemos un filtro en el reporte para el campo 'city' de la tabla CUSTOMERS
                        </p>

                        <p class="text-sm text-gray-500" i18n="@@indicaciones12"> Consulta sin filtros vinculados
                        </p>
                        <div class="bg-gray-50 p-3 rounded-md text-sm font-mono">
                          <div class="flex items-start">
                            <div class="flex-1">
                              SELECT c.customername FROM CUSTOMERS c<br />
                              WHERE c.customername IN ('Julia', 'John')
                            </div>
                          </div>
                        </div>

                        <p class="text-sm text-gray-500 mt-2" i18n="@@indicaciones13">Consulta con filtros
                          vinculados</p>
                        <div class="bg-gray-50 p-3 rounded-md text-sm font-mono">
                          <div class="flex items-start">
                            <div class="flex-1">
                              SELECT c.customername FROM CUSTOMERS c<br />
                              WHERE c.customername IN ('Julia', 'John')<br />
                              AND c.city = {{'${c.city}'}}
                            </div>
                          </div>
                        </div>
                      </div>

                      <!-- Query with JOIN -->
                      <div>
                        <h4 class="text-sm font-medium mb-2" i18n="@@indicaciones14">
                          Tenemos un filtro en el informe para el campo 'office_id' de la tabla OFFICES
                        </h4>

                        <p class="text-sm text-gray-500" i18n="@@indicaciones15"> Consulta sin filtros vinculados
                        </p>
                        <div class="bg-gray-50 p-3 rounded-md text-sm font-mono">
                          <div class="flex items-start">
                            <div class="flex-1">
                              SELECT e.employee_name FROM EMPLOYEE e<br>
                              INNER JOIN OFFICES o ON o.office_id = e.office_id<br>
                              WHERE e.employee_name IN ('Julia', 'John')
                            </div>
                          </div>
                        </div>

                        <p class="text-sm text-gray-500 mt-2" i18n="@@indicaciones16">Consulta con filtros
                          vinculados</p>
                        <div class="bg-gray-50 p-3 rounded-md text-sm font-mono">
                          <div class="flex items-start">
                            <div class="flex-1">
                              SELECT e.employee_name FROM EMPLOYEE e<br>
                              INNER JOIN OFFICES o ON o.office_id = e.office_id<br>
                              WHERE e.employee_name IN ('Julia', 'John')<br>
                              AND o.office_id = {{'${o.office_id}'}}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </details>
            </div>
          </div>
        </div>
      </div>
      }
      }
    </div>

    <!-- Preview View -->
    @if(indextab == 1){
    <div class="grid grid-cols-5 gap-x-4">
      <div class="col-span-4">
        <div class="rounded-lg border p-4 bg-muted/30 flex justify-center" style="height:60vh;">
          <panel-chart #panelChartComponentPreview [props]="panelChartConfig" [style]="extraStyles">
          </panel-chart>
        </div>
      </div>
      <div class="col-start-5">
        <div class="w-96 space-y-2" [ngClass]="{'w-3/6': graphicType==='crosstable'}">
          <form [formGroup]="chartForm">
            <p-dropdown id="chartSelector" formControlName="chart" optionLabel="label" [style]="{'width':'16.5vw'}"
              [options]="chartTypes" [autoDisplayFirst]="false" [scrollHeight]="'52.5vh'"
              [panelStyle]="{'max-width':'16.5vw'}"
              (onChange)="changeChartTypeCheck(chartForm.value.chart.value, chartForm.value.chart.subValue, getChartStyles(chartForm.value.chart.value))">

              <ng-template pTemplate="selectedItem">
                @if (chartForm.value.chart) {
                <div class="flex items-center">
                  @if (!!chartForm.value.chart.ngIf) {
                  <i class="{{chartForm.value.chart.icon}} text-[#eeac57] items-center"></i>
                  }
                  <span class="material-icons">
                    {{getOptionIcon(chartForm.value.chart.subValue)}}
                  </span>
                  <span class="items-center ml-2">
                    {{chartForm.value.chart.label}}
                  </span>
                </div>
                }
              </ng-template>

              <ng-template let-chart pTemplate="item">
                <div class="flex items-center relative h-6"
                  [attr.title]="chart.tooManyData ? getTooManyDataDescription() : (chart.ngIf) ? getOptionDescription(chart.subValue) : ''">
                  <span class="material-icons"
                    [ngClass]="{'orange-alert': chart.ngIf, 'grey-alert': chart.tooManyData}">
                    {{getOptionIcon(chart.subValue)}}
                  </span>

                  <span class="ml-2" [ngClass]="{'texto-rallado-alert': chart.ngIf  || chart.tooManyData}">
                    {{chart.label}}
                  </span>

                  @if (chart.tooManyData) {
                  <span i18n="@@tooManyValues" class="edaTooManyData">
                    - Demasiados valores
                  </span>
                  }

                  @if (chart.ngIf) {
                  <span i18n="@@notAvaliable" class="edaTooManyData">
                    - No Disponible
                  </span>
                  }
                </div>
              </ng-template>
            </p-dropdown>
          </form>
        </div>
      </div>
    </div>
    @if (dragAndDropAvailable && graphicType==='crosstable') {
    <drag-drop [axes]="axes" (newAxes)="newAxesOrdering($event)"></drag-drop>
    }
    }
  </div>


  <ng-container footer>


    <button class="cancel-button" (click)="closeEditarConsulta()">
      <i class="fa fa-times"></i>
      <span i18n="@@cancelarButton">
        Cancelar
      </span>
    </button>

    <button class="execute-button" [disabled]="disableRunQuery()" (click)="runManualQuery()">
      <i class="fa fa-cogs"></i>
      <span i18n="@@ejecutarBtn">
        Ejecutar
      </span>
    </button>

    <button class="confirm-button" [disabled]="isCrosstableModified() || display_v.btnSave" (click)="savePanel();">
      <i class="fa fa-check"></i>
      <span i18n="@@guardarBtn">
        Confirmar
      </span>
    </button>
  </ng-container>
</eda-dialog2>

<app-column-dialog *ngIf="configController" [controller]="configController"></app-column-dialog>

@if(filterController){
<app-filter-dialog [controller]="filterController" [height]="'10px'"></app-filter-dialog>
}

<app-chart-dialog *ngIf="chartController" [controller]="chartController"></app-chart-dialog>

<app-mapedit-dialog *ngIf="mapController" [controller]="mapController"></app-mapedit-dialog>

<app-mapcoordedit-dialog *ngIf="mapCoordController" [controller]="mapCoordController"></app-mapcoordedit-dialog>

<app-kpi-dialog *ngIf="kpiController" [controller]="kpiController"></app-kpi-dialog>

<app-dynamicText-dialog *ngIf="dynamicTextController" [controller]="dynamicTextController"></app-dynamicText-dialog>

<app-table-dialog *ngIf="tableController" [controller]="tableController"></app-table-dialog>

<app-alert-dialog *ngIf="alertController" [controller]="alertController"></app-alert-dialog>

<app-cumsum-alert-dialog *ngIf="cumsumAlertController" [controller]="cumsumAlertController"></app-cumsum-alert-dialog>

<app-sankey-dialog *ngIf="sankeyController" [controller]="sankeyController"></app-sankey-dialog>

<app-bubblechart-dialog *ngIf="bubblechartController" [controller]="bubblechartController"></app-bubblechart-dialog>

<app-tree-map-dialog *ngIf="treeMapController" [controller]="treeMapController"></app-tree-map-dialog>

<app-tree-table-dialog *ngIf="treeTableController" [controller]="treeTableController"></app-tree-table-dialog>

<app-funnel-dialog *ngIf="funnelController" [controller]="funnelController"></app-funnel-dialog>

<app-scatter-plot-dialog *ngIf="scatterPlotController" [controller]="scatterPlotController"></app-scatter-plot-dialog>

<link-dashboards-dialog *ngIf="linkDashboardController" [controller]="linkDashboardController"></link-dashboards-dialog>

<knob-dialog *ngIf="knobController" [controller]="knobController"> </knob-dialog>

<sunburst-dialog *ngIf="sunburstController" [controller]="sunburstController"> </sunburst-dialog>


@if(contextMenu){
<eda-context-menu (close)="contextMenu.display = false" [inject]="contextMenu"></eda-context-menu>
}

@if(isVisibleEbpChatGpt) {
<app-ebp-chatgpt (close)="closeChatGpt($event)" [dataChatGpt]="dataChatGpt"></app-ebp-chatgpt>
}
@if (display_v.whatIf_dialog) {
<app-whatif-dialog [(currentQuery)]="currentQuery" (close)="onCloseWhatIfDialog()"></app-whatif-dialog>
}

@if (display_v.filterMapperDialog) {
<app-filter-mapper-dialog [dashboard]="dashboard" [panel]="panel"
  (close)="onCloseFilterMapperDialog($event)"></app-filter-mapper-dialog>
}