/* .cdk-drop-list.select-list{display:flex;flex-direction:row;justify-content:flex-start;box-sizing:border-box;font-size:1.4em}
.cdk-drop-list.select-list .select-box{max-width:30%;display:block}
.cdk-drop-list.select-list .select-box .fa-close{color:silver}
.cdk-drop-list.select-list .select-box .fa-close:hover{color:#000}

#queryModelSelector{
  height: 1px;
  z-index: 999999;
}

:host {
    display: block;
} */

:host .chevron-right-icon::after {
    content: '›';
}
:host .drag-handle-icon::after {
    content: '⋮';
}
:host .close-icon::after {
    content: '×';
}

::ng-deep .p-tabview {
    height: 100%;
}

::ng-deep .p-tabview .p-tabview-panels {
    padding: 0;
    height: 100%;
    overflow-y: hidden;
}

::ng-deep .p-tabview-nav-container {
    border-bottom: 1px solid #e5e7eb;
}

::ng-deep .p-tabview-panel {
    height: 100%;
    overflow-y: hidden;
}