<eda-dialog2 [display]="display"
  header="DASHBOARD VISIBILITY" width="50vw" height="35vh"
  [disableApply]="disableApply()"
  (apply)="onApply()"
  (close)="onClose()">

  <div content class="p-6">
    <div class="grid space-y-8">
    <!-- Botones de Selección -->
      <div class="col-12">
        <p-selectButton [options]="visibleTypes" formControlName="visible" (onChange)="handleSelectedBtn($event)" 
          class="bg-gray-100 text-gray-700 rounded-md shadow-sm">
        </p-selectButton>
      </div>
  
      @if (showGroups) {
      <!-- Multiselect de Grupos -->
      <div class="col-12">
        <p-multiSelect formControlName="group" [options]="grups" [filter]="false" optionLabel="name" defaultLabel="Selecciona un grupo *"
          class="w-full bg-gray-100 rounded-md border text-gray-700" appendTo="body" >
        </p-multiSelect>
      </div>
      }
    </div>
  </div>
</eda-dialog2>