

body .preview-chart-box {
    height: 500px;
}

@media (max-width: 1500px) {
    body .preview-chart-box {
        min-height: 450px;
    }
}




@-webkit-keyframes yellow-fade {
    from {
      background: #d3d2d2;
      color:white;
    }
    to {
      background:#ffffff;
      color:#67757c;
    }
  }
  @-moz-keyframes yellow-fade {
    from {
        background:#d3d2d2;
        color:white;
      }
      to {
        background:#ffffff;
        color:#67757c;
      }
  }
  @keyframes yellow-fade {
    from {
        background:#d3d2d2;
        color:white;
      }
      to {
        background:#ffffff;
        color:#67757c;
      }
  }

  .edit-blink {
    -webkit-animation: yellow-fade 1.5s 2 ease-in-out 0s;
    -moz-animation: yellow-fade 1.5s 2 ease-in-out 0s;
    -o-animation: yellow-fade 1.5s 2 ease-in-out 0s;
    animation: yellow-fade 1.5s 2 ease-in-out 0s;
    border-radius: 10%;
    margin: 0.1em;
    border:0;
  }

  #edit:hover{
    background: #e0e0e077;
    border-radius: 10%;
    transition: .3s;
  }

.eda-col-class-numeric {
  font-weight: bold;
}

.eda-col-class-whatif {
  font-weight: bold;
}

.eda-col-class-text {
  font-style: italic;
}
