<div class="login w-100 h-100 bg-full" [ngStyle]="{'background-image': 'url(' + backgroundImage + ')'}">
    <!-- <div style="margin:10px">
        <p-listbox [options]="languages" [(ngModel)]="selectedLanguage" optionLabel="name"
            (onClick)="redirectLocale($event)">

        </p-listbox>
    </div> -->
    <div class="align" >
        <div class="login-card w-100">
            <div class="logo-card">
                <div>
                    <img [src]="logo" alt="logo" />
                    <img *ngIf="subLogo" [src]="subLogo" class="w-100" alt="logo" />
                </div>
            </div>

            <div class="inputs-card">
                <div class="form-card">
                    <form ngNativeValidate #f="ngForm" (ngSubmit)="login( f )">
                        <div class="form-group">
                            <label i18n="@@direccionMail" for="email">Dirección Email</label>
                            <input id='login_mail' pInputText [ngModel]="email" name="email" class="form-control" type="text"
                                i18n-placeholder="@@placeholderInputUsuario" placeholder="Usuario"
                                autocomplete="username" aria-describedby="emailHelp" required />

                            <div class="form-group mt-2">
                                <label i18n="@@passwordLogin" for="password">Contraseña</label>
                                <input pInputText id="password" [ngModel] name="password" class="form-control"
                                    type="password" i18n-placeholder="@@placeholderInputPassword"
                                    placeholder="Contraseña" autocomplete="current-password" required />
                            </div>

                            <div class="form-check">
                                <input [ngModel]="remember" name="remember" id="checkbox-signup" type="checkbox"
                                    class="-in chk-col-light-blufillede" />
                                <label for="checkbox-signup">
                                    <span i18n="@@spanRememberme">Recuérdame</span>
                                </label>
                            </div>
                            <div>
                                <span class="language" (click)="redirectLocale('CAT')">Català &nbsp;</span>
                                <span class="language" (click)="redirectLocale('ES')">Español &nbsp;</span>
                                <span class="language" (click)="redirectLocale('EN')">English &nbsp;</span>
                                <span class="language" (click)="redirectLocale('PL')">Polski &nbsp;</span>
                            </div>
                            <button pButton type="submit" i18n-label="@@signinBtn" label="Ingresar"
                                class="btn btn-primary w-100 mt-3 login-button" style="padding: 3px; "></button>
                        </div>
                    </form>

                    <div class="text-center">
                        <a href="https://eda.jortilles.com/" style="font-size: 12px;" target="_blank">
                            Copyright © 2020 by Jortilles
                        </a>
                         <img src="https://eda.jortilles.com/eda_pxl.png" /> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
