.login-button{
    background-color: var(--blue-700) !important;
    border-color: #c8c8c8 !important;
}
.bg-full {
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}
.align{
    margin-top: 15px;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    place-content: center;
    align-items: center;
}

.login-card {
    max-width: 20rem;
    border-radius: .25rem;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 9px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 9px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 9px 2px rgba(0,0,0,0.75);
}

.inputs-card {
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    padding: 1.5rem;
    padding-top: 0.5rem;
}

.form-card {
    margin-bottom: 16px;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    flex: 1 1 auto;
}

.logo-card {
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    place-content: center;
    align-items: center;
    padding: 1.5rem;
    text-align: center;
}

.language{
    cursor: pointer;
    font-size: small;
}
.language:hover{
    color: blue;
}

.microsoft{
    padding: 0;
    margin: 0;    
    filter: brightness(100%);
}

.microsoft:hover{
    cursor: pointer;
    filter: brightness(97%);
}

.botones-login {
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

