.login {

    .bg-full {
        flex-direction: column;
        box-sizing: border-box;
        display: flex;
        place-content: center;
        align-items: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: center;
        background-position-y: center;
    }

    .login-card {
        max-width: 20rem;
        border-radius: .25rem;
        background-color: #fff;
        -webkit-box-shadow: 0px 0px 9px 2px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 9px 2px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 9px 2px rgba(0,0,0,0.75);
    }

    .inputs-card {
        flex-direction: column;
        box-sizing: border-box;
        display: flex;
        padding: 1.5rem;
        padding-top: 0.5rem;
    }

    .form-card {
        margin-bottom: 16px;
        flex-direction: column;
        box-sizing: border-box;
        display: flex;
        flex: 1 1 auto;
    }

    .logo-card {
        flex-direction: column;
        box-sizing: border-box;
        display: flex;
        place-content: center;
        align-items: center;
        padding: 1.5rem;
        text-align: center;
    }

    .btn {
        background-color: #B5BC31;
        color: #000;
        border: none;
        &:hover{
          background-color: #C7CE43;
          color: #000;
        }
    }
}
