<eda-dialog2
    [display]="display"
    header="Configuración de filtros" 
    i18n-label="@@filterSettings"
    width="70vw" height="86vh"
    (apply)="onApplyFilterAndOrDialog()"
    (close)="oncloseFilterAndOrDialog()"
    >

    <div content>
        <h6 i18n="@@descriptionFilterSettings">Configuración avanzada de los todos los filtros</h6>

        <eda-filter-and-or 
            [(selectedFilters)]="selectedFilters" 
            [(globalFilters)] ="globalFilters" 
            [tables]="tables" 
            [sortedFilters]="sortedFilters" 
            (dashboardChanged)="handleDashboardChanged($event)"
        >
        </eda-filter-and-or>
    </div>

</eda-dialog2>