
  <p-calendar class='eda-filter-multiselect' [locale]="locale" [(ngModel)]="rangeDates" dateFormat="dd.mm.yy" selectionMode="range"
    [readonlyInput]="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="1984:2030"
    [placeholder]="rangePlaceholder" (onClickOutside)="emitChanges()" (onClose)="emitChanges()" (onFocus)="activate()"
    (onSelect)="clearRange()" appendTo="body">
    <!-- [style]="{'width':'10%', 'height':'10%', 'min-width':'0px'}" [inputStyle]="{'width':'100px'}"> -->
    <p-footer>
      <div class="ui-g-10">
        <p-dropdown [options]="ranges" [(ngModel)]="selectedRange" [placeholder]="rangePlaceholder"
          (onChange)="getRange()"></p-dropdown>
      </div>
      <div class="ui-g-2" *ngIf="autoRemove">
        <button type="submit" pButton (click)="remove()" icon="fa fa-trash" class="ui-button-danger"></button>
      </div>
    </p-footer>
  </p-calendar>
