.select-list {
    display: flex;
    flex-direction: row;
    padding: 2px;
    border-radius: 4px;
    min-height: 80px;
    max-height: 200px; /* límite de altura si tienes muchos elementos */
    max-width: 100%; /* asegura que el contenedor no se expanda más allá del ancho disponible */
    background: #1b69822e;
    overflow: auto; /* recorta el contenido y agrega scroll si es necesario */
    word-break: break-word; /* evita que las palabras largas se desborden */
    margin-top: 0.5em;
}