<eda-dialog [inject]="dialog">

    <div class="ui-g">

        <h5 i18n="@@aplyToAllPanelsH5">
            ¿Aplica a todos los paneles?
        </h5>
        <br>

        <p-inputSwitch [disabled]="applyToAllCheck()" [(ngModel)]="switchChecked" class="ui-g-12"> </p-inputSwitch>

        <div *ngIf="!switchChecked" class="ui-g-12">
            <hr>
            <h5 i18n="@@panelsToAplyH5">
                Paneles para los que aplica el filtro:
            </h5>

            <div class="ui-g-5">
                <button *ngFor="let panel of panelsToDisplay" type="button" pButton class="ui-button"
                    [ngClass]="{'ui-button-selected': panel.active, 'ui-button-unselected':!panel.active, 'ui-button-unvaliable':!panel.avaliable}"
                    (click)="addPanelToFilter(panel)" label={{panel.title}}>

                </button>
            </div>

        </div>

        <div class="ui-g-12">
            <hr>
            <h5 i18n="@@filterForH5">
                Filtrar por:
            </h5>
            <br>

            <div class="ui-g">

                <div class="ui-g-4">
                    <p-dropdown [options]="targetTables" [(ngModel)]="targetTable" filter="true" optionLabel="label"
                        [style]="{'width': '100%'}" i18n-placeholder="@@placeholderTables" placeholder="Entidades"
                        (onChange)="getColumnsByTable()" (onChange)=resetSelectedValues()>
                    </p-dropdown>
                </div>

                <div class="ui-g-4">
                    <p-dropdown [options]="targetCols" [(ngModel)]="targetCol" filter="true" optionLabel="label"
                        [style]="{'width': '100%'}" i18n-placeholder="@@placeholderColumns" placeholder="Atributos"
                        (onChange)="loadGlobalFiltersData()" (onChange)=resetSelectedValues()>
                    </p-dropdown>
                </div>

                <div class="ui-g-4">
                    <p-multiSelect class='eda-filter-multiselect'
                        *ngIf=" targetCol && targetCol.value.column_type !== 'date'" [options]="targetValues"
                        [(ngModel)]="selectedValues" [virtualScroll]="true" itemSize="30"
                        [style]="{'vertical-align' : 'bottom', 'margin-left' : '15px', width: '100%' }"
                        [panelStyle]="{minWidth:'15em'}" maxSelectedLabels="1" defaultLabel="Valor por defecto">
                    </p-multiSelect>
                    <p-calendar #myCalendar *ngIf="targetCol && targetCol.value.column_type === 'date'" [(ngModel)]="rangeDates"
                        selectionMode="range" [readonlyInput]="true" (onClose)="handleDates()"
                        placeholder='Selecciona un rango'>
                        <p-footer class="edaFilterFooter">
                            <button class="btn success edaOk" (click)="handleDates();$event.stopPropagation()" id="eda_dashboard_filter_dialog_confirmar">Confirmar </button>
                        </p-footer>

                    </p-calendar>
                </div>

            </div>

        </div>
    </div>



    <p-footer class="footer">
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix text-right">
            <button type="submit" pButton (click)="saveGlobalFilter()" i18n-label="@@guardarBtn" label="Confirmar"
                icon="fa fa-check" class="ui-button ml-2"></button>
            <button type="button" pButton (click)="closeDialog()" class="ui-button-danger ml-2"
                i18n-label="@@cancelarBtn" label="Cancelar"></button>
        </div>
    </p-footer>
</eda-dialog>