<eda-dialog [inject]="dialog">

  <div class="ui-g-12">



    <panel-chart #PanelChartComponent [props]="panelChartConfig">
    </panel-chart>


  </div>


  <div class="ui-g-12">
    <h6 i18n="@@kpiAlertH6" class="custom-border-b1">
      Generar alerta
    </h6>
    <div class="ui-g-3">
      <h6>Valor</h6>
      <p>{{alertInfo}}</p>
      <div class="chart-color-selection">
        <div class="mb-1">
          <input type="number" [(ngModel)]="value" pInputText style="width: 40%" />
        </div>

      </div>
    </div>
    <div class="ui-g-2">
      <h6 i18n="@@kpiGreatSmallEqualH6">
        Operador
      </h6>
      <div class="mb-1">
        <div class="p-field-radiobutton">
          <p-radioButton name="operand" value="<" [(ngModel)]="operand" inputId="operand1"></p-radioButton>
          <label for="operand1">&nbsp; &lt; </label>
        </div>
        <div class="p-field-radiobutton">
          <p-radioButton name="operand" value="=" [(ngModel)]="operand" inputId="operand2"></p-radioButton>
          <label for="operand2">&nbsp; = </label>
        </div>
        <div class="p-field-radiobutton">
          <p-radioButton name="operand" value=">" [(ngModel)]="operand" inputId="operand3"></p-radioButton>
          <label for="operand3">&nbsp; &gt; </label>
        </div>

      </div>
    </div>
    <div class="ui-g-2">
      <h6 i18n="@@colorKpiH6">
        Color
      </h6>
      <div class="chart-color-selection">
        <div class="mb-1">
          <input type="text" [(ngModel)]="color" pInputText style="width: 40%" />
          <p-colorPicker [(ngModel)]="color" appendTo="body"></p-colorPicker>
        </div>
      </div>
    </div>
    <div class="ui-g-4">
      <h6 i18n="@@kpiAlerts">
        Alertas
      </h6>
      <ul>
        <li *ngFor="let item of alerts">
          <i class="fa fa-close" style="color: #c0555e;" (click)="deleteAlert(item)"></i>
              &nbsp;&nbsp; 
              <span class="dot" [ngStyle]="{'background-color':item.color}"></span>
              &nbsp; KPI &nbsp; {{item.operand}} &nbsp; 
              {{ item.value | number : '1.0-2' : 'es'}} &nbsp; 
             
        </li>
      </ul>
    </div>
  </div>
  <div class="ui-g-2">
    <button i18n="@@addAlert" class="btn-sm btn-secondary" i18n-title="@@addAlert" title="Añadir alerta"
      (click)="addAlert()" [disabled]="color === undefined || operand === undefined"> Añadir alerta
    </button>
  </div>
  <p-footer class="footer">
    <div class="ui-dialog-buttonpanel ui-widget-content ui-helper-clearfix text-right">
      <button type="submit" pButton (click)="saveChartConfig()" icon="fa fa-check" class="ui-button ml-2"
        i18n-label="@@guardarButton" label="Confirmar" id="eda_chart_dialog_confirmar">
      </button>
      <button type="button" pButton (click)="closeChartConfig()" icon="fa fa-times" class="ui-button-danger ml-2"
        i18n-label="@@cancelarButton" label="Cancelar">
      </button>
    </div>
  </p-footer>
</eda-dialog>