<eda-dialog2 [display]="display" [header]="title" width="80vw" height="80vh" [overflow]="'auto'"
  (apply)="saveChartConfig()" (close)="closeChartConfig()">

    <div content class="flex flex-col md:flex-row flex-1 overflow-hidden h-full ">
        <!-- Chart Preview -->
        <div
            class="p-6 flex-[2] flex items-center justify-center border-b md:border-b md:border-r bg-slate-50 border border-gray-400">
            <div class="relative w-full h-[60vh] ">
                @if (display) {
                <panel-chart #PanelChartComponent [props]="panelChartConfig" class="h-full w-full block"></panel-chart>
                }
            </div>
        </div>

        <div class="p-6 flex-[1] overflow-y-auto">
            <div class="space-y-6">
                <!-- Colors -->
                <div class="space-y-4">
                    <h1 i18n="@@colorsChartH6" class="font-medium text-slate-500 uppercase">Colors</h1>
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                        <select class="w-100 sm:w-[180px] rounded-md border border-input bg-background px-3 py-2 text-sm mb-6 md:col-span-2"
                            [(ngModel)]="selectedPalette" (ngModelChange)="onPaletteSelected()">
                            <option [ngValue]="null" disabled hidden i18n="@@selectPalette">
                                -- Seleccione una paleta --
                            </option>
                            @for (palette of allPalettes; track $index) {
                            <option [ngValue]="{name: palette.name, paleta:palette.paleta}">{{ palette.name }}</option>
                            }
                        </select>
                    
                        <!-- Bloque Color Inicial -->
                        <div class="flex flex-col gap-2">
                            <span class="font-semibold">Color Inicial</span>
                            <div class="flex items-center justify-between border rounded-lg p-3 hover:bg-slate-50">
                                <div class="flex items-center gap-2">
                                    <span class="text-md text-slate-500 font-mono">{{ initialColor }}</span>
                                    <p-colorPicker [(ngModel)]="initialColor" (onChange)="handleInputColor()" format="hex"
                                        appendTo="body"></p-colorPicker>
                                </div>
                            </div>
                        </div>
                    
                        <!-- Bloque Color Final -->
                        <div class="flex flex-col gap-2">
                            <span class="font-semibold">Color Final</span>
                            <div class="flex items-center justify-between border rounded-lg p-3 hover:bg-slate-50">
                                <div class="flex items-center gap-2">
                                    <span class="text-md text-slate-500 font-mono">{{ finalColor }}</span>
                                    <p-colorPicker [(ngModel)]="finalColor" (onChange)="handleInputColor()" format="hex"
                                        appendTo="body"></p-colorPicker>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>

                <!-- EscalaLogaritmica -->
                <div class="space-y-2">
                    <div class="flex items-center justify-between">
                        <label for="logarithmic-switch" class="block text-sm font-medium">Escala logarítmica</label>
                        <label class="relative inline-flex items-center cursor-pointer">
                            <input type="checkbox" [(ngModel)]="logarithmicScale" class="sr-only peer"
                                (ngModelChange)="renderMap()">
                            <div
                                class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-[#00BFB3]">
                            </div>
                        </label>
                    </div>
                </div>

                <!-- Mouse -->
                <div class="space-y-2">
                    <div class="flex items-center justify-between">
                        <label for="mouse-functions-switch" class="block text-sm font-medium">Activar funciones del
                            ratón</label>
                        <label class="relative inline-flex items-center cursor-pointer">
                            <input type="checkbox" [(ngModel)]="draggable" (onChange)="nullMouseOptions()"
                                class="sr-only peer">
                            <div
                                class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-[#00BFB3]">
                            </div>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</eda-dialog2>