<div class="flex flex-wrap items-center gap-4 mt-2 mb-2 ml-1 w-100 h-fit" style="flex-wrap: wrap!important">
  @if (globalFilters.length > 0 && (isAdmin || isDashboardCreator || filterButtonVisibility.public)) {
    <button
      class="flex items-center gap-2 px-4 py-2 bg-gray-200 text-gray-700  rounded-md border hover:bg-gray-300"
      [style]="styleButton"
      (click)="dashboard.refreshPanels()">
      <i class="pi pi-filter"></i>
      <span i18n="@@filtrarH4">Filtrar</span>
      
    </button>
  }

  @for (filter of globalFilters; track filter.filter_id) {
    @if (isAdmin || isDashboardCreator || ['public', 'readOnly'].includes(filter.visible)) {
      <div class="flex">
        <div class="filter-label flex items-center gap-2"  >
          <span [ngClass]="{'italic': !filter.applyToAll}"
            class="text-sm text-gray-500"       
            [style.color]="styleButton.color"
            [style.font-size]="styleButton.fontSize"
            [style.font-family]="styleButton.fontFamily"
          >{{getFilterLabel(filter)}}: </span>
        </div>
  
        @if (getFilterType(filter)=='date') {
          <eda-date-picker 
            [autoClear]="true"
            [inject]="datePickerConfigs[filter.id]"
            (onRemove)="removeGlobalFilter(filter, true)"
            (onDatesChanges)="processPickerEvent($event, filter)">
  
            <ng-container footer>
              <button         
                id="dashFilterConf"
                type="button"
                (click)="onShowGlobalFilter(false, filter)"
                class="rounded-full border p-2.5 m-2">
                <eda-icon name="settings"></eda-icon>
              </button>
            </ng-container>
          </eda-date-picker>
        } @else {
  
            <p-multiSelect
              [style]="styleButton"
              [options]="filter.data"
              [(ngModel)]="filter.selectedItems"
              [virtualScroll]="true"
              [defaultLabel]="getFilterLabel(filter)"
              [disabled]="disableGlobalFilter(filter)"
              [virtualScrollItemSize]="30"
              [loading]="loading"
              i18n-placeholder="@@Cargando"
              [placeholder]= "placeholderText"
              panelStyleClass="multiselect-auto-width"
              (onChange)="setGlobalFilterItems(filter)"
              >
    
            </p-multiSelect>
        }
      </div>
    }
  }
</div>

@if (globalFilter) {
  <app-global-filter-dialog
    [(globalFilter)]="globalFilter"
    [globalFilterList]="globalFilters"
    [panels]="dashboard.panels"
    [dataSource]="dashboard.dataSource"
    (close)="onGlobalFilter($event)
  "></app-global-filter-dialog>
}
