.filter-label::after {
  content: "\00a0"; /* 1 espacio */
}

/* Input de date picker */
::ng-deep eda-date-picker input {
  height: 40px;
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid #d1d5db;
  box-sizing: border-box;
}

/*****************/
/* FILTROS Y CONTENEDORES */
/*****************/

/* contiene todos los filtros*/
.filters-container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 1rem;
  scrollbar-width: thin;
  scrollbar-color: #cbd5e1 transparent;
}

/* filtro individual */
.filter-card {
  flex: 0 0 auto;
  width: 15vw;
}

/*****************/
/* AUTOCOMPLETE  */
/*****************/

/* Contenedor principal del autocomplete */
.modern-autocomplete ::ng-deep .p-autocomplete-multiple-container {
  display: flex;
  flex-direction: row-reverse; 
  flex-wrap: nowrap;
  gap: 0.25rem;
  padding: 0.4rem 0.6rem;
  border: 1px solid #d1d5db;
  overflow-x: auto;
  scrollbar-width: thin;
  max-height: 4.5vh; 
  width: 10vw;
  box-shadow: none;
  border-radius: 10px;
}

/* chips - los tokens  */
.modern-autocomplete ::ng-deep .p-autocomplete-multiple-container .p-autocomplete-token {
  margin: 0.125rem 0.125rem 0.125rem 0;
  border-radius: 9999px;
  font-size: 0.875rem;
  font-weight: 500;
  padding: 0.25rem 0.5rem;
  display: inline-flex;
  align-items: center;
}

/* Zona Input  */
.modern-autocomplete ::ng-deep .p-autocomplete-input-token {
  order: 999; 
  flex: none;
  font-size: 10px;
  width: auto !important;
  margin-top: 0.15rem;
  border-right: 3px solid black;
  margin-right: auto;
}

/* INPUT PARA ESCRIBIR */
.modern-autocomplete ::ng-deep .p-autocomplete-input-token input {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

/* Scrollbar thmub, cuando pones mouse encima*/
.modern-autocomplete ::ng-deep .p-autocomplete-multiple-container::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
}
