<div class="flex flex-wrap items-center gap-4">
  @if (isAdmin || isDashboardCreator || filterButtonVisibility.public) {
    <button
      class="flex items-center gap-2 px-4 py-2 bg-gray-200 text-gray-700 rounded-md hover:bg-gray-300"
      (click)="dashboard.refreshPanels()">
      <i class="pi pi-filter"></i>
      Filtrar
    </button>
  }

  @for (filter of globalFilters; track filter.filter_id) {
    @if (isAdmin || isDashboardCreator || ['public', 'readOnly'].includes(filter.visible)) {
      <div class="flex items-center gap-2">
        <span class="text-sm text-gray-500">{{getFilterLabel(filter)}}:</span>
      </div>

      @if (getFilterType(filter)=='date') {
        <eda-date-picker 
          [autoClear]="true"
          [inject]="datePickerConfigs[filter.id]"
          (onRemove)="removeGlobalFilter(filter, true)"
          (onDatesChanges)="processPickerEvent($event, filter)">

          <ng-container footer>
            <button id="dashFilterConf"
              type="button"
              (click)="onShowGlobalFilter(false, filter)"
              class="rounded-full border p-2.5 m-2">
              <eda-icon name="settings"></eda-icon>
            </button>
          </ng-container>
        </eda-date-picker>
      } @else {
        <p-multiSelect
          [options]="filter.data"
          [(ngModel)]="filter.selectedItems"
          [virtualScroll]="true"
          [defaultLabel]="getFilterLabel(filter)"
          [disabled]="disableGlobalFilter(filter)"
          [itemSize]="30"
          class="customMultiselect filters-size"
          [style]="{'max-width': '250px', 'min-width':'200px', 'font-family':'var(--eda-filters-font-family)'}"
          (onChange)="setGlobalFilterItems(filter)">

          @if (dashboard.isEditable()) {
            <ng-template pTemplate="footer">
              <button id="dashFilterConf"
                type="button"
                (click)="onShowGlobalFilter(false, filter)"
                class="rounded-full border p-2.5 m-2">
                <eda-icon name="settings"></eda-icon>
              </button>
            </ng-template>
          }
        </p-multiSelect>
      }
    }
  }
</div>

@if (globalFilter) {
  <app-global-filter-dialog
    [(globalFilter)]="globalFilter"
    [globalFilterList]="globalFilters"
    [panels]="dashboard.panels"
    [dataSource]="dashboard.dataSource"
    (close)="onCloseGlobalFilter($event)
  "></app-global-filter-dialog>
}
