.filter-label::after {
  content: "\00a0"; /* 1 espacio */
}

/* Input de date picker */
::ng-deep eda-date-picker input {
  height: 40px;
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid #d1d5db;
  box-sizing: border-box;
}

/*****************/
/* FILTROS Y CONTENEDORES */
/*****************/

.filters-container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 1rem;
  scrollbar-width: thin;
  scrollbar-color: #cbd5e1 transparent;
}

.filters-container::-webkit-scrollbar {
  width: 6px;
}

/* Tarjeta individual */
.filter-card {
  flex: 0 0 auto;
  width: 260px;
}

/*****************/
/* AUTOCOMPLETE  */
/*****************/

/* Contenedor principal del autocomplete */
.modern-autocomplete ::ng-deep .p-autocomplete-multiple-container {
  display: flex;
  flex-direction: column; /* tokens arriba, input abajo */
  flex-wrap: nowrap;
  gap: 0.25rem;
  padding: 0.4rem 0.6rem;
  border: 1px solid #d1d5db;
  border-radius: 0.5rem;
  background-color: white;
}

/*  Tokens  con scroll */
.modern-autocomplete ::ng-deep .p-autocomplete-multiple-container {
  max-height: 5vh; 
}

/* wrapper interno */
.modern-autocomplete ::ng-deep .p-autocomplete-multiple-container {
  display: flex;
  flex-direction: column;
}

.modern-autocomplete ::ng-deep .p-autocomplete-multiple-container .p-autocomplete-token {
  margin: 0.125rem 0.125rem 0.125rem 0;
  border-radius: 9999px;
  font-size: 0.875rem;
  font-weight: 500;
  padding: 0.25rem 0.5rem;
  display: inline-flex;
  align-items: center;
}

/*  tokens  en  contenedor scrollable */
.modern-autocomplete ::ng-deep .p-autocomplete-multiple-container {
  width: 14vw;
  overflow-y: auto;
}

/* Input debajo  */
.modern-autocomplete ::ng-deep .p-autocomplete-input-token {
  order: 999; 
  flex: none;
  width: 100% !important;
  min-width: 0;
  display: block;
  margin-top: 0.15rem;
}

/* Input interno real */
.modern-autocomplete ::ng-deep input.p-autocomplete-input {
  width: 100% !important;
  outline: none;
  background: transparent;
  padding: 0.25rem 0;
  box-sizing: border-box;
  font-size: 0.875rem;
}

/* Scrollbar  */
.modern-autocomplete ::ng-deep .p-autocomplete-multiple-container::-webkit-scrollbar {
  width: 6px;
}

.modern-autocomplete ::ng-deep .p-autocomplete-multiple-container::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 4px;
}
