<div class="relative min-h-screen w-full flex items-center justify-center bg-[#e8f5f5]">
    <!-- Background Image -->
    <!-- <div class="absolute inset-0">
        <img [src]="backgroundImage"
            alt="Background Pattern" class="object-cover w-full h-full">
    </div> -->

    <app-particles-background></app-particles-background>

    <!-- Animated gradient orbs -->
    <div class="absolute inset-0 overflow-hidden">
        <div
            class="absolute -left-[10%] top-[20%] w-[500px] h-[500px] bg-blue-200/30 rounded-full blur-3xl animate-blob">
        </div>
        <div
            class="absolute -right-[10%] top-[10%] w-[400px] h-[400px] bg-purple-200/20 rounded-full blur-3xl animate-blob animation-delay-2000">
        </div>
        <div
            class="absolute left-[20%] -bottom-[10%] w-[600px] h-[600px] bg-cyan-200/20 rounded-full blur-3xl animate-blob animation-delay-4000">
        </div>
    </div>

    <!-- Login Card -->
    <div
        class="relative backdrop-blur-sm bg-white/70 rounded-3xl border border-white/50 shadow-lg p-8 w-[400px] space-y-6">
        <!-- Logo and Title -->
        <div class="mb-6 text-center">
            <div class="flex items-center justify-center mb-2">
                <img [src]="logo" alt="logo" class="max-w-[70px]"/>
                <img *ngIf="subLogo" [src]="subLogo" alt="logo" class="max-w-[275px]"/>
            </div>
        </div>

        <!-- Welcome Text -->
        <div class="mb-6">
            <h2 class="text-2xl font-semibold text-gray-800" i18n="@@loginTitle">Inicio de sesión</h2>
        </div>

        <!-- Login Form -->
        <form [formGroup]="loginForm" (ngSubmit)="onSubmitLogin()" class="space-y-4">
            <div class="space-y-1">
                <label for="email" class="block text-sm text-gray-600" i18n="@@direccionMail">
                    Dirección Email
                </label>
                <input type="text" id="email" formControlName="email"
                    class="w-full px-3 py-2 bg-gray-100 rounded-md focus:outline-none focus:ring-2 focus:ring-[#00bcd4]">
            </div>

            <div class="space-y-1">
                <label for="password" class="block text-sm text-gray-600" i18n="@@password">
                    Contraseña
                </label>
                <input type="password" id="password" formControlName="password"
                    class="w-full px-3 py-2 bg-gray-100 rounded-md focus:outline-none focus:ring-2 focus:ring-[#00bcd4]">
            </div>

            <div class="flex items-center space-x-2">
                <input type="checkbox" id="remember" formControlName="remember"
                    class="rounded border-gray-300 text-blue-500 focus:ring-blue-500/20">
                <label for="remember" class="text-sm text-gray-600" i18n="@@spanRememberme">Recuérdame</label>
            </div>

            <button type="submit"
                class="w-full py-2 text-white rounded-md bg-[#00bcd4] hover:bg-[#00acc1] transition-colors">
                <span i18n="@@signinBtn">Entrar</span>
            </button>

            <!-- <a routerLink="/forgot-password"
                class="block text-center text-sm text-blue-600 pointer hover:text-blue-800 hover:underline transition-colors"
                i18n="@@loginForgotPassword">
                He oblidat la meva contrasenya
            </a> -->
        </form>


        @if (singleSignOnSamlMixOrclAvailable) {
            <button 
                class="w-full py-2 xl:py-1 text-black rounded-md bg-white border-[0.5px] border-[#dadce0] hover:bg-[#E1E9FF] transition-colors focus:outline-none focus:ring-0"
                (click)="loginButtonSSOMixOrcl()"
                >
                <div class="flex items-center">
                    <img 
                        src="assets/images/logos/unizarLogo2.png" 
                        alt="SSO" 
                        class="w-7 h-7 ml-3 xl:ml-1" 
                    />
                    <span class="block text-center w-full mr-6 xl:mr-1 font-medium">
                        Unizar & Orcl
                    </span>
                </div>
            </button>
        }

        @if (singleSignOnSamlAvailable) {
            <button 
                class="w-full py-2 xl:py-1 text-black rounded-md bg-white border-[0.5px] border-[#dadce0] hover:bg-[#E1E9FF] transition-colors focus:outline-none focus:ring-0"
                (click)="loginButtonSSO()"
                >
                <div class="flex items-center">
                    <img 
                        src="assets/images/logos/unizarLogo2.png" 
                        alt="SSO" 
                        class="w-7 h-7 ml-3 xl:ml-1" 
                    />
                    <span class="block text-center w-full mr-6 xl:mr-1 font-medium">
                        Continuar con Unizar
                    </span>
                </div>
            </button>
        }
        
        @if(singleSignOnMicrosoftAvailable) {            
            <div class="container-microsoft">

            <button 
                class="w-full py-[7px] xl:py-[5px] text-black rounded-md bg-white border-[0.5px] border-[#dadce0] hover:bg-[#E1E9FF] transition-colors focus:outline-none focus:ring-0"
                (click)="loginMicrosoft()"
                >
                <div class="flex items-center">
                    <img 
                        src="assets/images/logos/microsoftLogo.png" 
                        alt="SSO" 
                        class="w-6 h-6 ml-3 xl:w-5 xl:h-5 xl:ml-2" 
                    />
                    <span class="block text-center w-full mr-6 xl:mr-1 font-medium">
                        Continuar con Microsoft
                    </span>
                </div>
            </button>


            </div> 
        }

        @if(singleSignOnGoogleAvailable) {
            <div *ngIf="singleSignOnGoogleAvailable" class="container-google">
                <div #googleBtn id="google-btn" style="margin-bottom: 15px; "></div>
            </div>
        }

        <!-- Copyright -->
        <div class="mt-6 text-center text-xs text-gray-500">
            <span i18n="@@loginCopyright">Copyright ©{{currentYear}} Jortilles S.L.</span>
        </div>
    </div>
</div>