
@if(TOO_MANY_DATA){
  <div class="alert alert-warning text-center py-1 mb-1" style="font-size: 12px;">
    @if(TOO_MANY_CROSSTABLE_COLUMNS){
      <span i18n="@@tooManyValuesForCrosstable">Demasiados valores en el eje horizontal. Cambia la configuración de la tabla para que se pueda representar correctamente.</span>
    } @else {
      <span i18n="@@tooManyValuesForChart">Demasiados valores para un gráfico. Se muestran los datos en una tabla.</span>
    }
  </div>
}
<template #chartComponent></template>
@if(NO_DATA){
  <ng-container>
    <div class="d-flex justify-content-center place-self-center">
        <img src="assets/images/nodata.png" style="width: 250px;" alt="no data" />
    </div>
  </ng-container>
}


@if(NO_DATA_ALLOWED){
  <ng-container>
    <div class="d-flex justify-content-center place-self-center">
      <p class="alert alert-danger text-center" style="position: absolute; top: 50%; transform: translateY(-50%); font-size: 12px;">
        <span i18n="@@noDataAllowed" class="ml-2">Este panel no está disponible por falta de permisos</span>
      </p>
    </div>
  </ng-container>
}

@if(NO_FILTER_ALLOWED){
  <ng-container>
    <div class="d-flex justify-content-center place-self-center">
      <p class="alert alert-danger text-center" style="position: absolute; top: 50%; transform: translateY(-50%); font-size: 12px;">
        <span i18n="@@noFilterAllowed" class="ml-2">Este panel no está disponible por falta de permisos en un filtro</span>
      </p>
    </div>
  </ng-container>
}