<eda-dialog [inject]="dialog">

  <div class="ui-g-8">
    <div class="ui-g-8">
      <div class="eda-chart-panel">
        <div style="height: 70%">
          <panel-chart #PanelChartComponent [props]="panelChartConfig">
          </panel-chart>
        </div>
      </div>
    </div>
  </div>

  
  <div class="ui-g-4">

    <h6 i18n="@@colorsChartH6" class="custom-border-b1">
        Colores
    </h6>

    <div class="chart-color-selection">

        <ng-container *ngFor="let label of labels; let i = index">

            <div class="mb-1">
              
                <p-colorPicker [(ngModel)]="colors[i]" (onChange)="handleInputColor(label)" format="hex"
                    appendTo="body">
                </p-colorPicker>

                <input type="text" pInputText class="eda-color-pick" [(ngModel)]="colors[i]"
                    (input)="handleInputColor(label)" minlength="7">

            </div>
            
        </ng-container>

    </div>

</div>

  


<p-footer class="footer">
  <div class="ui-dialog-buttonpanel ui-widget-content ui-helper-clearfix text-right">
    <button type="submit" pButton (click)="saveChartConfig()" icon="fa fa-check" class="ui-button ml-2"
      i18n-label="@@guardarButton" label="Confirmar" id="eda_chart_dialog_confirmar">
    </button>
    <button type="button" pButton (click)="closeChartConfig()" icon="fa fa-times" class="ui-button-danger ml-2"
      i18n-label="@@cancelarButton" label="Cancelar">
    </button>
  </div>
</p-footer>

</eda-dialog>