<eda-dialog [inject]="dialog">
  <div body class="flex flex-col md:flex-row flex-1 overflow-hidden h-full">
    <!-- Chart Preview -->
    <div class="p-6 flex-[2] flex items-center justify-center border-b md:border-b-0 md:border-r bg-slate-50">
      <div class="relative w-full h-full">
        @if (display) {
          <panel-chart #PanelChartComponent
            [props]="panelChartConfig"
            class="h-full w-full block"
          ></panel-chart>
        }
      </div>
    </div>
    <!-- Colors -->
    <div class="p-6 flex-1 overflow-y-auto">
      <div class="space-y-6">
        <div class="space-y-4">
          <h6 i18n="@@ChangeDefaultsColors" class="mb-1">Color del los gráficos:</h6>
          <select class="w-100 sm:w-[180px] rounded-md border border-input bg-background px-3 py-2 text-sm mb-6"
            [(ngModel)]="selectedPalette" (ngModelChange)="onPaletteSelected()">
            <option [ngValue]="null" disabled hidden>
              -- Seleccione una paleta --
            </option>
            @for (palette of allPalettes; track $index) {
            <option [ngValue]="{name: palette.name, paleta:palette.paleta}">{{ palette.name }}</option>
            }
          </select>
          <h3 i18n="@@colorsChartH6" class="font-medium text-slate-500 uppercase tracking-wider">Colors</h3>

          <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            @for (item of labels; track item; let idx = $index, e = $even) {
            <div class="flex items-center justify-between border rounded-lg p-3 hover:bg-slate-50">
              <span class="font-medium">{{ item }}</span>
              <div class="flex items-center gap-2">
              <input [(ngModel)]="colors[idx]" (input)="handleInputColor()" class="text-md text-slate-500 font-mono w-[3.5vw]">
              <p-colorPicker [(ngModel)]="colors[idx]" (onChange)="handleInputColor()" format="hex" appendTo="body" />
              </div>
            </div>
            }
          </div>
        </div>
      </div>
    </div>
  </div>

  <div footer>
    <div class="flex justify-end p-2 border-t gap-1.5">
      <button  class="cancel-button" (click)="closeChartConfig()">
        <i class="fa fa-times"></i>
        <span i18n-label="@@cancelarBtn">Cancelar</span>
      </button>
      <button class="confirm-button" (click)="saveChartConfig()">
        <i class="fa fa-check"></i> <span>Confirmar</span>
      </button>
    </div>
  </div>
</eda-dialog>