<eda-dialog [inject]="dialog">

  <div body class="flex flex-col md:flex-row flex-1 overflow-hidden h-full">
    <!-- Chart Preview -->
    <div class="p-6 flex-[2] flex items-center justify-center border-b md:border-b-0 md:border-r bg-slate-50">
      <div class="relative w-full h-full">
        @if (display) {
          <panel-chart #PanelChartComponent
            [props]="panelChartConfig"
            class="h-full w-full block"
          ></panel-chart>
        }
      </div>
    </div>

    <div class="p-6 flex-[1] overflow-y-auto">
      <div class="space-y-6">
        <!-- Colors -->
        <div class="space-y-4">
          <h3 i18n="@@colorsChartH6" class="font-medium text-slate-500 uppercase">Colores</h3>
          
          <select class="w-100 sm:w-[180px] rounded-md border border-input bg-background px-3 py-2 text-sm mb-6"
            [(ngModel)]="selectedPalette" (ngModelChange)="onPaletteSelected()">
            <option [ngValue]="null" disabled hidden i18n="@@selectPalette">
              -- Seleccione una paleta --
            </option>
            @for (palette of allPalettes; track $index) {
            <option [ngValue]="{name: palette.name, paleta:palette.paleta}">{{ palette.name }}</option>
            }
          </select>
          <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <div class="flex items-center justify-between border rounded-lg p-3 hover:bg-slate-50">
              <div class="flex items-center gap-2">
                <input [(ngModel)]="color" (input)="handleInputColor()" class="text-md text-slate-500 font-mono">  
                <p-colorPicker [(ngModel)]="color" (onChange)="handleInputColor()" format="hex" appendTo="body"/>
              </div>
            </div>
          </div>
        </div>

        <!-- EscalaLogaritmica -->
        <div class="space-y-2">
          <div class="flex items-center justify-between">
            <label for="logarithmic-switch" class="block text-sm font-medium">Escala logarítmica</label>
            <label class="relative inline-flex items-center cursor-pointer">
              <input type="checkbox" [(ngModel)]="logarithmicScale" class="sr-only peer" (ngModelChange)="renderMap()">
              <div class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-[#00BFB3]"></div>
            </label>
          </div>
        </div>

        <!-- Mouse -->
        <div class="space-y-2">
          <div class="flex items-center justify-between">
            <label for="mouse-functions-switch" class="block text-sm font-medium">Activar funciones del ratón</label>
            <label class="relative inline-flex items-center cursor-pointer">
              <input type="checkbox" [(ngModel)]="draggable" (onChange)="nullMouseOptions()" class="sr-only peer">
              <div class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-[#00BFB3]"></div>
            </label>
          </div>
        </div>

        <!-- BaseLayer Active --> 

        <div class="space-y-2">
          <div class="flex items-center justify-between">
            <label i18n="@@noBaseLayerH6"  class="block text-sm font-medium">Activar capa base</label>
            <label class="relative inline-flex items-center cursor-pointer">
              <input type="checkbox" [(ngModel)]="baseLayer" (ngModelChange)="modifyBaseLayer()" class="sr-only peer">
              <div
                class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-[#00BFB3]">
              </div>
            </label>
          </div>
        </div>

        <!-- LegendPosition -->
        <div class="space-y-4">
          <label class="block text-sm font-medium">Posición de la leyenda</label>
          <div class="grid grid-cols-2 gap-2">
            <div class="flex items-center space-x-2 border rounded-md p-2">
              <input 
                type="radio" 
                id="topleft" 
                name="legendPosition" 
                (input)="changeLegend('topleft')" 
                [checked]="this.legendPosition === 'topleft' "
                class="h-4 w-4 text-[#00BFB3]"
              />
              <label for="topleft" class="text-sm">Superior izquierda</label>
            </div>
            <div class="flex items-center space-x-2 border rounded-md p-2">
              <input 
                type="radio" 
                id="topright" 
                name="legendPosition" 
                (input)="changeLegend('topright')" 
                [checked]="this.legendPosition === 'topright' "
                class="h-4 w-4 text-[#00BFB3]"
              />
              <label for="topright" class="text-sm">Superior derecha</label>
            </div>
            <div class="flex items-center space-x-2 border rounded-md p-2">
              <input 
                type="radio" 
                id="bottomleft" 
                name="legendPosition" 
                (input)="changeLegend('bottomleft')" 
                [checked]="this.legendPosition === 'bottomleft' "
                class="h-4 w-4 text-[#00BFB3]"
              />
              <label for="bottomleft" class="text-sm">Inferior izquierda</label>
            </div>
            <div class="flex items-center space-x-2 border rounded-md p-2">
              <input 
                type="radio" 
                id="bottomright" 
                name="legendPosition" 
                (input)="changeLegend('bottomright')" 
                [checked]="this.legendPosition === 'bottomright' "
                class="h-4 w-4 text-[#00BFB3]"
              />
              <label for="bottomright" class="text-sm">Inferior derecha</label>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div footer>
    <div class="flex justify-end p-2 border-t gap-1.5">
      <button  class="cancel-button" (click)="closeChartConfig()">
        <i class="fa fa-times"></i>
        <span i18n-label="@@cancelarBtn">Cancelar</span>
      </button>
      <button class="confirm-button" (click)="saveChartConfig()">
        <i class="fa fa-check"></i> <span>Confirmar</span>
      </button>
    </div>
  </div>
</eda-dialog>

  